:root {
  --CL-1: #0a0a0a;
  --CL-0: #ffffff;
  --CL-SHADE: rgba(0, 0, 0, 0.239);
  --CL-SHADE-DARKER: rgba(0, 0, 0, 0.431);
  --CL-SHADE-DARKEST: rgba(0, 0, 0, 0.671);
  --CL-TINT: rgba(255, 255, 255, 0.5);
  --CL-A1: #a4b0b8;
  --CL-A2: #252d31;
  --CL-A3: #39434d;
  --CL-G1: #efefef;
  --CL-G2: #b6b6b6;
  --CL-G3: #979797;
  --CL-G4: #757575;
  --CL-G5: #5f5f5f;
  --CL-G6: #444444;
  --CL-G7: #292929;
  --TR-S: 0.19s cubic-bezier(.1, .2, .3, 1);
  --TR-M: 0.38s cubic-bezier(.1, .2, .3, 1);
  --TR-L: .7s cubic-bezier(.2, .3, .4, 1);
  --PAD-S: 2rem;
  --PAD-M: 3rem;
  --PAD-L: 5rem;
  --BDR: 4px;
  --SHADOW: 2px 2px 3px -1px var(--CL-SHADE);
}

*:focus,
*:focus-within {
  outline-color: var(--CL-A1) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--CL-1);
  text-align: left;
}

svg {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 1080px;
  overflow: hidden;
}

[data-icon] {
  margin-right: var(--PAD-M);
  width: 8rem;
  will-change: transform;
}

body,
html {
  opacity: 1;
  background-color: var(--CL-0);
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  background-color: var(--CL-G1);
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background-color: var(--CL-G3);
}

body {
  position: relative;
  display: grid;
  min-height: 100vh;
  overflow-x: hidden;
}

.section {
  --spacing: 3rem;
  --hero-height: calc(64vh - var(--spacing));
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  min-height: var(--hero-height);
  margin-bottom: calc(var(--spacing) * .5);
  padding-top: calc(var(--spacing) * .5);
  transition: var(--TR-M);
  padding: var(--PAD-M);
}

.section * {
  z-index: 1;
}

.section__body {
  width: 100%;
  max-width: 1080px;
}

.section.fullwidth {
  padding: 0;
}

.hero {
  flex-flow: row nowrap;
  min-height: 50rem;
}

.hero .hero-text {
  position: relative;
  display: flex;
  align-content: start;
  flex-flow: row wrap;
  flex-basis: 1fr;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: var(--CL-G1);
  border-radius: 0 0 5px 0;
  padding: var(--PAD-M);
  padding-top: 12vw;
}

.hero .hero-text > :last-child {
  margin-bottom: var(--PAD-L);
}

.hero .hero-text * {
  color: var(--CL-0);
}

.hero .hero-text .tagline {
  min-width: 15rem;
}

.hero .hero-aside {
  flex-shrink: 1;
  padding: var(--PAD-M) var(--PAD-L);
  width: 100%;
  min-width: 20rem;
  min-height: 44rem;
  height: 100vh;
  justify-self: flex-end;
  display: grid;
  grid-gap: var(--PAD-L);
  align-content: end;
  align-items: end;
  background: var(--CL-0);
  padding-top: calc(3 * 9vw);
}

.hero .hero-aside li {
  position: relative;
}

.hero .hero-aside li .li__text {
  z-index: 2;
  max-width: 30rem;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/Metropolis-Regular.woff2") format("woff2"), url("/fonts/Metropolis-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/Metropolis-SemiBold.woff2") format("woff2"), url("/fonts/Metropolis-SemiBold.woff") format("woff");
  font-weight: 700;
}

:root {
  --FF-1: 'Metropolis', 'Helvetica', 'Arial', sans-serif;
  --FS-XS: .7rem;
  --FS-S: 1rem;
  --FS-M: 1.4rem;
  --FS-L: calc(2rem + 2vw);
}

body,
html {
  font-family: var(--FF-1);
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.4;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
p {
  transform: translateX(-0.1em);
  margin-bottom: .2em;
}

h2,
h3,
h4 {
  font-family: var(--FF-1);
  font-weight: 700;
}

h1 {
  margin-top: .2em;
  font-family: var(--FF-1);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -.02em;
  font-size: var(--FS-L);
  color: var(--CL-1);
  width: 100%;
}

h2 {
  font-size: var(--FS-M);
  color: var(--CL-G4);
  line-height: 1.3;
  margin-bottom: 0;
}

h3 {
  color: var(--CL-1);
  font-family: var(--FF-1);
  font-weight: 700;
  letter-spacing: -.01em;
  font-size: 1.4rem;
  line-height: 1.5;
}

h4 {
  font-size: var(--FS-S);
  color: var(--CL-G2);
}

a {
  color: var(--CL-A3);
  position: relative;
  font-family: var(--FF-1);
  font-weight: 700;
  text-decoration: none;
  transition: var(--TR-S);
}

a:hover, a:focus {
  color: var(--CL-A1);
}

a:visited {
  color: var(--CL-A1);
}

a:visited:hover, a:visited:focus {
  color: var(--CL-A3);
}

p {
  font-family: var(--FF-1);
  letter-spacing: 0;
  line-height: 1.6;
  color: var(--CL-G5);
}

p br {
  display: block;
  content: '';
  height: var(--PAD-S);
}

p a {
  color: var(--CL-A3);
  text-decoration: underline;
}

p + ul,
p + ol {
  margin: var(--PAD-S) 0;
  margin-left: var(--PAD-S);
  color: var(--CL-G5);
}

p + ul li,
p + ol li {
  margin: .5em 0;
  list-style-type: disc;
  color: inherit;
}

p + ul li a,
p + ol li a {
  color: var(--CL-A3);
  text-decoration: underline;
}

blockquote {
  margin: var(--PAD-M) 0;
  padding-left: var(--PAD-S);
  box-shadow: inset 5px 0 0 0 var(--CL-A3);
  font-style: italic;
}

strong,
.strong {
  font-size: 1.05em;
  font-family: var(--FF-1);
  font-weight: 700;
}

@media screen and (max-width: 60em) {
  h1 {
    font-size: 2.4rem;
    margin-bottom: .4em;
  }
  h2 {
    line-height: 1.4;
    font-size: 1.2rem;
  }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  p a {
    color: var(--CL-A3);
  }
}

nav {
  --logo-height: 2.5rem;
  --logo-width: 2.5rem;
  overflow-x: hidden;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 15px var(--PAD-M);
  color: var(--CL-G4);
  transition: var(--TR-M);
}

nav .logo {
  position: relative;
  width: var(--logo-width);
  height: var(--logo-height);
  margin-right: auto;
  margin-left: -5px;
  transition: var(--TR-S) 0.3s;
}

nav .logo svg {
  position: absolute;
  top: 0;
  left: 0;
}

nav .logo .logo-icon {
  transition: var(--TR-L);
  clip-path: ellipse(0% 0% at 100% 100%);
}

nav .logo .logo-squiggle path,
nav .logo .logo-icon path {
  transition: var(--TR-S);
  color: var(--CL-A2);
}

nav .logo:hover .logo-icon, nav .logo:focus .logo-icon {
  clip-path: ellipse(130% 130% at 50% 50%);
  transition: var(--TR-L) 0.1s;
}

nav .logo:hover .logo-squiggle path,
nav .logo:hover .logo-icon path, nav .logo:focus .logo-squiggle path,
nav .logo:focus .logo-icon path {
  fill: var(--CL-1);
}

nav .nav-items-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: flex-end;
  justify-content: flex-end;
  transition: var(--TR-S) 0.3s;
}

nav .nav-item {
  position: relative;
  margin-left: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  color: var(--CL-A1);
  transition: opacity var(--TR-S) 0.3s, transform var(--TR-S), color var(--TR-M), margin var(--TR-S) 0.3s;
}

nav .nav-item:hover, nav .nav-item:focus, nav .nav-item.active {
  color: var(--CL-A3);
}

nav.compact {
  background-color: transparent;
}

nav.compact .nav-items-container {
  transform: translateX(100%);
}

nav.compact .nav-item {
  opacity: 0;
  margin-left: 0;
  transform: scale(0.6);
  cursor: default;
  transition: opacity var(--TR-S) 0.3s, transform var(--TR-S) 0.3s, color var(--TR-S), margin var(--TR-S) 0.3s;
}

nav.compact #hamburger {
  transition-delay: 0s;
  opacity: 1;
  transform: translateX(-100%);
}

#nav-toggle {
  position: fixed;
  top: -99vw;
  left: 99vw;
  width: 1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  opacity: .01;
}

#nav-toggle:checked ~ nav.compact .nav-items-container,
#nav-toggle .nav-items-container:focus,
#nav-toggle nav:focus-within {
  transition-delay: 0s;
  transform: translateX(0);
}

#nav-toggle:checked ~ nav.compact .nav-items-container .nav-item,
#nav-toggle .nav-items-container:focus .nav-item,
#nav-toggle nav:focus-within .nav-item {
  opacity: 1;
  margin-left: 2rem;
  transform: scale(1);
  cursor: pointer;
  transition: all var(--TR-S) 0s;
}

#nav-toggle:checked ~ nav.compact #hamburger {
  transform: translateX(50%);
}

#nav-toggle:checked ~ nav.compact #hamburger::before, #nav-toggle:checked ~ nav.compact #hamburger::after {
  top: 50%;
  background: var(--CL-A3);
  transition-delay: .3s;
  transform: rotate(73deg);
}

#nav-toggle:checked ~ nav.compact {
  background: var(--CL-0);
}

#hamburger {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  opacity: 0;
  transition: var(--TR-S) 0.3s;
}

#hamburger::before, #hamburger::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  transform: translateY(-50%);
  top: calc(50% - 7px);
  background: var(--CL-A3);
  transition: var(--TR-S);
  backface-visibility: hidden;
  will-change: transform;
  transform: translate3d(0, 0, 0) perspective(1px);
}

#hamburger::after {
  top: calc(50% + 7px);
}

.sub-nav {
  position: relative;
  display: flex;
  z-index: 1;
  padding-left: var(--PAD-M);
  background-color: var(--CL-0);
}

.sub-nav__item {
  font-size: 1.4rem;
  color: var(--CL-A2);
  line-height: 1;
  font-weight: 700;
  margin-right: var(--PAD-L);
  padding: 1.5rem 0 1rem 0;
  opacity: .5;
}

.sub-nav__item.active {
  background-color: var(--CL-0);
  box-shadow: inset 0 5px 0 0 var(--CL-A1);
  color: var(--CL-A2);
  opacity: 1;
}

.sub-nav__item.active:hover {
  color: var(--CL-1);
}

.sub-nav__item:hover {
  opacity: 1;
}

#up-down {
  all: unset;
  position: fixed;
  z-index: 9;
  width: 2.1rem;
  height: 2.1rem;
  bottom: var(--PAD-S);
  right: var(--PAD-M);
  pointer-events: none;
}

#up-down svg polyline {
  color: var(--CL-G2);
  transition: var(--TR-S);
  backface-visibility: hidden;
  transform-origin: center;
  opacity: 0;
}

#up-down.up {
  cursor: pointer;
  pointer-events: all;
}

#up-down.up svg polyline {
  opacity: 1;
}

#up-down:hover svg polyline {
  color: var(--CL-G5);
}

.footer-nav {
  display: block;
  margin: 0;
  margin-bottom: .2rem;
}

.footer-nav a {
  margin: 0 0 0 1rem;
  font-weight: 700;
}

@supports (-ms-ime-align: auto) {
  nav .logo .logo-icon {
    display: none;
  }
  nav.compact {
    background-color: transparent;
  }
  nav.compact .nav-items-container {
    transform: translateX(0);
  }
  nav.compact .nav-item {
    opacity: 1;
    margin-left: var(--PAD-S);
    transform: scale(1);
    cursor: pointer;
    transition: all var(--TR-S);
  }
  nav.compact #hamburger {
    display: none;
  }
  #up-down {
    display: none;
  }
}

@media screen and (max-width: 60em) {
  nav {
    padding: 14px var(--PAD-M) 9px var(--PAD-M);
    background-color: var(--CL-0);
  }
  nav .logo {
    transform: translateX(-150%) scale(0.6);
    margin-left: calc(var(--logo-width) * -2);
    opacity: 0;
    height: 2.4rem;
  }
  nav.compact {
    background: var(--CL-0);
  }
  nav.compact .logo {
    width: var(--logo-width);
    transform: translateX(-6px);
    margin-left: 0;
    opacity: 1;
  }
  .nav-items-container {
    padding-bottom: 3px;
  }
  .nav-items-container .nav-item {
    margin-left: 5vw;
  }
  .logo {
    transform: translateX(-150%) scale(0.6);
    margin-left: calc(var(--logo-width) * -2);
    opacity: 0;
    transition-delay: 0s;
  }
  .logo .logo-icon {
    display: none;
  }
  .sub-nav {
    margin-top: 30vh;
    flex-flow: column nowrap;
    padding: 0 0 var(--PAD-M) 0;
  }
  .sub-nav__item {
    margin: var(--PAD-M) 0 0 0;
    padding: 0 var(--PAD-M);
    color: var(--CL-1);
  }
  .sub-nav__item.active {
    box-shadow: inset 0 1px 0 0 var(--CL-0), inset 0 -1px 0 0 var(--CL-0), inset 4px 0 0 0 var(--CL-A3);
  }
  #nav-toggle:checked ~ nav.compact .logo {
    transform: translateX(-150%) scale(0.5);
    opacity: 0;
    transition-delay: 0s;
  }
  #up-down {
    display: none;
  }
  .footer-nav {
    margin: 0 auto;
  }
  .footer-nav a {
    margin: 0 .5rem;
  }
}

button,
input[type=submit] {
  -webkit-appearance: none;
  background-image: none;
  background-color: transparent;
  color: var(--CL-G2);
  border: calc(var(--BDR) - 1px) solid var(--CL-G2);
  margin: .4rem 12px 12px 0;
  padding: .8rem 1rem;
  font-size: var(--FS-S);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: var(--TR-M);
}

button:hover, button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  color: var(--CL-G5);
  border-color: var(--CL-G1);
  background-color: var(--CL-G1);
}

@media screen and (max-width: 60em) {
  .focal button,
  .focal input[type=submit] {
    background-color: var(--CL-A3);
    color: var(--CL-A2);
  }
}

.post-nav {
  padding-top: var(--PAD-M);
  margin-top: 0;
  min-height: 30vh;
  overflow: hidden;
}

.post-nav #previous-post,
.post-nav #next-post {
  width: 50%;
  min-height: 12rem;
  display: flex;
  align-items: center;
}

.post-nav #previous-post .link-title,
.post-nav #next-post .link-title {
  position: relative;
  text-align: left;
  color: var(--CL-A1);
  font-weight: 700;
  font-size: var(--FS-M);
  transform: translateX(-1rem);
  margin-left: 1rem;
  transition: var(--TR-M) 0.1s;
}

.post-nav #previous-post .link-title .label,
.post-nav #next-post .link-title .label {
  text-align: inherit;
  display: block;
  font-size: 1em;
  font-weight: 700;
  color: var(--CL-G2);
}

.post-nav #previous-post .link-title svg,
.post-nav #next-post .link-title svg {
  position: absolute;
  width: 2.1rem;
  height: 2.1rem;
  top: 50%;
  left: -2.8rem;
  opacity: 0;
  transform: translateX(calc(var(--PAD-M) * -1)) translateY(-50%) scale(0.84);
  transition: var(--TR-M);
}

.post-nav #previous-post .link-title svg polyline,
.post-nav #next-post .link-title svg polyline {
  stroke: var(--CL-A1);
}

.post-nav #previous-post:hover,
.post-nav #next-post:hover {
  color: var(--CL-A3);
}

.post-nav #previous-post:hover .link-title,
.post-nav #previous-post:hover .link-title svg,
.post-nav #next-post:hover .link-title,
.post-nav #next-post:hover .link-title svg {
  color: var(--CL-A3);
  opacity: 1;
  transform: translateX(0) scale(1);
}

.post-nav #previous-post:hover .link-title svg,
.post-nav #next-post:hover .link-title svg {
  transform: translateX(0) translateY(-50%) scale(1);
}

.post-nav #next-post {
  margin-left: auto;
  justify-content: flex-end;
}

.post-nav #next-post .link-title {
  text-align: right;
  transform: translateX(1rem);
  margin: 0;
  margin-right: 1rem;
}

.post-nav #next-post .link-title svg {
  left: auto;
  right: -2.8rem;
  transform: translateX(var(--PAD-M)) translateY(-50%) scale(0.84);
}

.post {
  margin-bottom: var(--PAD-L);
}

.post .content {
  margin: var(--PAD-L) 0;
  display: flex;
}

.post .meta {
  flex-shrink: 1;
  min-width: 25vw;
  max-width: 25vw;
  margin-right: calc(var(--PAD-L) + 5vw);
  margin-bottom: var(--PAD-M);
}

.post .tags {
  margin: .5rem 0;
}

.post.partial {
  margin-left: calc(var(--PAD-M) * -1);
  margin-right: calc(var(--PAD-M) * -1);
  margin-bottom: var(--PAD-S);
  transition: var(--TR-S);
  padding: 0 var(--PAD-M);
}

.post.partial:hover, .post.partial:focus-within {
  box-shadow: inset 5px 0 0 0 var(--CL-A2);
}

.post.partial .read-more {
  font-size: 1.2rem;
  line-height: 2;
}

.post.partial li {
  list-style-type: disc;
  margin-left: var(--PAD-S);
  font-size: 1.2rem;
  color: var(--CL-G5);
}

.post.partial .body::first-letter {
  all: unset;
  color: inherit;
}

.post.partial .tags {
  margin: 0 0 .5rem 0;
}

.post.partial .link,
.post.partial .link .title {
  color: var(--CL-G7);
  transition: .1s ease;
}

.post.partial .link:hover, .post.partial .link:focus,
.post.partial .link:hover *,
.post.partial .link:focus *,
.post.partial .link .title:hover,
.post.partial .link .title:focus,
.post.partial .link .title:hover *,
.post.partial .link .title:focus * {
  color: var(--CL-A1);
}

.post .body {
  font-size: 1.2rem;
  max-width: 50rem;
  text-align: left;
  line-height: 1.6;
  color: var(--CL-G5);
}

.post .body::first-letter {
  font-size: 135%;
  font-weight: 900;
  font-family: var(--FF-1);
  float: left;
  line-height: .6;
  color: var(--CL-0);
  padding: .7em .65em .65em .7em;
  margin: .18em .3em .1em 0;
  background-color: var(--CL-A2);
  clip-path: url(/images/svg/wavy-mask.svg);
}

.post .body pre {
  padding: var(--PAD-S);
  margin: var(--PAD-M) 0;
  border: var(--BDR) solid var(--CL-G1);
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.4;
}

.post .body h2 {
  margin: var(--PAD-S) 0;
  color: var(--CL-G7);
}

.post .body h4 {
  font-size: var(--FS-M);
  margin: var(--PAD-L) 0 0 0;
}

.post .body br {
  display: block;
  content: '';
  height: 1em;
}

.post .body em,
.post .body ul,
.post .body ol,
.post .body li {
  color: inherit;
}

.post .body p,
.post .body ul {
  margin: var(--PAD-S) 0;
}

.post .body li {
  margin-left: var(--PAD-S);
  list-style-type: disc;
}

.post .body img {
  object-fit: contain;
  height: auto;
}

.post .body div.separator {
  margin: var(--PAD-L) 0;
}

.post .body .post-cta {
  display: block;
  padding-left: var(--PAD-S);
  box-shadow: inset 5px 0 0 0 var(--CL-A3);
  color: inherit;
}

@media screen and (max-width: 60em) {
  .post-nav {
    flex-flow: row wrap;
  }
  .post-nav #next-post,
  .post-nav #previous-post {
    width: 100%;
    margin-top: var(--PAD-M);
    margin-bottom: var(--PAD-M);
  }
  .post-nav #next-post:hover .link-title svg,
  .post-nav #next-post:focus .link-title svg,
  .post-nav #previous-post:hover .link-title svg,
  .post-nav #previous-post:focus .link-title svg {
    opacity: 0;
  }
  .post-nav #next-post .link-title,
  .post-nav #previous-post .link-title {
    margin: 0;
    transform: translate(0, 0);
    color: var(--CL-A3);
  }
  .post-nav #next-post {
    order: -1;
  }
  .post .content {
    flex-flow: row wrap;
  }
  .post code[class*="language-"],
  .post pre[class*="language-"] {
    font-size: .8em;
    word-break: break-all;
  }
  .post.partial, .post.partial:hover, .post.partial:focus {
    margin: 0 0 var(--PAD-L) 0;
    padding: 0;
    box-shadow: none;
  }
  .post .meta {
    max-width: 100%;
  }
}

.grid {
  --item-width: 480px;
  --item-height: 480px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--item-width), 1fr));
  grid-auto-rows: var(--item-height);
  grid-gap: var(--PAD-S);
  height: auto;
}

.grid .item {
  position: relative;
}

.grid .item > a {
  position: absolute;
  transition: var(--TR-L);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid .item > a [data-image],
.grid .item > a [data-image] img {
  position: relative;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: var(--TR-M);
  transform: translate3d(0, 0, 0);
}

.grid .item > a [data-meta] {
  --text-color: var(--CL-1);
  --opacity: 0;
  position: absolute;
  display: grid;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: var(--PAD-M);
  opacity: var(--opacity);
  transition: var(--TR-M);
}

.grid .item > a [data-labels],
.grid .item > a [data-byline],
.grid .item > a [data-title] {
  transition: var(--TR-L);
  opacity: var(--opacity);
  transition-delay: .3s;
  max-width: 30rem;
}

.grid .item > a [data-title] {
  color: var(--CL-G5);
  transition-delay: .1s;
}

.grid .item > a [data-labels] {
  transition-delay: .2s;
  color: var(--CL-G3);
}

.grid .item > a:hover, .grid .item > a:focus, .grid .item > a:focus-within {
  background: var(--CL-G1);
}

.grid .item > a:hover img, .grid .item > a:focus img, .grid .item > a:focus-within img {
  transform: scale(0.97) translate3d(0, 0, 0);
  opacity: 0;
}

.grid .item > a:hover [data-meta], .grid .item > a:focus [data-meta], .grid .item > a:focus-within [data-meta] {
  --opacity: 1;
  transition: var(--TR-L);
}

.grid .item > a:hover *, .grid .item > a:focus *, .grid .item > a:focus-within * {
  outline: none !important;
}

@media screen and (max-width: 60em) {
  .grid {
    display: block;
  }
  .grid .item > a {
    position: relative;
    align-items: flex-start;
    align-content: flex-start;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    overflow: visible;
    margin-bottom: calc(var(--PAD-L) * 2);
  }
  .grid .item > a:hover, .grid .item > a:focus, .grid .item > a:focus-within {
    border: none;
    background: transparent;
  }
  .grid .item > a [data-image],
  .grid .item > a [data-image] > img {
    opacity: 1 !important;
    max-height: none;
    height: auto;
    background: none;
  }
  .grid .item > a [data-meta] {
    --opacity: 1;
    position: relative;
    padding: 0;
    height: auto;
  }
}

body:not(.loaded) {
  opacity: 0;
  transition: var(--TR-S);
}

body:not(.loaded) .section {
  opacity: 0;
}

body.loaded {
  opacity: 1;
  transition: var(--TR-S);
}

body.loaded .section {
  opacity: 1;
  transform: translate(0, 0);
  transition: var(--TR-M);
}

[data-scroll=in] {
  opacity: 1;
  transform: translateY(0);
  transition: var(--TR-L);
}

[data-scroll-dir-y="-1"] [data-scroll=out] {
  --visible-y: 10vh;
  opacity: 0;
  transform: translateY(-3rem);
  transition: var(--TR-L);
}

[data-scroll-dir-y="1"] [data-scroll=out] {
  --visible-y: -10vh;
  opacity: 0;
  transform: translateY(3rem);
  transition: var(--TR-L);
}

.loading,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}

.loading {
  width: 5rem;
  height: 2rem;
  background-image: url(/images/svg/squiggle-pattern.svg);
  background-size: cover;
  animation: loading 7s linear forwards running;
}

.loading::after {
  position: absolute;
  display: block;
  width: 60vw;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  content: 'stopping for coffee..';
  font-weight: 700;
  text-align: center;
  color: var(--CL-G6);
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  z-index: 9;
  font-weight: 700;
  color: var(--CL-G6);
  opacity: 0;
  will-change: opacity;
  animation: fade-in .1s ease 7s forwards running;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes loading {
  from {
    background-position-x: 0%;
    opacity: 1;
  }
  to {
    background-position-x: 999%;
    opacity: 0;
  }
}

.center {
  margin: 0 auto;
  justify-self: center;
  text-align: center;
  transform: none;
}

.align-items {
  align-items: center;
  align-content: center;
}

.blow-up {
  min-height: 20rem;
  min-width: 20rem;
  z-index: 0;
}

.blow-up [data-icon] {
  width: 200%;
  opacity: 0.1;
}

.background-image {
  filter: grayscale(1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-image img {
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.body-image {
  max-width: 20rem;
}

.move-left {
  transform: translateX(-50%);
}

.checklist li::before {
  display: inline-block;
  content: '\2714';
  color: var(--CL-A3);
  margin-right: .2em;
  font-size: 1.2em;
}

.checklist li {
  color: var(--CL-G4);
}

.circle,
.circle > * {
  border-radius: 50%;
  clip-path: circle();
}

.block {
  display: block !important;
}

.inline {
  display: inline-block !important;
}

.limited-width {
  max-width: 60%;
}

.pad {
  padding: var(--PAD-M);
}

.alternate-sides:nth-of-type(2n-1) :last-child {
  order: -1;
}

.testimonial {
  height: auto;
  display: grid;
  place-items: center;
  place-content: center;
  padding: var(--PAD-M);
}

.testimonial .author {
  margin-top: calc(var(--PAD-S) / 2);
}

.testimonial:nth-of-type(2) {
  border: var(--BDR) solid var(--CL-G1);
}

.testimonial:nth-of-type(2) .byline {
  color: var(--CL-1);
  margin-bottom: calc(var(--PAD-S) / 2);
}

.wave-overlay {
  --overlay-position: 50%;
}

.wave-overlay::after {
  display: block;
  content: '';
  background: url(/images/svg/wave.svg);
  background-position-y: bottom;
  background-position-x: var(--overlay-position);
  background-size: contain;
  position: absolute;
  background-repeat: repeat-x;
  height: 80%;
  bottom: -10px;
  left: 0;
  width: 100%;
  z-index: 0;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  will-change: background-position-x;
  transition: var(--TR-M);
}

@media screen and (max-width: 60em) {
  .squiggle-block {
    width: 3rem;
  }
  .limited-width {
    max-width: none;
  }
  .blow-up {
    min-width: 100%;
    min-height: 0;
  }
  .blow-up [data-icon] {
    width: 70%;
    max-width: 20rem;
    float: left;
  }
  .move-left {
    transform: translateX(-33%);
  }
  .alternate-sides:nth-of-type(2n-1) :last-child {
    order: 1;
  }
  .body-image {
    order: -1;
    max-width: 100%;
  }
  .pad {
    padding: var(--PAD-L) 0;
  }
  .testimonial {
    margin: var(--PAD-L) var(--PAD-M);
    padding: var(--PAD-L) var(--PAD-M);
  }
  .focal {
    --text-color: var(--CL-G7);
    border-color: var(--CL-A3);
  }
  .focal button,
  .focal input[type=submit] {
    border-color: var(--border-color);
    color: var(--text-color);
  }
  .focal button:hover, .focal button:focus,
  .focal input[type=submit]:hover,
  .focal input[type=submit]:focus {
    background-color: var(--CL-A1);
    border-color: var(--CL-A1);
  }
}

form input:not([type=email]):not([type=text]),
form input:not([type=email]):not([type=text]) + label {
  cursor: pointer;
}

form * {
  text-align: right;
  transition: var(--TR-S);
}

input[type=text],
input[type=email] {
  text-align: left;
  width: 24rem;
  font-size: var(--FS-S);
  height: 3.2em;
  padding: .5em;
  color: var(--CL-A3) !important;
  border: 2px solid var(--CL-A2);
  background-color: var(--CL-A2);
  background-image: url(/images/svg/wave.svg);
  background-size: 270%;
  background-repeat: no-repeat;
  background-position-y: -200%;
  margin: 0 1em 1em 0;
  transition: var(--TR-M);
}

input[type=text]:focus, input[type=text]:focus-within,
input[type=email]:focus,
input[type=email]:focus-within {
  background-position-y: 100%;
}

input[type=text]:placeholder-shown,
input[type=email]:placeholder-shown {
  color: var(--CL-G3) !important;
}

.email-signup {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
}

.email-signup input[type=submit] {
  height: 3.2em;
  margin: 0 1em 1em 0;
}

.rss-subscribe {
  max-width: 50vw;
  margin-left: auto;
  padding: var(--PAD-M);
}

.rss-subscribe h2 {
  text-align: right;
}

.rss-subscribe form {
  margin-left: auto;
}

.rss-subscribe .email-signup {
  justify-items: flex-end;
  justify-content: flex-end;
}

@media screen and (max-width: 60em) {
  input[type=text],
  input[type=email] {
    width: 100%;
  }
  .rss-subscribe {
    margin: 0;
    margin-bottom: calc(var(--PAD-L) * 3);
    max-width: none;
  }
  .rss-subscribe h2 {
    text-align: left;
  }
  .rss-subscribe input[type=submit] {
    margin: 0;
  }
  .rss-subscribe .email-signup,
  .rss-subscribe .email-signup {
    text-align: left;
    justify-content: flex-start;
    justify-items: flex-start;
  }
}

footer {
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  align-self: end;
  text-align: right;
  padding: var(--PAD-L) var(--PAD-M) 0.5rem var(--PAD-M);
  color: var(--CL-G2);
}

footer * {
  color: inherit;
  text-align: inherit;
}

footer .cta {
  max-width: 36rem;
  justify-self: flex-start;
  text-align: left;
  margin-right: auto;
  margin-left: var(--PAD-M);
  color: var(--CL-A3);
}

footer .cta div,
footer .cta div h3 {
  color: inherit;
}

footer .cta__link {
  display: inline-block;
  margin: .4rem 12px 12px 0;
  padding: 1rem 1.2rem;
  font-size: var(--FS-M);
  font-weight: 700;
  color: var(--CL-G2);
  border: calc(var(--BDR) - 1px) solid var(--CL-G2);
  background-color: transparent;
  transition: var(--TR-M);
}

footer .cta__link:hover, footer .cta__link:focus {
  color: var(--CL-G5);
  border-color: var(--CL-G1);
  background-color: var(--CL-G1);
}

footer .socials {
  display: block;
  margin-top: var(--PAD-S);
  line-height: 1.5;
}

footer .socials a {
  display: inline-block;
  margin: .2rem .2rem 0 .2rem;
}

footer .socials a [data-icon] {
  width: 1.1rem;
  margin: 0;
  font-weight: 400;
  transition: var(--TR-S);
}

footer .socials a:hover [data-icon],
footer .socials a:focus [data-icon] {
  color: var(--CL-A2);
}

@media screen and (max-width: 60em) {
  :root {
    --PAD-S: 1rem;
    --PAD-M: 1.5rem;
    --PAD-L: 2.1rem;
    --SHADOW: 2px 2px 4px 0 var(--CL-SHADE);
  }
  .down-arrow {
    display: none;
  }
  .section {
    --hero-height: 50vh;
    --spacing: 10rem;
    width: 100%;
    min-height: 0;
  }
  .section__body {
    padding: 0;
    min-width: 0;
  }
  .section.fullwidth {
    padding: 0;
  }
  .section:first-of-type {
    margin-top: 4rem;
    margin-bottom: var(--PAD-M);
    min-height: 20rem;
  }
  .image {
    margin: var(--PAD-S) 0;
  }
  [data-icon] {
    width: 6rem;
    margin-bottom: var(--PAD-M);
  }
  .hero {
    flex-flow: row wrap;
    min-height: 0;
  }
  .hero .hero-aside {
    height: auto;
  }
  .hero .hero-text {
    text-align: left !important;
    margin: 0;
    padding: var(--PAD-L);
    padding-bottom: calc(var(--PAD-L) * 2);
    background-position: center;
    background-attachment: local;
    height: 85vh;
    align-items: flex-end;
    align-content: flex-end;
  }
  .hero .hero-text .squiggle-block {
    margin-top: 1rem;
  }
  .hero .hero-text::before, .hero .hero-text::after {
    width: 100%;
  }
  footer {
    flex-flow: row wrap;
    text-align: center;
  }
  footer .cta {
    margin: 0 0 var(--PAD-L) 0;
  }
}
