.scope_nav {
    display: flex;
    width: 100%;
    margin-top: $flow-space-section;
    padding-top: $flow-space-section;

    a {
        z-index: 9;
        max-width: calc(50% - #{$flow-space-paragraph});
        max-width: calc(50% - var(--flow-space-paragraph));

        &::after {
            z-index: 0;
        }
    }

    .name,
    .label {
        display: block;
        z-index: 9;
    }

    .label {
        font-weight: 400;
        color: $slategrey;
    }

    a:last-of-type {
        text-align: right;
        margin-left: auto;
    }

    [href="undefined"] {
        display: none;
    }
}
