@media (prefers-reduced-motion: reduce) {
    html,
    body {
        scroll-behavior: initial;
    }
}

@media (prefers-contrast: high) {
    html {
        filter: contrast(1.2);
    }
}

@supports (display: grid) {
    body {
        display: grid;
        grid-template-columns: minmax(14rem, 17rem) repeat(auto-fit, minmax(36rem, 1fr));
        grid-template-rows: 1fr auto auto;
        grid-template-areas:
            "aside main"
            "aside main"
            "footer footer";
        gap: $flow-space-section;
        max-width: none !important;
        overflow-x: auto;

        img,
        svg,
        video {
            width: 100%;
        }
    }

    [data-feed] > .includes_media {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        gap: $flow-space-paragraph;
        gap: var(--flow-space-paragraph);
    }

    footer {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: end;
        gap: $flow-space;
        gap: var(--flow-space);
    }
}

@media screen and (max-width: 72rem) {
    :root {
        font-size: 17px !important;
    }

    body {
        --flow-space: 1rem;
        --flow-space-paragraph: 2rem;
        display: block;
        line-height: 2;

        img,
        svg,
        video {
            border-radius: 0;
        }

        nav {
            position: initial;
        }

        main {
            margin: $flow-space-section auto;

            .has-img {
                width: calc(100% + #{$flow-space * 2});
                width: calc(100% + var(--flow-space) * 2);
                margin-left: #{$flow-space * -1};
                margin-left: calc(var(--flow-space) * -1);
            }
        }

        #pre_footer {
            padding-top: $flow-space-section;
            padding-bottom: $flow-space-section;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            letter-spacing: 0;
        }

        h1 {
            font-size: 2.4rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.2rem;
        }

        h4,
        h5 {
            font-size: 1rem;
        }

        pre {
            font-size: 0.85rem;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .scope_nav {
            display: block;
            margin-top: 0;

            .name {
                font-size: 1.6rem;
            }
        }
    }
}
