@keyframes load {
    to {
        opacity: 1;
        transform: translate(0, 0) scale(1) rotate(0deg);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

body.loaded [data-load] {
    animation: load var(--TR-M) forwards running;
}

[data-load] {
    will-change: transform;
    opacity: 0;
}

[data-load="scale"] {
    transform: scale(0.8);
}

[data-load="move"] {
    transform: translateY(1em);
}

[data-load="clip"] {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

[data-scroll] {
    will-change: transform;
    transition: var(--TR-M);
}

p [data-scroll="true"] {
    transform: scale(1);
    opacity: 1;
}

p [data-scroll="false"] {
    transform: scale(.94);
    opacity: .9;
}

@media screen and (max-width: $mq) {
    [data-load] {
        transform: translateY(1em);
    }
}