button,
input[type="submit"],
.button {
    -webkit-appearance: none;
    margin: 0.7em 0.7em 0.7em 0;
    padding: 1em;
    background: var(--CL-A2);
    color: var(--CL-0);
    border: none;
    border-radius: var(--BDR);
    font-size: var(--FS-S);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: var(--TR-M);

    &:hover,
    &:focus {
        color: var(--CL-0);
        background: var(--CL-A3);
    }
}
