button,
input[type=submit] {
    -webkit-appearance: none;
    background-image: none;
    background-color: transparent;
    color: var(--CL-G2);
    border: calc(var(--BDR) - 1px) solid var(--CL-G2);
    margin: .4rem 12px 12px 0;
    padding: .8rem 1rem;
    font-size: var(--FS-S);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: var(--TR-M);

    &:hover,
    &:focus {
        color: var(--CL-G5);
        border-color: var(--CL-G1);
        background-color: var(--CL-G1);
    }
}


@media screen and (max-width: $mq) {

    .focal button,
    .focal input[type=submit] {
        background-color: var(--CL-A3);
        color: var(--CL-A2);
    }
}