a,
button,
input,
select,
textarea,
label,
summary {
    touch-action: manipulation;
}

button,
.button {
    display: inline-block;
    position: relative;
    background: none;
    box-shadow: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;

    &:not(.unstyled) {
        color: inherit;
        background: $primary;
        background: var(--primary);
        border: $border-width $border-style currentColor;
        border-radius: $border-radius;
        padding: 0.8em 1em;
        margin-bottom: $flow-space-paragraph;
        transition: $transition-short;

        &:hover,
        &:focus {
            border-radius: $border-radius-alt;
        }
    }
}
