html {
    background: white;
}

html.dm {
    --CL-4: #1d1d1d;
    background: #060606;

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    ul,
    ol,
    span,
    p img,
    ul img,
    ol img,
    span img,
    p a,
    p ~ ul a,
    p ~ ol a,
    .item .bg::after,
    .item .content,
    nav .nav-item {
        text-decoration-color: var(--CL-4);
        filter: invert(1);
    }

    ul,
    ol,
    span {
        h1,
        h2,
        h3,
        h4,
        h5,
        p,
        span {
            filter: none;
        }
    }

    img {
        opacity: 0.9;
    }

    .item:hover,
    .item a:focus,
    nav,
    pre {
        border-color: var(--CL-4);
    }

    section > .nav-end::before,
    .attention {
        background: var(--CL-4);
    }

    nav .nav-item,
    .post-nav .link-title,
    input[type="text"],
    input[type="email"] {
        font-weight: 400;
        color: white;
    }

    nav .nav-item:not(.active) {
        color: var(--CL-3);
    }
}
