html {
    background: white;
}

html.dm {
    --CL-1: royalblue;
    --CL-2: #313538;
    --CL-3: #495055;
    --CL-3: #6d7b86;
    --CL-BLACK: white;
    --CL-WHITE: #060606;
    background: var(--CL-WHITE);

    body {
        font-weight: 300;
        letter-spacing: 0.1px;
        color: #c0c0c0;
    }

    .post .body h4::before {
        background-image: url("/_images/favicon-dark.png");
    }

    img {
        opacity: 0.9;
    }

    .post-nav .link-title,
    input[type="text"],
    input[type="email"] {
        font-weight: 400;
    }
}
