a,
button,
input,
select,
textarea,
label,
summary {
    touch-action: manipulation;

    &:focus {
        outline: none;
        border-radius: $border-radius;
        box-shadow: 0 0 0 0.2em $inverse, 0 0 0 0.4em $primary;
        box-shadow: 0 0 0 0.2em var(--inverse), 0 0 0 0.4em var(--primary);
    }
}

*::placeholder {
    color: $slategrey;
}

input[type="text"] {
    width: 100%;
    max-width: 24rem;
    padding: 1em;
    font-size: inherit;
    border: none;
    border-radius: $border-radius;
    background: $ultralightgrey;
    transition: max-width $transition-short;
}

#search {
    margin-top: $flow-space;
    margin-top: var(--flow-space);
    margin-bottom: $flow-space-section;

    &:focus {
        max-width: 100%;
    }
}

#search_result_template {
    display: none;
}

button,
.button {
    display: inline-block;
    position: relative;
    background: none;
    box-shadow: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;

    &:not(.unstyled) {
        color: inherit;
        background: $primary;
        background: var(--primary);
        border: $border-width $border-style currentColor;
        border-color: var(--inverse);
        border-radius: $border-radius;
        padding: 0.8em 1em;
        margin-bottom: $flow-space-paragraph;
        margin-bottom: var(--flow-space-paragraph);

        &:hover,
        &:focus {
            border-color: currentColor;
            border-radius: $border-radius-alt;
        }
    }
}
