form {
    width: 100%;
    padding: var(--PAD-M);
    border: var(--BDR) solid var(--CL-G1);
    box-shadow: var(--SHADOW);
    transition: var(--TR-M);

    .question {
        display: inline-block;
    }

    label {
        cursor: pointer;
        text-transform: lowercase;
        line-height: 1.5;
        transition: var(--TR-S);
    }
}

input[type=text],
input[type=email] {
    all: unset;
    padding: .5rem;
    margin: 0 12px 12px 0;
    font-size: var(--FS-S);
    color: var(--CL-1);
    font-weight: 300;
    border: calc(var(--BDR) - 1px) solid var(--CL-A3);
    transition: var(--TR-M);

    &::placeholder {
        opacity: 1;
        color: inherit;
    }

    &:placeholder-shown {
        color: var(--CL-G2);
        border-color: currentColor;
    }

    &:focus {
        border-color: var(--CL-A3);
    }
}

input[type=radio],
input[type=checkbox] {
    all: unset;
    --check-display: none;
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: var(--CL-G4);
    margin-right: .4em;
    overflow: hidden;
    cursor: pointer;
    transition: var(--TR-S);

    &:hover,
    &:focus {
        background-color: var(--CL-1);

        &+label {
            color: var(--CL-1);
        }
    }

    &:focus,
    &:focus+label {
        outline: 1px solid var(--CL-A3);
    }

    &:checked {
        --check-display: block;
        background-color: var(--CL-A3);

        &+label {
            color: var(--CL-1);
        }
    }
}

@media screen and (max-width: $mq) {
    form:not(.specificity) {
        border-color: var(--CL-G2);
    }

    .question {
        margin: .5rem 0;
    }
}