form {

    input:not([type=email]):not([type=text]),
    input:not([type=email]):not([type=text])+label {
        cursor: pointer;
    }

    * {
        text-align: right;
        transition: var(--TR-S);
    }
}

input[type=text],
input[type=email] {
    text-align: left;
    width: 24rem;
    font-size: var(--FS-S);
    height: 3.2em;
    padding: .5em;
    color: var(--CL-A3) !important;
    border: 2px solid var(--CL-A2);
    background-color: var(--CL-A2);
    background-image: url(/images/svg/wave.svg);
    background-size: 270%;
    background-repeat: no-repeat;
    background-position-y: -200%;
    margin: 0 1em 1em 0;
    transition: var(--TR-M);

    &:focus,
    &:focus-within {
        background-position-y: 100%;
    }

    &:placeholder-shown {
        color: var(--CL-G3) !important;
    }
}

.email-signup {
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;

    input[type=submit] {
        height: 3.2em;
        margin: 0 1em 1em 0;
    }
}

.rss-subscribe {
    max-width: 50vw;
    margin-left: auto;
    padding: var(--PAD-M);

    h2 {
        text-align: right;
    }

    form {
        margin-left: auto;
    }

    .email-signup {
        justify-items: flex-end;
        justify-content: flex-end;
    }
}

@media screen and (max-width: $mq) {

    input[type=text],
    input[type=email] {
        width: 100%;
    }

    .rss-subscribe {
        margin: 0;
        margin-bottom: calc(var(--PAD-L) * 3);
        max-width: none;

        h2 {
            text-align: left;
        }

        input[type=submit] {
            margin: 0;
        }

        .email-signup,
        .email-signup {
            text-align: left;
            justify-content: flex-start;
            justify-items: flex-start;
        }
    }
}