svg {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    max-width: 1080px;
    overflow: hidden;
}

.padV {
    padding-top: var(--PAD-M);
    padding-bottom: var(--PAD-M);
}

.padH {
    padding-right: var(--PAD-M);
    padding-left: var(--PAD-M);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(44vmax, 1fr));
    grid-gap: var(--PAD-M);
}

.flex {
    display: flex;
}

.alignV {
    align-content: center;
    align-items: center;
}

.invisible {
    opacity: 0 !important;
}
