.gallery {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
    grid-auto-rows: 8em;
    grid-gap: var(--PAD-S);

    p {
        margin: 0;
    }
}

.item {
    position: relative;
    overflow: hidden;
    border: var(--BDR) solid transparent;
    border-radius: calc(var(--BDR) + var(--RADIUS));
    transform: translateY(0.2em) scale(0.9);
    transition: var(--TR-M);

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--SHADE-L);
            opacity: 0;
            transition: var(--TR-M);
        }
    }

    .content {
        color: white;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        justify-content: flex-end;
        font-size: 0.5em;
        border-radius: calc(var(--BDR) + var(--RADIUS));
        border: var(--BDR) solid transparent;
        line-height: 1.4;
        padding: 1em;
        opacity: 0;
        transition: 0.8s ease;
    }

    &:hover,
    a:focus {
        border-color: var(--CL-1);

        .bg::after,
        .content {
            opacity: 1;
        }
    }

    a:focus .content {
        border: var(--BDR) solid var(--CL-1);
    }
}

@media screen and (max-width: $mq) {
    .gallery {
        font-size: 1rem;
        grid-template-columns: 1fr;
        grid-auto-rows: 21em;
        grid-gap: var(--PAD-XL);
    }

    .item {
        box-shadow: var(--SHADOW);

        .bg::after {
            opacity: 1;
            background: linear-gradient(transparent, var(--SHADE-L));
        }

        .content {
            opacity: 1;
            font-size: 1em;
        }
    }
}