.gallery {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-auto-rows: 12em;
    grid-gap: var(--PAD-S);

    p {
        margin: 0;
    }
}

.item {
    position: relative;
    overflow: hidden;
    border: var(--BDR) solid transparent;
    transform: translateY(0.2em) scale(0.9);
    transition: var(--TR-M);

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: var(--CL-4);
        transition: var(--TR-L);

        img {
            will-change: transform;
            transition: var(--TR-S);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--CL-1);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
            transform-origin: bottom;
            transition: var(--TR-L), clip-path var(--TR-M);
        }
    }

    .content {
        color: white;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        justify-content: flex-end;
        font-size: 0.5em;
        border-radius: calc(var(--BDR) + var(--RADIUS));
        border: var(--BDR) solid transparent;
        line-height: 1.4;
        padding: 1em;
        transition: var(--TR-L);
    }

    .title {
        font-weight: 700;
    }

    .tags {
        opacity: 0.63;
    }

    &:hover,
    &:focus-within {
        .bg img {
            transform: translateY(-8%);
            transition: var(--TR-M) 0.1s;
        }

        .bg::after {
            transform: scaleY(0.7);
            clip-path: polygon(0 37%, 100% 63%, 100% 100%, 0 100%);
        }
    }

    &:focus-within {
        border: calc(var(--BDR) * 2) solid currentColor;
    }
}

@media screen and (max-width: $mq) {
    .gallery {
        font-size: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
        grid-auto-rows: 21em;
        grid-gap: var(--PAD-XL);
    }

    .item {
        box-shadow: var(--SHADOW);

        .bg::after {
            transform: scaleY(0.7);
            clip-path: polygon(0 37%, 100% 63%, 100% 100%, 0 100%);
        }

        .content {
            opacity: 1;
            font-size: 1em;
        }

        .title {
            font-weight: 700;
        }
    }
}
