nav {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    top: $flow-space;
    top: var(--flow-space);
    margin-bottom: $flow-space-paragraph;
    margin-bottom: var(--flow-space-paragraph);
    transform: translateX(#{$flow-space-paragraph * -2});
    transform: translateX(calc(var(--flow-space-paragraph) * -2));

    a {
        display: block;
        color: $mediumgrey;
        padding-left: #{$flow-space-paragraph * 2};
        padding-left: calc(var(--flow-space-paragraph) * 2);
        padding-right: 1em;
        border: $border-width $border-style transparent;
        transition: none;

        &.active {
            color: inherit;
            padding-top: 0.5em;
            padding-bottom: 0.37em;
            margin-top: 0.37em;
            margin-bottom: 0.37em;
            font-family: $ffa;
            font-size: 1.2em;
            letter-spacing: 0.05em;
            border-radius: $border-radius;
            border-color: $primary;
            border-color: var(--primary);

            &:hover,
            &:focus {
                border-color: transparent;
            }
        }

        &:focus,
        &:hover {
            border-radius: $border-radius-alt;
        }
    }
}
