nav {
    --logo-height: 2.5rem;
    --logo-width: 2.5rem;
    overflow-x: hidden;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 15px var(--PAD-M);
    color: var(--CL-G4);
    transition: var(--TR-M);

    .logo {
        position: relative;
        width: var(--logo-width);
        height: var(--logo-height);
        margin-right: auto;
        margin-left: -5px;
        transform: scale(.95);
        transition: var(--TR-S) .3s;

        svg {
            position: absolute;
            top: 0;
            left: 0;

            * {
                color: var(--CL-1);
                transition: var(--TR-S);
            }
        }

        .logo-icon {
            transition: var(--TR-L);
            clip-path: ellipse(0% 0% at 100% 100%);
        }

        &:hover,
        &:focus {
            transform: scale(1);

            .logo-icon {
                clip-path: ellipse(130% 130% at 50% 50%);
                transition: var(--TR-L) .1s;
            }
        }
    }

    .nav-items-container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-items: flex-end;
        justify-content: flex-end;
        transition: var(--TR-S) .3s;
    }

    .nav-item {
        position: relative;
        margin-left: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .9rem;
        color: var(--CL-G2);
        transition: opacity var(--TR-S) .3s, transform var(--TR-S), color var(--TR-M), margin var(--TR-S) .3s;

        &:hover,
        &:focus,
        &.active {
            color: var(--CL-A3);
        }
    }

    &.compact {
        background: transparent;

        .nav-items-container {
            transform: translateX(100%);
        }

        .nav-item {
            opacity: 0;
            margin-left: 0;
            transform: scale(.6);
            cursor: default;
            transition: opacity var(--TR-S) .3s, transform var(--TR-S) .3s, color var(--TR-S), margin var(--TR-S) .3s;
        }

        #hamburger {
            transition-delay: 0s;
            opacity: 1;
            transform: translateX(-100%);
        }
    }
}

#nav-toggle {
    position: fixed;
    top: -99vw;
    left: 99vw;
    width: 1px;
    opacity: .01;

    &:checked~nav.compact .nav-items-container,
    .nav-items-container:focus,
    nav:focus-within {

        transition-delay: 0s;
        transform: translateX(0);

        .nav-item {
            opacity: 1;
            margin-left: 2rem;
            transform: scale(1);
            cursor: pointer;
            transition: all var(--TR-S) 0s;
        }
    }

    &:checked~nav.compact #hamburger {
        transform: translateX(50%);

        &::before,
        &::after {
            top: 50%;
            background: var(--CL-A3);
            transition-delay: .3s;
            transform: rotate(73deg);
        }
    }

    &:checked~nav.compact {
        background: var(--CL-0);
    }
}

#hamburger {
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    opacity: 0;
    transition: var(--TR-S) .3s;

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: '';
        left: 0;
        width: 100%;
        height: 2px;
        transform: translateY(-50%);
        top: calc(50% - 7px);
        background: var(--CL-G2);
        transition: var(--TR-S);
        backface-visibility: hidden;
        will-change: transform;
        transform: translate3d(0, 0, 0) perspective(1px);
    }

    &::after {
        top: calc(50% + 7px);
    }

    &:hover::after,
    &:hover::before,
    &:focus::after,
    &:focus::before {
        background: var(--CL-G4);
    }
}

.sub-nav {
    display: flex;
    z-index: 1;
    padding-left: var(--PAD-M);

    &__item {
        font-size: 1.4rem;
        color: var(--CL-A2);
        line-height: 1;
        font-weight: 700;
        margin-right: var(--PAD-L);
        padding: 1.5rem 0 1rem 0;

        &.active {
            box-shadow: inset 0 var(--BDR) 0 0 var(--CL-A2);
            color: var(--CL-A2) !important;

            &:hover {
                color: var(--CL-1);
            }
        }

        &:hover {
            opacity: 1;
        }
    }
}

#up-down {
    all: unset;
    position: fixed;
    z-index: 9;
    width: 2.1rem;
    height: 2.1rem;
    bottom: var(--PAD-S);
    right: var(--PAD-M);
    pointer-events: none;

    svg polyline {
        color: var(--CL-G2);
        transition: var(--TR-S);
        backface-visibility: hidden;
        transform-origin: center;
        stroke-width: 1px;
        opacity: 0;
    }

    &.up {
        cursor: pointer;
        pointer-events: all;
    }

    &.up svg polyline {
        opacity: 1;
    }

    &:hover svg polyline {
        color: var(--CL-G5);
    }
}

.footer-nav {
    display: block;
    margin: 0;
    margin-bottom: .2rem;

    a {
        margin: 0 0 0 1rem;
        font-weight: 700;
    }
}

// MS Edge styles
@supports (-ms-ime-align:auto) {
    nav .logo .logo-icon {
        display: none;
    }

    nav.compact {
        background: transparent;

        .nav-items-container {
            transform: translateX(0);
        }

        .nav-item {
            opacity: 1;
            margin-left: var(--PAD-S);
            transform: scale(1);
            cursor: pointer;
            transition: all var(--TR-S);
        }

        #hamburger {
            display: none;
        }
    }

    #up-down {
        display: none;
    }
}

@media screen and (max-width: $mq) {

    nav {
        padding: 14px var(--PAD-M) 9px var(--PAD-M);
        background: var(--CL-0);

        .logo {
            transform: translateX(-150%) scale(.6);
            margin-left: calc(var(--logo-width) * -2);
            opacity: 0;
            height: 2.4rem;
        }

        &.compact {
            background: var(--CL-0);

            .logo {
                width: var(--logo-width);
                transform: translateX(-6px);
                margin-left: 0;
                opacity: 1;
            }
        }
    }

    .nav-items-container {
        padding-bottom: 3px;

        .nav-item {
            margin-left: 5vw;
        }
    }

    .logo {
        transform: translateX(-150%) scale(.6);
        margin-left: calc(var(--logo-width) * -2);
        opacity: 0;
        transition-delay: 0s;

        .logo-icon {
            display: none;
        }
    }

    .sub-nav {
        margin-top: 30vh;
        flex-flow: column nowrap;
        padding: 0 0 var(--PAD-M) 0;
        background: var(--CL-0);

        &__item {
            margin: var(--PAD-M) 0 0 0;
            background: inherit;
            padding: 0 var(--PAD-M);
            color: var(--CL-1);

            &.active {
                box-shadow: inset 0 1px 0 0 var(--CL-0),
                    inset 0 -1px 0 0 var(--CL-0),
                    inset 4px 0 0 0 var(--CL-A3);
            }
        }
    }

    #nav-toggle:checked~nav.compact .logo {
        transform: translateX(-150%) scale(.5);
        opacity: 0;
        transition-delay: 0s;
    }

    #up-down {
        display: none;
    }

    .footer-nav {
        margin: 0 auto;

        a {
            margin: 0 .5rem;
        }
    }
}