nav {
    transform: translateX(#{$flow-space * -2});

    a {
        padding: 0.5em 1em 0.5em #{$flow-space * 2};
        border: $border-width $border-style transparent;
        transition: none;

        &.active {
            border-radius: $border-radius;
            border-color: $primary;
            border-color: var(--primary);

            &:focus,
            &:hover {
                border-radius: $border-radius-alt;
            }
        }
    }
}
