.center {
    margin: 0 auto;
    justify-self: center;
    text-align: center;
    transform: none;
}

.align-items {
    align-items: center;
    align-content: center;
}

.blow-up {
    min-height: 20rem;
    min-width: 20rem;
    z-index: 0;

    [data-icon] {
        width: 200%;
        opacity: 0.1;
    }
}

.background-image {
    filter: grayscale(1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
        top: 0;
        left: 0;
        min-width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
}

.move-left {
    transform: translateX(-50%);
}

.checklist li::before {
    display: inline-block;
    content: '\2714';
    color: var(--CL-A3);
    margin-right: .2em;
    font-size: 1.2em;
}

.checklist li {
    color: var(--CL-G4);
}

.circle,
.circle>* {
    border-radius: 50%;
    clip-path: circle();
}

.block {
    display: block !important;
}

.inline {
    display: inline-block !important;
}

.limited-width {
    max-width: 60%;
}

.pad {
    padding: var(--PAD-M);
}

.alternate-sides:nth-of-type(2n-1) :last-child {
    order: -1;
}

.squiggle-block {
    display: block;
    content: url(/images/svg/squiggle.svg);
    width: 3.6rem;
    margin-top: calc(var(--PAD-S) / 2);
    transform: translateX(-.4rem);

    &.dark {
        content: url(/images/svg/squiggle-dark.svg);
    }
}

.testimonial {
    height: auto;
    display: grid;
    place-items: center;
    place-content: center;
    padding: var(--PAD-M);

    .author {
        margin-top: calc(var(--PAD-S) / 2);
    }
}

.testimonial:nth-of-type(2) {
    border: var(--BDR) solid var(--CL-G1);
    border-radius: 5px;
    box-shadow: var(--SHADOW);

    .byline {
        color: var(--CL-1);
        margin-bottom: calc(var(--PAD-S) / 2);
    }
}

.focal {
    --text-color: var(--CL-G4);
    --border-color: var(--CL-A3);
    border: var(--BDR) solid var(--CL-G1);
    transition: var(--TR-M);

    button,
    input[type=submit] {
        border-color: var(--CL-G2);
        color: var(--CL-G2);

        &:hover,
        &:focus {
            border-color: var(--border-color);
            color: var(--text-color);
        }
    }

    &:hover,
    &:focus,
    &:focus-within {
        --text-color: var(--CL-G6);
        border-color: var(--CL-A3);
        outline: none;

        label {
            color: var(--CL-G4);
        }
    }

    & * {
        outline: none;
        color: var(--text-color);
        transition: var(--TR-M), font-size 0s;
    }
}

@media screen and (max-width: $mq) {

    .squiggle-block {
        width: 3rem;
    }

    .limited-width {
        max-width: none;
    }

    .blow-up {
        min-width: 100%;
        min-height: 0;

        [data-icon] {
            width: 70%;
            max-width: 20rem;
            float: left;
        }
    }

    .move-left {
        transform: translateX(-33%);
    }

    .alternate-sides:nth-of-type(2n-1) :last-child {
        order: 1;
    }

    .body-image {
        order: -1;
        max-height: 90vh;
    }

    .pad {
        padding: var(--PAD-L) 0;
    }

    .testimonial {
        margin: var(--PAD-L) var(--PAD-M);
        padding: var(--PAD-L) var(--PAD-M);
    }

    .focal {
        --text-color: var(--CL-G7);
        border-color: var(--CL-A3);

        button,
        input[type=submit] {
            border-color: var(--border-color);
            color: var(--text-color);

            &:hover,
            &:focus {
                background-color: var(--CL-A1);
                border-color: var(--CL-A1);
            }
        }
    }
}