svg {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    max-width: 1080px;
    overflow: hidden;
}

[data-icon] {
    margin-right: var(--PAD-M);
    width: 8rem;
    will-change: transform;
}

.center {
    margin: 0 auto;
    justify-self: center;
    text-align: center;
    transform: none;
}

.align-items {
    align-items: center;
    align-content: center;
}

.hidden {
    display: none !important;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
        top: 0;
        left: 0;
        min-width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
}

.checklist li {
    color: var(--CL-G4);

    &::before {
        display: inline-block;
        content: "\2714";
        color: var(--CL-A3);
        margin-right: 0.2em;
        font-size: 1.2em;
    }
}

.block {
    display: block !important;
}

.inline {
    display: inline-block !important;
}

.pad {
    padding: var(--PAD-M);
}

.wave-overlay {
    --overlay-position: 50%;

    &::after {
        display: block;
        content: "";
        background: url(/_images/svg/wave.svg);
        background-position-y: bottom;
        background-position-x: var(--overlay-position);
        background-size: contain;
        position: absolute;
        background-repeat: repeat-x;
        height: 80%;
        bottom: -10px;
        left: 0;
        width: 100%;
        z-index: -1;
        will-change: transform;
        transition: var(--TR-M);
    }
}

@media screen and (max-width: $mq) {
    .pad {
        padding: var(--PAD-L) 0;
    }
}
