svg {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    max-width: 1080px;
    overflow: hidden;
}

[data-icon] {
    margin-right: var(--PAD-M);
    width: 8rem;
    will-change: transform;
}

.center {
    margin: 0 auto;
    justify-self: center;
    text-align: center;
    transform: none;
}

.align-items {
    align-items: center;
    align-content: center;
}

.hidden {
    display: none !important;
}

.blow-up {
    min-height: 20rem;
    min-width: 20rem;
    z-index: 0;

    .icon {
        width: 200%;
        height: auto;
        opacity: 0.1;
    }
}

.background-image {
    filter: grayscale(1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
        top: 0;
        left: 0;
        min-width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
}

.move-left {
    transform: translateX(-50%);
}

.checklist li {
    color: var(--CL-G4);

    &::before {
        display: inline-block;
        content: '\2714';
        color: var(--CL-A3);
        margin-right: .2em;
        font-size: 1.2em;
    }
}

.block {
    display: block !important;
}

.inline {
    display: inline-block !important;
}

.limited-width {
    max-width: 60%;
}

.pad {
    padding: var(--PAD-M);
}

.alternate-sides:nth-of-type(2n-1) :last-child {
    order: -1;
}

.wave-overlay {
    --overlay-position: 50%;

    &::after {
        display: block;
        content: '';
        background: url(/images/svg/wave.svg);
        background-position-y: bottom;
        background-position-x: var(--overlay-position);
        background-size: contain;
        position: absolute;
        background-repeat: repeat-x;
        height: 80%;
        bottom: -10px;
        left: 0;
        width: 100%;
        z-index: 0;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        will-change: background-position-x;
        transition: var(--TR-M);
    }
}

@media screen and (max-width: $mq) {

    .limited-width {
        max-width: none;
    }

    .blow-up {
        min-width: 100%;
        min-height: 0;

        .icon {
            width: 70%;
            max-width: 20rem;
            float: left;
        }
    }

    .move-left {
        transform: translateX(-33%);
    }

    .alternate-sides:nth-of-type(2n-1) :last-child {
        order: 1;
    }

    .pad {
        padding: var(--PAD-L) 0;
    }
}