.post-nav {
    display: flex;
    margin-top: var(--PAD-L);
    transform: translateY(0.4em);

    .previous {
        margin-right: auto;
    }

    .next {
        text-align: right;
        margin-left: auto;
    }

    .next,
    .previous {
        width: calc(50% - var(--PAD-S));

        &:hover .link-title,
        &:focus .link-title {
            opacity: 1;
        }
    }

    .link-title {
        font-weight: 700;
        opacity: 0.63;
        margin-top: 0.2em;
        transition: var(--TR-S);
    }
}

.body {
    max-width: 100%;
    margin: var(--PAD-M) 0;

    img {
        margin: var(--PAD-S) 0;
    }

    p,
    pre {
        margin: var(--PAD-M) 0;
    }
}

.meta {
    color: var(--CL-3);
}

.tags {
    a:hover,
    a:focus {
        color: var(--CL-4);
        transition: var(--TR-S);
    }
}

@media screen and (max-width: $mq) {
    .post-nav {
        .next,
        .previous {
            width: 100%;
        }

        .label {
            font-weight: 700;
        }
    }
}
