[data-feed] {
    padding-left: 0;

    & > * {
        padding-left: 0;
        list-style: none;
        margin-bottom: $flow-space-section;

        a:hover img,
        a:focus img {
            border-radius: $border-radius;
        }

        img {
            border: $border-width $border-style currentColor;
            border-radius: $border-radius-alt;
            transition: $transition-short;
        }

        &.includes_media {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
            grid-gap: $flow-space-paragraph;
        }
    }
}

article {
    .meta {
        margin-bottom: $flow-space-paragraph;
        padding-bottom: $flow-space-paragraph;
        color: $slategrey;
        line-height: 1.4;

        a {
            font-weight: 400;
            text-decoration: underline;
        }
    }

    .featured-media {
        margin-bottom: $flow-space-paragraph;
    }

    .codepen {
        width: 100%;
        margin-bottom: 0;

        &::after {
            content: "\1F62C Yikes... this pen isn't available.";
            display: block;
            text-align: center;
            padding: 2em;
            border: 2px solid currentColor;
        }
    }

    .codepen-fallback {
        margin-top: 0;
    }

    .cp_embed_wrapper {
        margin-bottom: $flow-space-paragraph;
    }

    .cp_embed_iframe {
        min-height: 540px;
    }
}

.scope_nav {
    display: flex;
    width: 100%;
    margin-top: $flow-space-section;
    padding-top: $flow-space-section;

    a {
        max-width: calc(50% - #{$flow-space-paragraph});
    }

    .label {
        display: block;
        font-weight: 400;
        color: $slategrey;
    }

    .name {
        font-family: $ffa;
        letter-spacing: -0.02em;
    }

    a:last-of-type {
        text-align: right;
        margin-left: auto;
    }

    [href="undefined"] {
        display: none;
    }
}
