.post-nav {
    display: flex;
    margin-top: var(--PAD-L);
    transform: translateY(0.4em);

    .previous {
        margin-right: auto;
    }

    .next {
        text-align: right;
        margin-left: auto;
    }

    .next,
    .previous {
        width: calc(50% - var(--PAD-S));

        &:hover .link-title,
        &:focus .link-title {
            opacity: 1;
        }
    }

    .link-title {
        font-weight: 700;
        opacity: 0.63;
        margin-top: 0.2em;
        transition: var(--TR-S);
    }
}

.post .body {
    max-width: 100%;
    margin: var(--PAD-M) 0;

    h4 {
        font-size: 1.4em;

        &::before {
            content: "";
            display: inline-block;
            width: 1em;
            height: 1em;
            margin-right: 0.5em;
            background-image: url("/_images/favicon-light.png");
            background-size: contain;
            background-position: center;
        }
    }

    img {
        margin: var(--PAD-S) 0;
    }

    pre,
    p {
        margin: var(--PAD-M) 0;
    }

    .codepen + p {
        text-align: center;
        padding: 2em;
        border: 2px solid currentColor;
    }

    .cp_embed_wrapper {
        margin-bottom: var(--PAD-S);

        & + p {
            margin-top: 0;
        }
    }

    .cp_embed_iframe {
        min-height: 540px;
    }
}

.meta {
    color: var(--CL-3);

    .tag {
        &:not(:last-of-type)::after {
            content: ", ";
        }

        &:hover {
            color: var(--CL-1);
            transition: var(--TR-S);
        }
    }
}

@media screen and (max-width: $mq) {
    .post-nav {
        .next,
        .previous {
            width: 100%;
        }

        .label {
            font-weight: 700;
        }
    }

    .post .body pre {
        padding-top: var(--PAD-L);
    }
}
