@media print {
    html,
    html.dm {
        background: white;
        font-size: 16px;
        --CL-1: black;
        --CL-2: #dfdfdf;
        --CL-3: #555;
        --CL-4: #32353a;
        --CL-WHITE: white;
        --CL-BLACK: #1b1b1b;

        body {
            font-weight: 400;
            color: var(--CL-BLACK);
            grid-template-columns: 1fr;
            padding: 10vh 0;

            p a::after {
                content: " [" attr(href) "]";
            }
        }

        nav,
        .attention,
        .post-nav,
        .socials {
            display: none;
        }
    }
}
