h1 {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: .2em;
    letter-spacing: -.04em;
}

p {
    margin-bottom: var(--PAD-S);

    a {
        text-decoration: underline;
        color: var(--CL-1);
        font-weight: 700;
        transition: var(--TR-S);

        &:hover,
        &:focus {
            filter: var(--FL-DARKEN);
        }
    }

    &~ul,
    &~ol {
        margin: var(--PAD-S) 0;
        padding-left: 1em;

        li {
            list-style-type: disc;
            list-style-position: outside;
        }
    }
}

pre,
code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}

pre {
    border: var(--BDR) solid var(--CL-2);
    border-radius: var(--RADIUS);
    padding: var(--PAD-M);
}