h1,
h2,
h3,
h4,
h5 {
    position: relative;
    display: inline-block;
    font-family: $ffa;
    line-height: 1.4;
    margin-bottom: 0.8rem;
    letter-spacing: 0.02em;

    code {
        font-size: 0.8em;
    }

    a {
        font-weight: inherit;
        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            top: 45%;
            left: 50%;
            width: calc(100% + 1.2em);
            height: calc(100% + 0.5em);
            transform: translate(-50%, -50%);
            border: $border-width $border-style transparent;
            border-radius: $border-radius-alt;
        }

        &:hover::after,
        &:focus::after {
            border-color: $mediumgrey;
            border-radius: $border-radius;
        }
    }
}

h1.alt,
article p {
    margin-bottom: $flow-space-paragraph;
    margin-bottom: var(--flow-space-paragraph);
}

h1 {
    display: block;
    line-height: 1.1;
    margin-bottom: $flow-space-paragraph;
    margin-bottom: var(--flow-space-paragraph);
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
    letter-spacing: 0.04em;
}

h4,
h5 {
    font-size: 1.2rem;
    letter-spacing: 0.04em;
}

article {
    h2 {
        margin: $flow-space-paragraph 0;
        margin: var(--flow-space-paragraph) 0;
    }

    & > p:not(.has-img):not([data-slug-hash]) {
        margin-left: auto;
        margin-right: auto;
        max-width: 40rem;

        & ~ ul,
        & ~ ol {
            max-width: 40rem;
        }
    }
}

p {
    font-size: 1rem;
    position: relative;

    a {
        text-decoration: underline;
    }

    & ~ h4 {
        padding-top: var(--flow-space-paragraph);
    }

    & ~ ul,
    & ~ ol {
        margin: $flow-space-paragraph auto;
        margin: var(--flow-space-paragraph) auto;
        padding-left: 1em;

        li {
            padding-left: 1em;
            padding-bottom: 0.5em;
            list-style-type: disc;
            list-style-type: "🌞";
            list-style-position: outside;
        }
    }
}

a {
    font-weight: 800;

    &:hover,
    &:focus {
        color: $primary;
        color: var(--primary);
    }
}

blockquote,
pre {
    padding: $flow-space-paragraph;
    padding: var(--flow-space-paragraph);
    margin-bottom: $flow-space-paragraph;
    margin-bottom: var(--flow-space-paragraph);
    border: $border-width $border-style currentColor;
    border-radius: $border-radius;
}

blockquote {
    border-color: $primary;
    border-color: var(--primary);
    font-style: italic;

    p {
        margin-bottom: 0;
    }
}

code,
pre {
    color: #aaafba;
    border-radius: $border-radius;
    overflow: auto;
}

:not(pre) > code {
    position: relative;
    font-family: monospace !important;
    border-bottom: $border-width $border-style currentColor;
    border-radius: 0;
    cursor: text;
    padding: 0.1em;
    white-space: normal;
}

::selection {
    background: $primary;
    background: var(--primary);
}
