// Colors
$primary: #ffb547;
$primary-soft: rgba(255, 182, 71, 0.63);
$secondary: #5b6fdf;
$secondary-soft: rgba(91, 111, 223, 0.63);
$ultralightgrey: #f0f3f6;
$lightgrey: #cacccf;
$mediumgrey: #aab4ba;
$slategrey: #7b889a;
$darkgrey: #4f5361;
$charcoalgrey: #2a2c35;
$body-color: $charcoalgrey;
$inverse: white;

// Borders
$border-width: 0.25rem;
$border-style: dotted;
$border-radius: 3rem 1.5rem 2.5rem 2rem / 2rem 2.5rem 1.5rem 3rem;
$border-radius-alt: 2rem 2.5rem 1.5rem 3rem / 3rem 1.5rem 2.5rem 2rem;

// Flow Space
$flow-space: 2rem;
$flow-space-paragraph: 3rem;
$flow-space-section: 5rem;

// Fonts and Typography
$ffa: "Parisien Night", "HK Grotesk", sans-serif;
$ffb: "HK Grotesk", sans-serif;
$h1: 4;
$h2: 2.1;
$h3: 1.6;
$h4-6: 1.4;
$font-size-small: 0.85em;
$line-height-small: 1.4;

// Miscellaneous
$highlight-offset: 0.2em;
$easing: cubic-bezier(0.3, 0.3, 0.1, 1.3);
$transition-short: 0.28s $easing;
$transition-medium: 0.37s $easing;

@function overflow-shadow($color: rgba(0, 0, 0, 0.2), $depth: 1) {
    @return inset -#{$depth}em 0 #{$depth}em -#{$depth}em $color;
}

@mixin root {
    :root {
        --primary: #{$primary};
        --primary-soft: #{$primary-soft};
        --inverse: #{$inverse};
        --body-color: #{$body-color};
        --flow-space: #{$flow-space};
        --flow-space-paragraph: #{$flow-space-paragraph};
        --transition-short: #{$transition-short};
        --transition-medium: #{$transition-medium};
    }
}
