$transition-short: 0.28s ease;
$primary: #ffb547;
$primary-soft: rgba(255, 182, 71, 0.63);
$secondary: #5b6fdf;
$secondary-soft: rgba(91, 111, 223, 0.63);
$ultralightgrey: #f0f3f6;
$lightgrey: #e0e3e5;
$mediumgrey: #999ea9;
$slategrey: #7b889a;
$darkgrey: #666a75;
$charcoalgrey: #33343f;
$border-width: 0.25rem;
$border-style: dotted;
$border-radius: 3rem 1.5rem 2.5rem 2rem / 2rem 2.5rem 1.5rem 3rem;
$border-radius-alt: 2rem 2.5rem 1.5rem 3rem / 3rem 1.5rem 2.5rem 2rem;
$flow-space: 2rem;
$flow-space-paragraph: 3rem;
$flow-space-section: 5rem;
$ffa: "Parisien Night", "HK Grotesk", sans-serif;
$ffb: "HK Grotesk", sans-serif;
$h1: 4;
$h2: 2.1;
$h3: 1.6;
$h4-6: 1.4;
