:root {
    --CL-1: #0a0a0a;
    --CL-0: #ffffff;
    --CL-SHADE: rgba(0, 0, 0, 0.239);
    --CL-SHADE-DARKER: rgba(0, 0, 0, 0.431);
    --CL-SHADE-DARKEST: rgba(0, 0, 0, 0.671);
    --CL-TINT: rgba(255, 255, 255, 0.5);
    --CL-A1: #c7aea4;
    --CL-A2: #252d31;
    --CL-A3: #39434d;
    --CL-G1: #efefef;
    --CL-G2: #b6b6b6;
    --CL-G3: #979797;
    --CL-G4: #757575;
    --CL-G5: #5f5f5f;
    --CL-G6: #444444;
    --CL-G7: #292929;
    --TR-S: 0.19s cubic-bezier(.1, .2, .3, 1);
    --TR-M: 0.38s cubic-bezier(.1, .2, .3, 1);
    --TR-L: .7s cubic-bezier(.2, .3, .4, 1);
    --PAD-S: 2rem;
    --PAD-M: 3rem;
    --PAD-L: 5rem;
    --BDR: 4px;
    --SHADOW: 2px 2px 3px -1px var(--CL-SHADE);
}

// SCSS variables
$mq: 60em;

*:focus,
*:focus-within {
    outline-color: var(--CL-A1) !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: var(--CL-1);
    text-align: left;
}

svg {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 1080px;
    overflow: hidden;
}

[data-icon] {
    margin-right: var(--PAD-M);
    width: 8rem;
    will-change: transform;
}

// general layout stuff

body,
html {
    opacity: 1;
    background-color: var(--CL-0);
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        background-color: var(--CL-G1);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--CL-G3);
    }
}

body {
    position: relative;
    display: grid;
    min-height: 100vh;
    overflow-x: hidden;
}

.section {
    --spacing: 3rem;
    --hero-height: calc(64vh - var(--spacing));
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    min-height: var(--hero-height);
    margin-bottom: calc(var(--spacing) * .5);
    padding-top: calc(var(--spacing) * .5);
    transition: var(--TR-M);
    padding: var(--PAD-M);

    * {
        z-index: 1;
    }

    &__body {
        width: 100%;
        max-width: 1080px;
    }

    &.fullwidth {
        padding: 0;
    }
}

.hero {
    flex-flow: row nowrap;
    min-height: 50rem;

    .hero-text {
        position: relative;
        display: flex;
        align-content: start;
        flex-flow: row wrap;
        min-height: 100vh;
        max-height: 120vh;
        width: 100%;
        background-color: var(--CL-G1);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        border-radius: 0 0 5px 0;
        padding: var(--PAD-M);
        padding-top: 12vw;

        h1 {
            --extrude-color: var(--CL-A3);
            text-shadow: 1px 1px var(--extrude-color),
                2px 2px var(--extrude-color),
                3px 3px var(--extrude-color),
                4px 4px var(--extrude-color),
                5px 5px var(--extrude-color);
        }

        >:last-child {
            margin-bottom: var(--PAD-L);
        }

        * {
            color: var(--CL-0);
        }

        .tagline {
            min-width: 15rem;
            max-width: 30rem;
        }
    }

    .hero-aside {
        flex-shrink: 1;
        padding: var(--PAD-M) var(--PAD-L);
        width: 100%;
        min-width: 20rem;
        min-height: 44rem;
        height: 100vh;
        justify-self: flex-end;
        display: grid;
        grid-gap: var(--PAD-L);
        align-content: end;
        align-items: end;
        background: var(--CL-0);
        padding-top: calc(3 * 9vw);

        li {
            position: relative;

            .li__text {
                z-index: 2;
                max-width: 30rem;
            }
        }
    }
}

// imports
@import 'typography', 'nav', 'buttons', 'posts', 'grids', 'animations', 'object-oriented', 'forms';

footer {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    align-self: end;
    text-align: right;
    padding: var(--PAD-L) var(--PAD-M) .5rem var(--PAD-M);
    color: var(--CL-G2);

    & * {
        color: inherit;
        text-align: inherit;
    }

    .cta {
        max-width: 36rem;
        justify-self: flex-start;
        text-align: left;
        margin-right: auto;
        margin-left: var(--PAD-M);
        color: var(--CL-A3);

        div,
        div h3 {
            color: inherit;
        }

        &__link {
            display: inline-block;
            margin: .4rem 12px 12px 0;
            padding: 1rem 1.2rem;
            font-size: var(--FS-M);
            font-weight: 700;
            color: var(--CL-G2);
            border: calc(var(--BDR) - 1px) solid var(--CL-G2);
            background-color: transparent;
            transition: var(--TR-M);

            &:hover,
            &:focus {
                color: var(--CL-G5);
                border-color: var(--CL-G1);
                background-color: var(--CL-G1);
            }
        }
    }

    .socials {
        display: block;
        margin-top: var(--PAD-S);
        line-height: 1.5;

        a {
            display: inline-block;
            margin: .2rem .2rem 0 .2rem;

            [data-icon] {
                width: 1.1rem;
                margin: 0;
                font-weight: 400;
                transition: var(--TR-S);
            }

            &:hover [data-icon],
            &:focus [data-icon] {
                color: var(--CL-A2);
            }
        }
    }
}

// mobile styles

@media screen and (max-width: $mq) {
    :root {
        --PAD-S: 1rem;
        --PAD-M: 1.5rem;
        --PAD-L: 2.1rem;
        --SHADOW: 2px 2px 4px 0 var(--CL-SHADE);
    }

    .down-arrow {
        display: none;
    }

    .section {
        --hero-height: 50vh;
        --spacing: 10rem;
        width: 100%;
        min-height: 0;

        &__body {
            padding: 0;
            min-width: 0;
        }

        &.fullwidth {
            padding: 0;
        }

        &:first-of-type {
            margin-top: 4rem;
            margin-bottom: var(--PAD-M);
            min-height: 20rem;
        }
    }

    .image {
        margin: var(--PAD-S) 0;
    }

    [data-icon] {
        width: 6rem;
        margin-bottom: var(--PAD-M);
    }

    .hero {
        flex-flow: row wrap;
        min-height: 0;

        .hero-aside {
            height: auto;
        }

        .hero-text {
            text-align: left !important;
            margin: 0;
            padding: var(--PAD-L);
            padding-bottom: calc(var(--PAD-L) * 2);
            background-position: center;
            background-attachment: local;
            height: auto;
            align-items: flex-end;
            align-content: flex-end;

            .tagline {
                max-width: 80%;
            }

            &::before,
            &::after {
                width: 100%;
            }
        }
    }

    footer {
        flex-flow: row wrap;
        text-align: center;

        .cta {
            margin: 0 0 var(--PAD-L) 0;
        }
    }
}