$transition-short: 0.28s ease;
$primary: #ffb547;
$secondary: #6b81ff;
$lightgrey: #e0e3e5;
$mediumgrey: #999ea9;
$slategrey: #7b889a;
$darkgrey: #666a75;
$charcoalgrey: #33343f;
$border-width: 0.25rem;
$border-style: dotted;
$border-radius: 3rem 1.5rem 2.5rem 2rem / 2rem 2.5rem 1.5rem 3rem;
$border-radius-alt: 2rem 2.5rem 1.5rem 3rem / 3rem 1.5rem 2.5rem 2rem;
$flow-space: 2rem;
$flow-space-paragraph: 3.4rem;
$flow-space-section: 5rem;
$ffa: "Libre Baskerville", "HK Grotesk", sans-serif;
$ffb: "HK Grotesk", sans-serif;

:root {
    font-size: 20px;
    --primary: #{$primary};
    --flow-space: #{$flow-space};
    --flow-space-paragraph: #{$flow-space-paragraph};
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: inherit;
    color: inherit;
    list-style-type: none;
    text-decoration: none;
    outline-color: $primary;

    &:focus {
        outline: 2px solid;
    }
}

html,
body {
    scroll-behavior: smooth;
    background: white;
}

html.dark_mode {
    background: $charcoalgrey;

    body {
        --primary: #{$secondary};
        color: $lightgrey;
        background: $charcoalgrey;

        #dark_mode_toggle {
            &::after {
                transform-origin: right;
                transform: translateX(100%);
            }

            &:hover::after,
            &:focus::after {
                transform: translateX(100%) scaleX(1.1);
            }

            svg {
                color: currentColor;
            }
        }
    }
}

body {
    font-family: $ffb;
    min-height: 100vh;
    color: $charcoalgrey;
    line-height: 1.8;
    padding: 7vh $flow-space 1rem $flow-space;
    padding: 7vh var(--flow-space) 1rem var(--flow-space);
}

@supports (display: grid) {
    body {
        display: grid;
        grid-template-columns: minmax(14rem, 17rem) repeat(auto-fit, minmax(36rem, 1fr));
        grid-template-rows: 1fr auto auto;
        grid-template-areas:
            "global_nav main"
            "pre_footer main"
            "footer footer";
        gap: $flow-space-paragraph;
        gap: var(--flow-space-paragraph);
    }
}

nav {
    display: grid;
    place-items: start;
    place-content: start;
    grid-area: global_nav;
}

main {
    grid-area: main;
    max-width: 54rem;

    p.has-img ~ p:not(.has-img) {
        padding: 0 $flow-space-paragraph;
        padding: 0 var(--flow-space-paragraph);
    }
}

#pre_footer {
    grid-area: pre_footer;
}

footer {
    display: flex;
    grid-area: footer;
}

img,
svg,
video {
    width: 100%;
    height: auto;
    user-select: none;
    object-fit: cover;
}

::-webkit-scrollbar {
    appearance: none;
    background: none;
    width: 0.6rem;

    &-thumb {
        background: $darkgrey;
        border-radius: 2px;
    }
}

@import "posts", "typography", "nav", "buttons", "pre_footer", "footer", "mobile";
