@import "./variables";

:root {
    font-size: 20px;
    --primary: #{$primary};
    --flow-space: #{$flow-space};
    --flow-space-paragraph: #{$flow-space-paragraph};
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: inherit;
    color: inherit;
    list-style-type: none;
    text-decoration: none;
    outline-color: $primary;

    &:focus {
        outline: 2px solid;
    }
}

html,
body {
    scroll-behavior: smooth;
    background: white;
}

html.dark_mode {
    background: $charcoalgrey;

    body {
        background: inherit;
        --primary: #{$secondary};
        color: $lightgrey;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 0.06em;
    }

    p ~ ul li,
    p ~ ol li {
        list-style-type: disc;
        list-style-type: "🌔";
    }

    #dark_mode_toggle {
        &::after {
            transform-origin: right;
            transform: translateX(100%);
        }

        &:hover::after,
        &:focus::after {
            transform: translateX(100%) scaleX(1.1);
        }

        svg {
            color: currentColor;
        }
    }
}

body {
    font-family: $ffb;
    text-rendering: geometricPrecision;
    min-height: 100vh;
    color: $charcoalgrey;
    line-height: 1.8;
    letter-spacing: -0.01em;
    padding: 7vh $flow-space 1rem $flow-space;
    padding: 7vh var(--flow-space) 1rem var(--flow-space);
}

main {
    grid-area: main;
    max-width: 48rem;
    padding-top: 0.5rem;
}

img,
svg,
video {
    width: 100%;
    height: auto;
    user-select: none;
    object-fit: cover;
}

::-webkit-scrollbar {
    appearance: none;
    background: none;
    width: 0.6rem;

    &-thumb {
        background: $darkgrey;
        border-radius: 2px;
    }
}

@import "./typography", "./nav", "./@media";
