code[class*="language-"],
pre {
    color: #4a6568;
    background: none;
    font-size: 0.9em;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    span {
        font-family: inherit;
    }
}

code:not([class*="language-"]) {
    position: relative;
    font-size: 0.95em;
    padding: 2px 5px;
    cursor: text;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--CL-1);
        opacity: 0.15;
        border-radius: var(--RADIUS);
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #3d3d3d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

.token {
    &.comment,
    &.block-comment,
    &.prolog,
    &.doctype,
    &.cdata {
        color: #afafaf;
    }

    &.punctuation {
        color: #8f8f8f;
    }

    &.tag,
    &.attr-name,
    &.namespace,
    &.deleted {
        color: #e49f32;
    }

    &.function-name {
        color: #863acc;
    }

    &.boolean,
    &.number,
    &.function {
        color: #1f7af1;
        opacity: 1;
    }

    &.property,
    &.class-name,
    &.constant,
    &.symbol {
        color: #10c756;
    }

    &.selector,
    &.important,
    &.atrule,
    &.keyword,
    &.builtin {
        color: #e49f32;
    }

    &.string,
    &.char,
    &.attr-value,
    &.regex,
    &.variable {
        color: #d12e2e;
    }

    &.operator,
    &.entity,
    &.url {
        color: #07a7cf;
    }

    &.important,
    &.bold {
        font-weight: bold;
    }

    &.italic {
        font-style: italic;
    }

    &.entity {
        cursor: help;
    }

    &.inserted {
        color: green;
    }
}
