@import "./variables";

.token {
    color: inherit;
    $green: #23d4e0;
    $lightblue: #7db5ff;
    $blue: #99a3ff;
    $purple: #f588ff;
    $pink: #ff7bbd;
    $red: #ff8080;
    $punctuation: rgba(100, 100, 155, 0.63);

    &.comment,
    &.block-comment,
    &.prolog,
    &.doctype,
    &.cdata {
        color: $mediumgrey;
    }

    &.punctuation {
        color: $punctuation;
    }

    &.tag,
    &.namespace,
    &.deleted,
    &.function-name {
        color: $purple;
    }

    &.boolean,
    &.number,
    &.function,
    &.inserted {
        color: $primary;
        color: var(--primary);
    }

    &.function {
        font-weight: 700;
        font-style: italic;
    }

    &.attr-name,
    &.property,
    &.class-name,
    &.constant,
    &.symbol {
        color: $green;
    }

    &.selector,
    &.important,
    &.atrule,
    &.keyword,
    &.builtin {
        color: $lightblue;
    }

    &.string,
    &.char,
    &.attr-value,
    &.regex,
    &.variable {
        color: $blue;
    }

    &.operator,
    &.entity,
    &.url {
        color: $pink;
    }

    &.important,
    &.bold {
        font-weight: bold;
    }

    &.italic {
        font-style: italic;
    }

    &.entity {
        cursor: help;
    }
}

.dark_mode .token {
    &.comment,
    &.block-comment,
    &.prolog,
    &.doctype,
    &.cdata {
        color: $slategrey;
    }
}
