@import "./variables";

.token {
    color: inherit;
    $green: #13e5ec;
    $teal: #58bcff;
    $lightblue: #4f9bff;
    $blue: #7e8bff;
    $purple: #da8bff;
    $pink: #ff3d9e;

    &.comment,
    &.block-comment,
    &.prolog,
    &.doctype,
    &.cdata {
        color: $mediumgrey;
    }

    &.punctuation {
        color: $mediumgrey;
    }

    &.tag,
    &.namespace,
    &.deleted,
    &.function-name {
        color: $purple;
    }

    &.boolean,
    &.number,
    &.function,
    &.inserted {
        color: $teal;
    }

    &.function {
        font-weight: 700;
        font-style: italic;
    }

    &.attr-name,
    &.property,
    &.class-name,
    &.constant,
    &.symbol {
        color: $green;
    }

    &.selector,
    &.important,
    &.atrule,
    &.keyword,
    &.builtin {
        color: $lightblue;
    }

    &.string,
    &.char,
    &.attr-value,
    &.regex,
    &.variable {
        color: $blue;
    }

    &.operator,
    &.entity,
    &.url {
        color: $pink;
    }

    &.important,
    &.bold {
        font-weight: bold;
    }

    &.italic {
        font-style: italic;
    }

    &.entity {
        cursor: help;
    }
}
