@import "./variables";

html.dark_mode [data-feed] li {
    background: $darkgrey;
}

[data-feed] li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: $flow-space;
    gap: var(--flow-space);
    padding: 0;
    background: $ultralightgrey;
    border-radius: $border-radius;
    overflow: hidden;
    transition: $transition-long;

    .tooltip {
        display: none;
    }

    .content,
    .media {
        transition: inherit;
        min-height: 20rem;
        display: grid;
    }

    .content {
        grid-template-rows: auto 1fr;
        padding: $flow-space;
        padding: var(--flow-space);
        will-change: transform;

        .meta {
            align-self: end;
        }
    }

    .media {
        video {
            position: absolute;
            right: 0;
            top: 50%;
            height: 100%;
            transform: translateY(-50%);
            transition: inherit;
            will-change: transform;
        }
    }

    &:hover,
    &:focus,
    &:focus-within {
        border-radius: $border-radius-alt;
        background: none !important;

        .content {
            transform: translateX(#{$flow-space * -1});
        }

        .media video {
            height: 85%;
            width: calc(100% + var(--flow-space));
        }
    }
}
