@import "./variables";

$rem: 20;

@function rem($n) {
    @return ($n * $rem) + px;
}

body {
    margin: 10%;
    font-size: rem(1);

    #search,
    .tooltip {
        display: none;
    }

    .ie {
        display: block;
        font-size: rem(1);
    }

    .banner {
        padding: rem(1);
        background: $primary;
        margin-bottom: $flow-space;
    }

    #skip_link {
        position: relative;
        float: right;
    }

    .nav_wrapper a {
        text-decoration: underline;
        margin-right: rem(1);
    }

    img {
        max-width: 540px;
        width: 540px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 1px;
        margin-bottom: rem(1);
    }

    h1 {
        font-size: rem($h1);
    }

    h2 {
        font-size: rem($h2);
    }

    h3 {
        font-size: rem($h3);
    }

    h4,
    h5,
    h6 {
        font-size: rem($h4-6);
    }

    .nav_wrapper,
    .scope_nav,
    pre,
    img,
    p,
    ol,
    ul,
    #pre_footer {
        margin-bottom: rem(2);
    }

    .scope_nav .next {
        text-align: right;
        float: right;
    }

    code,
    pre {
        color: inherit;
        font-weight: 600;
    }

    .icon {
        background: $primary;
    }

    pre {
        padding: rem(2);
    }

    li .meta a,
    #socials a {
        margin-right: rem(0.37);
    }

    .codepen {
        padding: rem(2);
        border-width: $border-width;
        border-style: $border-style;
        border-color: $mediumgrey;
    }

    #pre_footer {
        padding-top: rem(2);
    }

    button {
        display: block;
        background-color: none;
        background-image: none;
        border-image: none;
        cursor: pointer;
        border-width: $border-width;
        border-color: $primary;
        border-style: $border-style;
        margin: rem(1) 0;
        font-size: rem($font-size-small);
    }

    button.toggle svg {
        transform: none;
        top: 0;
        left: 0.37em;

        &.off {
            display: none;
        }
    }

    footer {
        display: block;

        .right {
            display: block;
        }
    }
}

html.muted {
    #audio_toggle {
        .on {
            display: none;
        }
        .off {
            display: block;
        }
    }
}

html.dark_mode {
    #dark_mode_toggle {
        .on {
            display: none;
        }
        .off {
            display: block;
        }
    }
}
