<footer>
  <div class="copyright">
    &copy; 2024 Braden East
  </div>
  <div class="flex">
    <div class="modal">&nbsp;</div>
    <div class="flex socials">
      {{ for platform, url of site.socials }}
        <a href="{{ url }}">{{ platform }}</a>
      {{ /for }}
    </div>
    {{ include "toggles.vto" }}
  </div>
</footer>