{# DROPDOWN #}
{% macro dropdown(id, placeholder, options) %}
<div class="select-wrapper">

  <input type="checkbox" name="dropdown" id="{{ id }}" oninput="document.getElementsByName(this.name).forEach(i => i.id != this.id ? i.checked = 0 : 1)" />
  <label class="compress" for="{{ id }}">{{ placeholder | truncate(30) }}</label>

  <div role="menu" class="select">
    <div class="select__options stagger-child-transitions">
      {% for option in options %}
        <a role="menuitem" class="option" href="{{ option.data.url | url }}">
          <div>{{ option.data.menu.label or option.data.title }}</div>
          <div class="light-text subtext">{{ option.data.tags | join(", ") }}</div>
        </a>
      {% endfor %}
    </div>
  </div>

</div>
{% endmacro %}


{# VIDEO #}
{% macro video(source) %}
<video loop autoplay muted playsinline src="/img{{ source | url }}"></video>
{% endmacro %}


{# BLURB #}
{% macro blurb(image, title, description) %}
<div class="blurb">
	<div><img src="/img/{{ image }}" alt="" /></div>
	<h3>{{ title }}</h3>
	<p>{{ description | md | safe }}</p>
</div>
{% endmacro %}


{# PERSON #}
{% macro person(image, name, bio) %}
<div class="grid">
  <div>
    <img src="/img/{{ image }}" alt="" />
  </div>
  <div style="margin-top:0;">
    <h3>{{ name }}</h3>
    {{ bio | md | safe }}
  </div>
</div>
{% endmacro %}