<li>

    <div class="content">

        <h2 class="name">
            <a class="highlight" href="[[ page.href ]]">[[ page.name ]]</a>
        </h2>
        <p>[[ page.excerpt ]]</p>

        <div class="meta">
            <div class="modified" aria-label="Date Modified">
                <strong>Updated:</strong> [[ page.date.modified ]]
            </div>
            <p class="categories">[[ page.categories.links.join('') ]]</p>
        </div>

    </div>

    <a href="[[ page.href ]]" class="media">
        <video autoplay playsinline loop muted>
            <source src="[[ page.media ]]">
            <img src="[[ page.media ]]" alt="">
        </video>
    </a>

</li>