<footer>

    {{ noscript }}

    <div class="banner info ie">
        Are you in Internet Explorer? That's so cool - I love retro stuff too. You can enjoy about 80% of my site with IE. For that extra goodness, use your alternative browser of choice.
    </div>

    <span class="copyright">
        &copy; 2019-2020 Braden East
    </span>

    <div class="right">
        <div class="space horizontal">
            {{ socials }}
        </div>
        <div class="space horizontal">
            {{ audio_toggle }}
            {{ dark_mode_toggle }}
        </div>
    </div>

</footer>