@media (prefers-reduced-motion: reduce) {
    html,
    body {
        scroll-behavior: initial;
        --transition-short: 0.001s ease;
    }
}

@media (prefers-contrast: high) {
    html {
        filter: contrast(1.2);
    }
}
