@media screen and (max-width: 72rem) {
    :root {
        font-size: 17px;
    }

    body {
        --flow-space: 1rem;
        --flow-space-paragraph: 2rem;
        display: block;

        img,
        svg,
        video {
            border-radius: 0;
        }

        nav {
            position: initial;
        }

        main {
            margin: $flow-space-section auto;

            .has_img {
                width: calc(100% + #{$flow-space * 2});
                width: calc(100% + var(--flow-space) * 2);
                margin-left: #{$flow-space * -1};
                margin-left: calc(var(--flow-space) * -1);
            }
        }

        #pre_footer {
            padding-top: $flow-space-section;
            padding-bottom: $flow-space-section;
        }

        footer #socials a {
            font-size: $font-size-small;
            padding: 0.2em;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            letter-spacing: 0;
        }

        h1 {
            font-size: 2.2rem;
            word-wrap: break-word;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.2rem;
        }

        h4,
        h5 {
            font-size: 1rem;
        }

        [data-feed] .highlight {
            color: inherit;

            &::before {
                border-radius: $border-radius;
                transform: scale(1);
                opacity: 1;
            }
        }

        pre {
            font-size: $font-size-small;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        article {
            ul,
            ol {
                list-style-image: radial-gradient(circle at 50% 35%, var(--primary) 40%, transparent 42%);
            }
            li {
                padding-left: 0;
            }

            table {
                font-size: $font-size-small;
            }
        }

        .scope_nav {
            display: block;
            margin-top: 0;

            a {
                display: block;
                max-width: 100%;
                margin-bottom: $flow-space-paragraph;
                margin-bottom: var(--flow-space-paragraph);
            }

            .name {
                font-size: 1.6rem;
            }
        }

        .tooltip {
            top: 80%;
            font-size: inherit;
            bottom: auto;
            max-width: none;
            width: calc(100% - var(--flow-space));
        }
    }
}
