article {
    .meta,
    .featured_media,
    .codepen {
        margin-bottom: $flow-space-paragraph;
        margin-bottom: var(--flow-space-paragraph);
    }

    & > p:not(.has_img):not([data-slug-hash]) {
        margin-left: auto;
        margin-right: auto;
        max-width: 40rem;
    }

    table {
        text-align: left;
        width: 100%;
        margin-bottom: $flow-space-paragraph;
        margin-bottom: var(--flow-space-paragraph);

        td,
        th {
            line-height: 1.2;
            border-right: $border-width $border-style $primary;
            border-bottom: $border-width $border-style $primary;
            border-color: $lightgrey;
            padding: 0.37em;

            &:last-of-type {
                border-right: none;
            }
        }

        td strong::after {
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            width: 0.5em;
            height: 0.5em;
            background: $primary;
            background: var(--primary);
            border-radius: $border-radius-alt;
        }

        tr:last-of-type td {
            border-bottom: none;
        }

        * {
            text-align: inherit;
        }
    }

    ul,
    ol {
        max-width: 40rem;
        margin: 0 auto $flow-space-paragraph auto;
        margin: 0 auto var(--flow-space-paragraph) auto;
        padding-left: 1em;

        li {
            padding-left: 1em;
            padding-bottom: 0.5em;
            list-style-type: disc;
            list-style-type: "🌞";
            list-style-position: outside;
        }
    }

    .codepen {
        width: 100%;

        &::after {
            content: "\1F62C Yikes... this pen isn't available.";
            display: block;
            text-align: center;
            padding: 2em;
            border: $border-width $border-style currentColor;
            border-radius: $border-radius-alt;
        }
    }

    .codepen_fallback {
        margin-top: 0;
    }

    .cp_embed_wrapper {
        margin-bottom: $flow-space;
        margin-bottom: var(--flow-space);
    }

    .cp_embed_iframe {
        min-height: 27em;
    }
}
