article {
    .meta,
    .featured_media,
    .codepen {
        margin-bottom: $flow-space-paragraph;
        margin-bottom: var(--flow-space-paragraph);
    }

    & > p:not(.has-media):not([data-slug-hash]) {
        margin-left: auto;
        margin-right: auto;
        max-width: 40rem;
    }

    ul,
    ol {
        max-width: 40rem;
        margin: 0 auto $flow-space-paragraph auto;
        margin: 0 auto var(--flow-space-paragraph) auto;
        padding-left: 1em;

        li {
            padding-left: 1em;
            padding-bottom: 0.5em;
            list-style-type: disc;
            list-style-type: "🌞";
            list-style-position: outside;
        }
    }

    .codepen {
        width: 100%;

        &::after {
            content: "\1F62C Yikes... this pen isn't available.";
            display: block;
            text-align: center;
            padding: 2em;
            border: $border-width $border-style currentColor;
            border-radius: $border-radius-alt;
        }
    }

    .codepen_fallback {
        margin-top: 0;
    }

    .cp_embed_wrapper {
        margin-bottom: $flow-space;
        margin-bottom: var(--flow-space);
    }

    .cp_embed_iframe {
        min-height: 27em;
    }
}
