code,
pre {
    color: $slategrey;
    border-radius: $border-radius;
    background: none;
    font-size: $font-size-small;
    letter-spacing: 0.01em;
    text-align: left;
    font-family: "Solway", monospace !important;
    white-space: pre;
    word-spacing: normal;
    overflow-x: auto;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    transition: $transition-medium;
    transition: var(--transition-medium);

    &::-webkit-scrollbar {
        display: none;
    }

    span {
        font-family: inherit;
    }
}

:not(pre) > code {
    color: $darkgrey;
    position: relative;
    font-family: "Solway", monospace !important;
    background: $ultralightgrey;
    cursor: text;
    padding: 0.1em 0.2em;
    white-space: normal;
}
