[data-feed] {
    padding-left: 0;

    img {
        border: $border-width $border-style currentColor;
        border-radius: $border-radius-alt;
    }

    & > * {
        padding: 1em 0;
        list-style: none;
        margin-bottom: $flow-space-section;
    }

    :not(p) > a {
        text-decoration: none;
    }

    a:hover img,
    a:focus img {
        border-radius: $border-radius;
    }
}

@supports (display: grid) {
    [data-feed] .includes_media {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        gap: $flow-space-paragraph;
        gap: var(--flow-space-paragraph);
    }
}
