[data-feed] {
    padding-left: 0;

    & > * {
        padding: 1em 0;
        list-style: none;
        margin-bottom: $flow-space-section;
    }

    p {
        margin-bottom: 0;
    }

    :not(p) > a {
        text-decoration: none;
    }
}

@supports (display: grid) {
    [data-feed] .includes_media {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        gap: $flow-space-paragraph;
        gap: var(--flow-space-paragraph);
    }
}
