.select {
  transform: translateY(-1px);
  z-index: 9;

  &-wrapper {
    width: 100%;
    margin-right: $flow1;
    margin-bottom: $flow2;

    label {
      line-height: 1.2;
      display: inline-flex;
      padding: 0 $flow2 0.37em 0;
      border-bottom: $borderStyle $borderWidth var(--g7);
      color: var(--g4);
      cursor: pointer;
      user-select: none;

      &::after {
        content: "";
        width: 0.63em;
        height: 0.63em;
        position: absolute;
        top: 0;
        right: 0;
        border-right: $borderWidth $borderStyle;
        border-bottom: $borderWidth $borderStyle;
        border-color: currentColor;
        transform: translateY(0.15em) rotate(45deg);
        transition: transform $colorTransition;
      }
    }

    .select:focus-within,
    input:checked ~ .select {
      .select__options {
        opacity: 1;
        transform: scaleY(1);
        pointer-events: all;
      }
    }

    input:checked ~ label {
      border-bottom-color: transparent;

      &::after {
        transform: translateY(0.45em) rotate(45deg) scale(-1);
      }
    }

    input {
      opacity: 0.001;
      position: absolute;
    }
  }

  &__options {
    position: absolute;
    background: var(--g8);
    border-radius: $borderRadius;
    z-index: 9;
    width: 100%;
    top: 100%;
    left: 0;
    display: grid;
    max-height: 50vh;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transform-origin: top;
    transform: scaleY(0.9);
    transition: opacity $colorTransition, transform $smoothTransition;
  }

  .option__title {
    margin-bottom: $borderWidth * 2;
  }

  * {
    font-weight: inherit;
    margin: 0;
  }

  [role="menuitem"] {
    transition: background $colorTransition, color $colorTransition;
    padding: $flow1;
    border: $borderWidth $borderStyle var(--g7);

    & + [role="menuitem"] {
      border-top: none;
    }

    &[aria-current] {
      border-left-color: var(--primary);
      background: var(--g7);
    }

    &:hover,
    &:focus-within {
      background: var(--g7);
    }
  }

  a {
    text-decoration: none;
  }
}

[aria-current] {
  color: inherit;
}
