.toggle {
	display: grid;
	place-items: center;
	height: 1.8em;
	width: 1.8em;
	padding: 0.2em;
	margin-right: $flow1 / 2;
	overflow: hidden;
	background: none;
	--on: 1;

	svg {
		pointer-events: none;
		--translate: 0, 0, 0;
		transition: transform $motionTransition, opacity $smoothTransition;
		transform: translate3d(var(--translate));
	}

	svg:last-child {
		opacity: var(--on);
		--translate: 0, calc(-100% * (1 - var(--on))), 0;
	}

	svg:first-child {
		opacity: calc(1 - var(--on));
		--translate: 0, calc(100% * var(--on)), 0;
	}
}

html {
	&.dark_mode {
		--g0: #{$g8};
		--g1: #{$g7};
		--g2: #{$g6};
		--g3: #{$g5};
		--g4: #{$g4};
		--g5: #{$g3};
		--g6: #{$g2};
		--g7: #{$g1};
		--g8: #{$g0};
		--primary: #{$secondary};
		--secondary: #{$primary};
		--fontWeightRegular: 300;
		--shadowColor: rgba(0, 0, 0, 0.85);
		--translucent: rgba(0, 0, 0, 0.85);

		body {
			color: var(--g1);
		}

		.blurb img[src*="svg"] {
			filter: invert(1);
		}

		#dark_mode_toggle {
			--on: 0;
		}
	}

	&.reduced_motion {
		scroll-behavior: auto;

		body::after {
			display: none !important;
			animation-play-state: paused !important;
		}

		aside,
		main {
			*,
			*::before,
			*::after {
				animation-play-state: paused !important;
				animation-delay: -10s !important;
				transition: none !important;
			}
		}

		#reduced_motion_toggle {
			--on: 0;
		}
	}

	&.muted #muted_toggle {
		--on: 0;
	}
}
