.dark_mode {
    background: $charcoalgrey;

    body {
        background: inherit;
        --inverse: #{$charcoalgrey};
        --body-color: #{$lightgrey};
        --primary: #{$secondary};
        --primary-soft: #{$secondary-soft};
        color: $lightgrey;
    }

    p a,
    button.unstyled,
    #skip_link,
    :not(pre) > code {
        color: $mediumgrey;
    }

    *::placeholder {
        color: $mediumgrey;
    }

    .highlight {
        color: $mediumgrey;

        &:hover,
        &:focus {
            color: inherit;
        }
    }

    .highlight::before,
    input[type="text"] {
        background: $darkgrey;
    }

    nav a.active {
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 0.06em;
    }

    article ul li,
    article ol li {
        list-style-type: disc;
        list-style-type: "🌔";
    }

    #dark_mode_toggle {
        &::after {
            transform-origin: right;
            transform: translateX(100%);
        }

        &:hover::after,
        &:focus::after {
            transform: translateX(100%) scaleX(1.1);
        }

        svg {
            color: currentColor;
        }
    }

    pre.is_overflowing {
        box-shadow: overflow-shadow(rgba(0, 0, 0, 0.3));
    }
}
