.dark_mode {
    background: $charcoalgrey;

    body {
        --inverse: #{$charcoalgrey};
        --body-color: #{$lightgrey};
        --primary: #{$secondary};
        --primary-soft: #{$secondary-soft};
        color: $ultralightgrey;
    }

    a:not([class]),
    :not(pre) > code,
    pre code,
    button.unstyled,
    #skip_link {
        color: $mediumgrey;
    }

    *::placeholder {
        color: $mediumgrey;
    }

    .highlight {
        color: $mediumgrey;

        &:hover,
        &:focus {
            color: inherit;
        }
    }

    .highlight::before,
    input[type="text"],
    blockquote,
    :not(pre) > code {
        background: $darkgrey;
    }

    table,
    td,
    th {
        border-color: $darkgrey;
    }

    hr,
    .space.horizontal {
        border-color: $slategrey;
    }

    nav a.active {
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 0.06em;
    }

    article ul li,
    article ol li {
        list-style-type: disc;
        list-style-type: "🌔";
    }

    #dark_mode_toggle svg {
        &:first-of-type {
            --active: 0;
        }
        &:last-of-type {
            --active: 1;
        }
    }
}
