img,
svg,
picture,
object,
video {
    width: 540px;
    height: auto;
    user-select: none;
    object-fit: cover;
    position: relative;
}

img,
object,
video {
    background: $mediumgrey;
    border-radius: $border-radius-alt;
}

.has_img {
    position: relative;
}

@supports (display: grid) {
    img,
    svg,
    object,
    video {
        width: 100%;
    }
}
