<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Braden East | [[ page.name ]]</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="[[ page.description ]]">
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/_assets/favicon-light--padded.png" />
    <meta name="supported-color-schemes" content="light dark" />

    <meta property="og:site_name" content="Braden East" />
    <meta property="og:description" content="[[ page.description ]]" />
    <meta property="og:url" content="https://www.bradeneast.com[[ page.href ]]" />
    <meta property="og:image" content="https://www.bradeneast.com/_assets/on-a-rock-small.jpg" />
    <link rel="canonical" href="https://www.bradeneast.com[[ page.href ]]" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />

    <base href="/" />
    <link rel="shortcut icon" href="/_assets/favicon-light.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="/_assets/favicon-light--padded.png" type="image/png" />

    <link rel="prefetch" as="font" href="/public/_assets/fonts/hk_grotesk/HKGrotesk-Regular.woff2" type="font/woff2" />
    <link rel="prefetch" as="font" href="/public/_assets/fonts/hk_grotesk/HKGrotesk-Italic.woff2.woff2" type="font/woff2" />
    <link rel="prefetch" as="font" href="/public/_assets/fonts/hk_grotesk/HKGrotesk-Bold.woff2" type="font/woff2" />
    <link rel="preload" as="fetch" href="/sitemap.json" />
    <link rel="preload" as="style" href="/_assets/css/main.min.css" type="text/css" />

    <link rel="stylesheet" href="/_assets/css/main.min.css" type="text/css" />

    <link rel="preload" as="style" defer="true" href="/_assets/css/non_critical.min.css" type="text/css" />
    <noscript>
        <link rel="stylesheet" href="/_assets/css/non_critical.min.css" type="text/css" />
    </noscript>

    <script defer src="https://polyfill.io/v3/polyfill.min.js" crossorigin="anonymous"></script>
    <script defer src="/_assets/js/main.min.js"></script>
    <script>
        var dmName = 'dark_mode';
        var dm = localStorage.getItem(dmName);
        var doc = document.documentElement;
        var IE = navigator.userAgent.indexOf('MSIE') > -1 || navigator.appVersion.indexOf('Trident/') > -1;

        if (dm == null || IE) localStorage.setItem(dmName, false);

        if (IE) {
            var retroModeStyles = document.createElement('link');
            retroModeStyles.rel = 'stylesheet';
            retroModeStyles.href = '/_assets/css/retro_mode.min.css';
            retroModeStyles.setAttribute('type', 'text/css');
            doc.appendChild(retroModeStyles);
        } else {
            doc.classList.toggle(dmName, JSON.parse(dm));
        }

    </script>

</head>