<footer>

    &copy; 2020 Braden East

    {{ socials }}

</footer>

<link rel="preload" as="style" href="/_assets/css/fonts.min.css" type="text/css" onload="this.onload=null;this.rel=`stylesheet`" />
<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" type="text/css" onload="this.onload=null;this.rel=`stylesheet`" />

<noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" type="text/css" />
    <link rel="stylesheet" href="/_assets/css/fonts.min.css" type="text/css" />
</noscript>