<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="supported-color-schemes" content="light dark">

    <title>[[ name ]]</title>

    <meta property="og:site_name" content="Braden East">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" id="ogurl" content="https://www.bradeneast.com">
    <meta property="og:image" id="ogimage" content="https://www.bradeneast.com/_assets/on-a-rock-small.jpg">

    <link rel="canonical" href="https://www.bradeneast.com">

    <link rel="preload" as="style" href="/_assets/css/main.min.css">
    <link rel="stylesheet" href="/_assets/css/main.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

    <link id="favicon" rel="shortcut icon" href="/_assets/favicon-light.png" type="image/png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/_assets/favicon-light--padded.png">
    <link rel="apple-touch-icon-precomposed" href="/_assets/favicon-light--padded.png">

    <script defer src="https://polyfill.io/v3/polyfill.min.js" type="text/javascript" crossorigin="anonymous"></script>
    <script defer src="/_assets/js/main.min.js"></script>
    <script>
        var dmName = 'dark_mode';
        var dm = localStorage.getItem(dmName);

        if (dm == null) {
            localStorage.setItem(dmName, false);
        } else {
            document.documentElement.classList.toggle(dmName, JSON.parse(dm));
        }
    </script>

</head>