<div id="search_wrapper">

    <input type="text" placeholder="Search this site" name="search" id="search">

    <ul id="search_results">

        <li id="search_result_template">

            <h2>
                <a class="highlight" href="result.href">result.name</a>
            </h2>

            <p>result.excerpt</p>

            <div class="meta">
                <p class="categories">result.categories.links</p>
            </div>

        </li>

    </ul>

</div>
<script defer src="/_assets/js/search.min.js"></script>