html {
  height: 100vh;
  background: var(--g8);
  overflow-x: hidden;
}

body {
  display: flex;
  flex-flow: row wrap;
  place-items: start;
  padding-top: 40vmin;
}

.logo {
  position: absolute;
  width: 4rem;
  top: $flow1;
  left: $flow1;

  svg {
    fill: var(--g0);
  }
}

main {
  width: 60%;
  padding-bottom: $flow4;
  padding-left: $flow2;
  padding-right: $flow2;
  min-width: 20rem;
}

iframe {
  height: 24rem;
  margin-bottom: $flow2;
}

aside {
  z-index: 9;
  position: sticky;
  top: $flow2;
  align-self: flex-start;
  display: flex;
  place-items: start;
  place-content: start;
  flex-flow: row wrap;
  width: 40%;
  padding-right: $flow2;

  section {
    max-width: 20rem;
    width: 19vw;
    min-width: 14rem;
    padding-left: 2vw;

    a {
      line-height: 1.2;
      display: block;
    }
  }
}

footer {
  display: flex;
  align-self: end;
  width: 100%;
  flex-shrink: 0;
  padding: $flow1;

  &>*>*:not(:last-child) {
    padding-right: $flow1;
    margin-right: $flow1;
    border-right: $borderWidth $borderStyle var(--g7);
  }

  &> :last-child {
    text-align: right;
    margin-left: auto;
  }

  .modal {
    transition: opacity $smoothTransition;
    pointer-events: none;
    opacity: 0;

    &.visible {
      pointer-events: all;
      opacity: 1;
    }
  }

  .socials>a {
    margin-left: math.div($flow1, 2);
  }
}

@media screen and (max-width: $mobile) {
  body {
    padding: $flow2 0;
    overflow-x: hidden;
  }

  main,
  aside,
  footer {
    &>* {
      margin-left: $flow1;
      margin-right: $flow1;

      &.has-media {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  main,
  aside {
    width: 100%;
    max-width: none;
    min-width: 0;
  }

  // aside {
  //   position: fixed;
  //   display: grid;
  //   height: 100vh;
  //   width: 100%;
  //   text-align: center;
  //   place-items: center;
  //   place-content: center;
  //   background: var(--g8);

  //   section {
  //     padding: 0;
  //     margin-bottom: $flow4;
  //     max-width: 100%;
  //     width: 100%;
  //     align-self: center;
  //   }
  // }

  main {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: $flow4;
  }

  footer {
    display: block;
    text-align: right;
    padding: 0;

    &>.flex,
    .socials,
    .copyright {
      flex-flow: column;
    }

    .copyright,
    .modal,
    .socials {
      margin-bottom: $flow1;
    }

    .modal {
      order: 9;
      margin-bottom: 0;
    }

    .toggles {
      margin-top: 0.5em;
      margin-bottom: $flow1;
      justify-content: flex-end;
    }

    .socials,
    .modal {
      display: block;
      padding: 0;
      border: none;
      margin-right: 0;
    }
  }
}