.flex {
	display: flex;
}

.grid {
	--columns: 18em;
	display: grid;
	gap: $flow1;
	grid-template-columns: repeat(auto-fill, minmax(var(--columns), 1fr));
	margin-bottom: $flow2;
}

.left {
	text-align: left;
	margin-right: auto;
}

.right {
	text-align: right;
	margin-left: auto;
}

.compress {
	line-height: 1.2;
}

.limited-width,
main > *:not(.has-media):not(.cp_embed_wrapper) {
	max-width: 44rem;
}

.stagger-child-transitions {
	@for $i from 2 through 12 {
		& > :nth-child(#{$i}) {
			transition-delay: #{($i - 1) * 0.05}s, 0s, 0s;
		}
	}
}

.pad-vertical {
	padding: $flow6 0;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: $mobile) {
	// .grid {
	// 	padding-left: $flow1;
	// 	padding-right: $flow1;
	// }
}
