$g0: #000000;
$g1: #111418;
$g2: #363c47;
$g3: #5b6876;
$g4: #808995;
$g5: #9faabd;
$g6: #c5cacf;
$g7: #edeeef;
$g8: white;
$primary: #2f60e6;
$secondary: #694bd8;
$accent: #8541d3;
$gold: #f09a43;
$flow1: 1rem;
$flow2: 1.63rem;
$flow3: 3rem;
$flow4: 4rem;
$flow6: 6rem;
$fontSizeSmall: 0.8rem;
$fontWeightRegular: 400;
$fontWeightHeavy: 700;
$borderWidth: 2px;
$borderStyle: solid;
$borderRadius: 0;
$motionTransition: 0.45s cubic-bezier(0.3, 0.5, 0.1, 1.2);
$colorTransition: 0.28s cubic-bezier(0.3, 0.3, 0.1, 1);
$smoothTransition: 0.63s cubic-bezier(0.4, 0.3, 0.1, 1);
$mobile: 54em;
$fallback: showFallback 5s forwards;

@font-face {
  font-family: "Recursive";
  src: url("/Recursive.woff2") format("woff2-variations");
  font-variation-settings: "slnt" -13, "CRSV" 1, "CASL" 1;
  font-weight: 300 700;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/SpaceGrotesk.woff2") format("woff2-variations");
  font-feature-settings: "ss02" 1, "ss03" 1, "ss04" 1, "case" 1, "zero" 1;
  font-weight: 300 700;
  font-display: swap;
}

@font-face {
  font-family: "Thunder";
  src: url("/Thunder-ExtraBoldLC.woff2") format("woff2-variations");
  font-weight: 700;
  font-display: block;
}

$fallbackFonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Nueue", "Roboto", sans-serif;
$ff_alt: "Recursive", $fallbackFonts;
$ff_main: "Space Grotesk", $fallbackFonts;
$ff_h1: "Thunder", "Space Grotesk", $fallbackFonts;
