<!DOCTYPE html>
<html lang="en">

{{ include "head.vto" }}

<body class="{{ it.bodyClass }}">

	{{# <div class="logo">{{ include "assets/east_seal.svg" }}</div> #}}

	<aside>

		<section>
			{{ set primaryMenuPages = search.pages("menu.showInMenu=true") }}
			{{ comp.dropdown({
				id: "primary",
				placeholder: it.parentTitle || it.title,
				options: primaryMenuPages
			}) }}
		</section>

		{{ if it.showSecondaryMenu }}
		<section>
			{{ set secondaryMenuPages = search.pages("type=" + type, site.sorting[parentTitle]) }}
			{{ comp.dropdown({
				id: "secondary",
				placeholder: it.title,
				options: secondaryMenuPages
			}) }}
		</section>
		{{ /if }}

	</aside>

	<main>
		{{ content }}
	</main>

	{{ include "footer.vto" }}

</body>

</html>