<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ site.name }}</title>
	<meta name="description" content="{{ site.description |> truncate(200) }}" />

	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ site.description |> truncate(200) }}" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:url" content="{{ site.root }}{{ url }}" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:image" content="{{ site.root }}{{ it.image || it.featured_image }}" />
	<meta property="og:image:width" content="1620" />
	<meta property="og:image:height" content="1080" />

	{{# Favicon #}}
	<link rel="icon" href="/_/favicon.ico" sizes="32x32">
	<link rel="icon" href="/_/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/_/apple-touch-icon.png"><!-- 180×180 -->

	<base href="/" />
	<link rel="canonical" href="{{ site.root }}{{ url }}">

  {{# Preconnect to Netlify CDN #}}
	<link rel="preconnect" href="//d33wubrfki0l68.cloudfront.net" />
	<link rel="dns-prefetch" href="//d33wubrfki0l68.cloudfront.net" />

  {{# Preload assets #}}
	<link rel="preload" href="/main.css" as="style" />
	<link rel="preload" href="/main.js" as="script" />
	<link rel="preload" href="//polyfill.io/v3/polyfill.min.js?features=default" as="script">

  {{# Load assets #}}
	<link rel="stylesheet" href="/main.css">
	<script defer src="//polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="/main.js" defer></script>
</head>

<body class="{{ it.bodyClass }}">

	<nav>
		<a href="/" class="logo">{{ include "wordmark.svg" }}</a>
		<div role="menu">
		{{ for entry of search.pages("menu.visible=true", "menu.order") }}
			<a role="menuitem" class="{{ entry.menu.cta ? 'button bg' : '' }}" href="{{ entry.url }}" {{ if entry.url==url }}aria-current="page"{{ /if }}>
				{{ entry.menu.label || entry.title }}
			</a>
		{{ /for }}
		</div>
	</nav>

	{{- content -}}

	<hr>

	<section class="center">
	
		<div class="everfault alien">
			<div class="everfault__gradient"></div>
			{{# <div class="everfault__letters"></div> #}}
		</div>
	
		<div class="small">Launch a project</div>
		<a class="big" href="mailto:{{ site.email }}">{{ site.email }}</a>

		{{# <br>

		<form name="prelaunch" data-success="Success" netlify>
			<label class="required">
				<div class="small">Receive Transmissions</div>
				<div class="flex">
					<input required type="email" inputmode="email" name="email" placeholder="bartian@spacemail.com" />
					<button type="submit" style="z-index:2">&rang;</button>
				</div>
			</label>
		</form> #}}

		<div class="center">
			<div class="bartian center" style="margin-bottom:1rem;">{{ include "bartian.svg" }}</div>
			<div class="small">
    		&copy; {{ site.year }} {{ site.name }}
			</div>
			<div class="socials">
				{{ for platform, url of site.socials }}
					<a class="small" href="{{ url }}">{{ platform }}</a>
				{{ /for }}
			</div>
		</div>
		
	</section>

</body>

</html>