{%- import "macros.njk" as macros -%}

<!DOCTYPE html>
<html lang="en">

{% include "head.njk" %}

<body class="{{ bodyClass }}">

	<div class="logo">{% include "assets/east_seal.svg" %}</div>

	<aside>
		<section>
			{% set primaryMenuPages = search.pages("menu.showInMenu=true") %}
			{{ macros.dropdown("primary", parentTitle or title, primaryMenuPages) }}
		</section>
		{% if showSecondaryMenu %}
		<section>
			{% set secondaryMenuPages = search.pages("type=" + type, site.sorting[parentTitle]) %}
			{{ macros.dropdown("secondary", title, secondaryMenuPages) }}
		</section>
		{% endif %}
	</aside>

	<main>
		{{ content | safe }}
	</main>

	{% include "footer.njk" %}

</body>

</html>