---
layout: layouts/post.njk
---

{% set readTime = content.length / 2000 %}

<div class="pad-vertical" style="margin:0">
  <div class="tags">{{ tags | join(", ") }}</div>
  <div class="light-text">{{ readTime | round() }}-minute read</div>
</div>

{{ content | safe }}

<p>
  <a href="//twitter.com/intent/tweet?text={{ title }}&amp;url={{ site.root }}{{ sys.href }}&amp;via=bradenthehair">Share this on Twitter</a>
</p>