---
layout: layouts/post.vto
---

<div class="pad-vertical" style="margin-top: 0;">
  <div class="tags light-text subtext">{{ tags |> join(", ") }}</div>
  Completed for: <strong>{{ entity }}</strong>
</div>

{{ content }}

{{ if it.links }}
<p class="pad-vertical">
  {{ for index, data of links }}
    {{ if index > 1 }}<br>{{ /if }}
    <a target="_blank" rel="noopener noreferrer" href="{{ data.link }}">
      {{ data.label }}
    </a>
  {{ /for }}
</p>
{{ /if }}