---
layout: layouts/base.njk
showSecondaryMenu: true
bodyClass: post
---

<div class="has-media">
  <img src="{{ image }}" />
</div>

{{ content | safe }}

<hr />

<h2>Related case studies:</h2>

<div class="feed">
  {# Search pages by type that aren't the current page #}
  {# Filter posts by tags matching the current page #}
  {% set postsList = search.pages("title!='" + title + "' type='" + type + "'") | getRelatedPosts(tags) %}
  {% include "templates/postsList.njk" %}
</div>