---
layout: layouts/base.vto
showSecondaryMenu: true
bodyClass: post
---

<div class="has-media">
  <img src="{{ image }}" />
</div>

{{ content }}

<hr />

{{# Search pages by type that aren't the current page #}}
{{# Filter posts by tags matching the current page #}}
{{ set postsList = search.pages("title!='" + title + "' type='" + type + "'") }}

{{ if postsList.length }}

<h2>Related Posts:</h2>

<div class="feed">
  {{ include "templates/postsList.vto" { postsList } }}
</div>

{{ /if }}