[data-feed],
#search_results {
    padding-left: 0;

    & > * {
        padding-left: 0;
        list-style: none;
        margin-bottom: $flow-space-section;

        img {
            border: $border-width $border-style currentColor;
            border-radius: $border-radius-alt;
        }
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        text-decoration: none;
    }

    a:hover img,
    a:focus img {
        border-radius: $border-radius;
    }
}

@supports (display: grid) {
    [data-feed] > .includes_media {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        gap: $flow-space-paragraph;
        gap: var(--flow-space-paragraph);
    }
}
