footer {
    grid-area: footer;

    .copyright {
        order: -1;
    }

    .banner {
        padding: 1.4em 2em;
        border-radius: $border-radius;
        text-align: center;

        &.info {
            background: $primary-soft;
            background: var(--primary-soft);
        }
    }

    #socials {
        grid-column: -1;
        display: flex;
        align-items: center;
        margin-left: auto;

        svg {
            width: 1.5em;
            margin-left: 0.5em;
        }
    }
}

#ie_message {
    display: none;
}
