footer {
    grid-area: footer;

    .copyright {
        order: -1;
        line-height: 1;
        align-self: center;
    }

    #socials {
        grid-column: -1;
        display: flex;
        align-items: center;
        margin-left: auto;
        line-height: 0;

        a {
            border-radius: $border-radius-alt;
            padding: 0.5em;
            width: 2.5em;

            &:hover,
            &:focus {
                background: $body-color;
                background: var(--body-color);
            }
        }
    }
}

@supports (display: grid) {
    footer {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: end;
        gap: $flow-space;
        gap: var(--flow-space);
    }
}
