footer {
    display: flex;
    grid-area: footer;
}

#socials {
    display: flex;
    align-items: center;
    margin-left: auto;

    svg {
        width: 1.5em;
        margin-left: 0.5em;
    }
}
