img,
svg,
picture,
video {
    width: 540px;
    height: auto;
    user-select: none;
    object-fit: cover;
    position: relative;
}

@supports (display: grid) {
    img,
    svg,
    video {
        width: 100%;
    }
}

img {
    border-radius: $border-radius-alt;
}

.has_img {
    position: relative;
}
