[data-feed],
#search_results {
    padding-left: 0;

    & > * {
        padding-left: 0;
        list-style: none;
        margin-bottom: $flow-space-section;

        a:hover img,
        a:focus img {
            border-radius: $border-radius;
        }

        img {
            border: $border-width $border-style currentColor;
            border-radius: $border-radius-alt;
            transition: $transition-short;
        }
    }
}

.meta {
    line-height: 1.4;
    margin-top: 1rem;

    .created,
    .modified {
        color: $slategrey;
    }

    .categories {
        display: flex;
    }

    a {
        font-weight: 400;
        margin-right: 0.37em;

        &::before {
            content: "#";
        }
    }
}

article {
    .meta,
    .featured-media,
    .codepen {
        margin-bottom: $flow-space-paragraph;
        margin-bottom: var(--flow-space-paragraph);
    }

    .codepen {
        width: 100%;

        &::after {
            content: "\1F62C Yikes... this pen isn't available.";
            display: block;
            text-align: center;
            padding: 2em;
            border: $border-width $border-style currentColor;
            border-radius: $border-radius-alt;
        }
    }

    .codepen-fallback {
        margin-top: 0;
    }

    .cp_embed_wrapper {
        margin-bottom: $flow-space;
        margin-bottom: var(--flow-space);
    }

    .cp_embed_iframe {
        min-height: 540px;
    }
}

.scope_nav {
    display: flex;
    width: 100%;
    margin-top: $flow-space-section;
    padding-top: $flow-space-section;

    a {
        max-width: calc(50% - #{$flow-space-paragraph});
        max-width: calc(50% - var(--flow-space-paragraph));
    }

    .name {
        display: block;
    }

    .label {
        display: block;
        font-weight: 400;
        color: $slategrey;
    }

    a:last-of-type {
        text-align: right;
        margin-left: auto;
    }

    [href="undefined"] {
        display: none;
    }
}
