#astronaut {
	$duration: 3.6s;
	--angle: 45deg;
	--shader: linear-gradient(calc(var(--angle) + 90deg), transparent, rgba(0, 0, 0, 0.37));
	--colorizer: linear-gradient(calc(var(--angle) + 90deg), var(--accent), var(--primary));
	transform: rotate(var(--angle));
	font-size: var(--animationSize);
	animation: astronautFloat $duration ease-in-out infinite alternate forwards;
	animation-delay: $duration * 0.3;

	*,
	*::before,
	*::after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
	}

	.pack {
		background-image: var(--colorizer);
		border-radius: 0.1em;
		top: 40%;
		transform: translate(-50%, -50%);
		width: 0.4em;
		height: 0.6em;
	}

	.cord {
		background: var(--colorizer);
		transform-origin: top left;
		top: 42%;
		left: 48%;
		transform: scale(0.85) rotate(156deg) perspective(1px);
		backface-visibility: hidden;
		clip-path: url(#cord);

		svg {
			width: 0;
			height: 0;
		}
	}

	.helmet {
		width: 0.3em;
		height: 0.3em;
		background-color: var(--g7);
		background-image: var(--shader);
		border-radius: 50%;
		top: 0;
		transform: translateX(-65%);
		border: 0.02em solid var(--g6);

		&::after {
			content: "";
			width: 20%;
			height: 37%;
			background: white;
			border-radius: 50%;
			left: 10%;
			top: 48%;
			transform: translateY(-50%);
		}
	}

	.torso {
		width: 0.28em;
		height: 0.5em;
		top: 0.22em;
		transform: translateX(-50%);

		&::after {
			content: "";
			top: 37%;
			left: 37%;
			transform: translate(-50%, -50%);
			background-color: var(--g5);
			background-image: var(--shader);
			width: 0.15em;
			height: 0.15em;
			border-radius: 0.05em;
		}

		&::before {
			content: "";
			top: 0;
			left: 0;
			border-radius: 0.3em 0.1em / 0.3em 0.1em;
			background-color: var(--g6);
			background-image: var(--shader);
		}

		* {
			background-color: var(--g7);
			transform: rotate(var(--angle));
			border-radius: 0.05em;
			animation-duration: $duration;
			animation-timing-function: cubic-bezier(0.6, 0.3, 0.5, 1);
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-fill-mode: forwards;
		}
	}

	.arm,
	.leg {
		left: auto;
		right: auto;
		width: 0.25em;
		height: 0.14em;
	}

	.arm {
		top: 0;
	}

	.leg {
		top: 70%;
	}

	.lower {
		left: auto;
		top: auto;
		transform-origin: inherit;
	}

	.left {
		right: 80%;
		left: auto;
		transform-origin: right;

		.lower {
			right: 80%;
		}

		&.arm {
			z-index: -1;
			--angle: -60deg;
			animation-name: leftArm;

			.lower {
				--angle: 20deg;
			}
		}

		&.leg {
			z-index: -1;
			--angle: -75deg;
			animation-name: leftLeg;
			animation-delay: 0.2s;

			.lower {
				--angle: -20deg;
			}
		}
	}

	.right {
		left: 80%;
		transform-origin: left;

		.lower {
			left: 80%;
		}

		&.arm {
			--angle: 50deg;
			animation-name: rightArm;
			animation-delay: 0.2s;

			.lower {
				--angle: 10deg;
				animation-name: rightArmLower;
			}
		}

		&.leg {
			--angle: 95deg;
			animation-name: rightLeg;

			.lower {
				--angle: -40deg;
				animation-name: rightLegLower;
			}
		}
	}
}

@keyframes astronautFloat {
	from {
		transform: translateY(0) rotate(var(--angle));
	}
	to {
		transform: translateY(0.1em) rotate(var(--angle));
	}
}

@keyframes leftArm {
	to {
		transform: rotate(-50deg);
	}
}

@keyframes leftLeg {
	to {
		transform: rotate(-65deg);
	}
}

@keyframes rightArm {
	to {
		transform: rotate(60deg);
	}
}

@keyframes rightArmLower {
	to {
		transform: rotate(20deg);
	}
}

@keyframes rightLeg {
	to {
		transform: rotate(110deg);
	}
}

@keyframes rightLegLower {
	to {
		transform: rotate(-30deg);
	}
}
