@import "../../../_scss/variables";

.hero {
	--charDelay: 0s;
	padding: 8vw 0;
	margin: 4vw;
	opacity: 0;
	animation: fadeIn 0.5s ease forwards;
}

.character,
.designer,
.developer,
.tagline {
	display: inline-block;
	animation-duration: 0.63s;
	animation-timing-function: cubic-bezier(0.3, 0.7, 0.1, 1), ease-out;
	animation-fill-mode: forwards;
	--x: 0;
	--y: 0;
	--z: 0;
	--scale: 1;
	transform: translate3d(var(--x), var(--y), var(--z)) scale(var(--scale));
}

.character,
.tagline {
	--y: 1em;
	opacity: 0;
}

@media screen and (max-width: 32rem) {
	.character {
		white-space: nowrap;
	}
}

.character {
	font-weight: 10;
	animation-name: fadeIn, bulgeIn;
	animation-delay: calc(var(--charDelay) + 0.03s * var(--index));
}

.designer {
	--charDelay: 0.5s;
	background-image: linear-gradient(transparent 50%, var(--g5) 50%, var(--g5) 60%, transparent 0);
	background-position-x: 20em;
	background-repeat: no-repeat;
	animation-name: fadeIn, delete;
	animation-delay: var(--charDelay), 2s;
}

.developer {
	--charDelay: 3s;
	animation-delay: var(--charDelay);
}

.developer .character {
	--scale: 2;
	--x: 3rem;
	--y: 0;
}

.tagline {
	transform: none;
	animation-duration: 2s;
	animation-delay: 4.5s;
	animation-name: fadeIn;
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(1);
	}
}

@keyframes bulgeIn {
	to {
		font-weight: $fontWeightHeavy;
	}
}

@keyframes delete {
	to {
		color: var(--g5);
		background-position-x: 0rem;
	}
}
