#planet {
	--lightAngle: -37deg;
	--contrast: rgba(0, 0, 0, 0.3);
	--duration: 5s;
	--planetColor: linear-gradient(var(--lightAngle), var(--contrast), transparent);
	font-size: var(--animationSize);
	width: 1em;
	height: 1em;
	transform: scale(0.72) translateY(-0.1em);

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 0.2em;
		background: var(--contrast);
		border-radius: 50%;
		top: calc(100% + 0.1em);
		animation: planetShadow var(--duration) ease-in-out infinite reverse;
	}

	.planet {
		position: absolute;
		top: 0.1em;
		left: 0.05em;
		width: 0.9em;
		height: 0.9em;
		border-radius: 40% 45% 50% 45% / 45% 40% 45% 50%;
		background-image: linear-gradient(var(--lightAngle), var(--accent), var(--primary), var(--primary));
		background-color: var(--primary);
		overflow: hidden;
		will-change: transform;
		animation: planetFloat var(--duration) ease-in-out infinite reverse;
	}

	.moon--wrapper {
		--y: 0;
		position: absolute;
		width: 175%;
		height: 100%;
		left: 50%;
		transform: translateX(-50%) rotate(-4deg);
		will-change: transform;
		animation: orbitY var(--duration) linear infinite;
	}

	.moon {
		top: 50%;
		left: 0;
		width: 0.2em;
		height: 0.2em;
		transform: translate(-50%, -50%);
		background: linear-gradient(var(--lightAngle), var(--g4), var(--g6));
		border-radius: 50%;
		will-change: transform;
		animation: orbitX var(--duration) ease-in-out infinite;
	}

	.orbit {
		&--front,
		&--back {
			width: 175%;
			height: 0.4em;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(-4deg);
			border-radius: 50%;
			border: 0.1em solid var(--g7);
		}

		&--front {
			clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%);
			z-index: 1;
		}

		&--back {
			clip-path: polygon(0 0, 0 50%, 100% 50%, 100% 0%);
		}
	}

	.pockmark {
		--size: 3em;
		--x: 0;
		--y: 0;
		position: absolute;
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		opacity: 0.37;
		top: var(--y);
		left: var(--x);
		transform: translate(-50%, -50%);
		background: linear-gradient(to right, transparent, black);

		&:nth-of-type(1) {
			--size: 0.1em;
			--x: 55%;
			--y: 15%;
		}

		&:nth-of-type(2) {
			--size: 0.4em;
			--x: 70%;
			--y: 55%;
		}

		&:nth-of-type(3) {
			--size: 0.3em;
			--x: 40%;
			--y: 95%;
		}

		&:nth-of-type(4) {
			--size: 0.3em;
			--x: 18%;
			--y: 30%;
		}

		&:nth-of-type(5) {
			--size: 0.2em;
			--x: 5%;
			--y: 65%;
		}
	}
}

@keyframes planetShadow {
	0% {
		transform: scaleX(1);
		opacity: 0.63;
		filter: blur(0.05em);
	}

	50% {
		transform: scaleX(0.85);
		opacity: 1;
		filter: blur(0.03em);
	}

	100% {
		transform: scaleX(1);
		opacity: 0.63;
		filter: blur(0.05em);
	}
}

@keyframes orbitX {
	0% {
		left: 0;
	}

	50% {
		left: 100%;
	}

	100% {
		left: 0;
	}
}

@keyframes orbitY {
	0% {
		top: 0;
		z-index: 1;
	}

	25% {
		top: -0.17em;
		z-index: 0;
	}

	50% {
		top: 0;
		z-index: 1;
	}

	75% {
		top: 0.17em;
	}

	100% {
		top: 0;
		z-index: 1;
	}
}

@keyframes planetFloat {
	0% {
		top: -0.03em;
	}

	50% {
		top: 0.07em;
	}

	100% {
		top: -0.03em;
	}
}
