#rocket {
	--angle: -37deg;
	--tint: rgba(0, 0, 0, 0.37);
	width: var(--animationSize);
	height: var(--animationSize);
	overflow: hidden;

	*,
	*::before,
	*::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.rocket--wrapper {
		will-change: transform;
		animation: rocketFloat 5s ease-in-out infinite;
	}

	.rocket {
		top: 50%;
		left: 50%;
		width: var(--animationSize);
		height: calc(var(--animationSize) / 2);
		transform: translate(-40%, -72%) scale(0.8) rotate(var(--angle));
	}

	.body {
		background-color: var(--g7);
		background-image: linear-gradient(transparent, var(--tint)), linear-gradient(to right, transparent 85%, var(--g6) 0);
		border-radius: 0 50% 50% 0;
	}

	.flame {
		width: calc(var(--animationSize) / 3);
		height: calc(var(--animationSize) / 3);
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		border-radius: 0% 50% 50% 50%;
		background: linear-gradient(to top left, var(--accent), var(--primary));
	}

	.window {
		border-radius: 50%;
		width: calc(var(--animationSize) * 0.37);
		height: calc(var(--animationSize) * 0.37);
		left: 37%;
		top: 50%;
		transform: translateY(-50%);
		background-color: var(--g7);
		background-image: linear-gradient(transparent, transparent, var(--tint));
		border: 0.37em solid var(--g6);

		&::after {
			background: white;
			border-radius: 50%;
			left: 50%;
			top: 10%;
			width: 50%;
			height: 20%;
			transform: translateX(-50%);
		}
	}

	.fin {
		--x: -50%;
		--y: -50%;
		background-color: var(--g6);
		background-image: linear-gradient(transparent, var(--tint));
		top: 100%;
		height: 50%;
		width: 85%;
		left: -12%;
		transform: translateY(var(--y));
		border-radius: 100% 0 0 0 / 100% 0 0 0;
		clip-path: polygon(0 0, 100% 0, 37% 100%, 0% 100%);

		&:nth-of-type(2) {
			--y: 50%;
			top: auto;
			bottom: 100%;
			border-radius: 0 0 0 100% / 0 0 0 100%;
			clip-path: polygon(0 0, 37% 0, 100% 100%, 0 100%);
		}

		&:nth-of-type(3) {
			border-radius: 0;
			width: 50%;
			top: 50%;
			z-index: 2;
			height: 10%;
			clip-path: polygon(0 50%, 10% 0, 100% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%);
			background: var(--g5);
		}
	}

	.stars {
		transform: rotate(var(--angle));
	}

	.star {
		--amt: 1em;
		width: var(--amt);
		height: var(--amt);
		clip-path: polygon(0 50%, 37% 37%, 50% 0, 63% 37%, 100% 50%, 63% 63%, 50% 100%, 37% 63%);
		background: radial-gradient(var(--primary), var(--accent));
		will-change: transform;
		animation: starMoves 5s linear infinite;
	}
}

@keyframes starMoves {
	from {
		transform: translateX(calc(var(--animationSize) + var(--amt) * 10)) rotate(calc(var(--angle) * -1));
	}

	to {
		transform: translateX(calc(var(--animationSize) * -1 + var(--amt) * -10)) rotate(calc(var(--angle) * -1));
	}
}

@keyframes rocketFloat {
	0% {
		transform: translateY(0.5em);
	}

	50% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(0.5em);
	}
}
