@import "../../_scss/variables";

::-webkit-scrollbar {
	display: none;
}

html {
	scrollbar-width: none;
}

body {
	padding: 0;
	display: block;
	background: linear-gradient(-37deg, var(--accent), var(--primary));

	main {
		display: grid;
		padding-top: 0;
		padding-left: $flow2;
		padding-right: $flow2;

		& > * {
			margin: 0;
		}
	}
}

section {
	display: grid;
	align-items: center;
	min-height: 100vh;
	padding: $flow4;
	margin: 0;
}

aside,
[class*="border-"]::before {
	display: none;
}

footer {
	padding-top: $flow1;
	padding-bottom: $flow1;
	background: var(--g8);
	border-top: $borderWidth $borderStyle var(--g6);
	box-shadow: var(--largeShadow), var(--largeShadow);
}

.picker {
	display: flex;
	flex-flow: row wrap;
}

pre {
	font-size: 1.37em;
	min-height: 3em;
	width: 85%;
	margin: 0 auto;
	padding: 2em;
	box-shadow: var(--blockShadow);
}

#formatCode {
	justify-self: start;
}

#input {
	height: 24rem;
}

@media screen and (max-width: $mobile) {
	section {
		padding: 0;
	}
	pre {
		font-size: 1em;
	}
}
