article {
    & > p:not(.has_img):not([data-slug-hash]) {
        margin-left: auto;
        margin-right: auto;
        max-width: 40rem;
    }

    ul,
    ol {
        max-width: 40rem;
        margin: $flow-space-paragraph auto;
        margin: var(--flow-space-paragraph) auto;
        padding-left: 1em;

        li {
            padding-left: 1em;
            padding-bottom: 0.5em;
            list-style-type: disc;
            list-style-type: "🌞";
            list-style-position: outside;
        }
    }
}

a {
    font-weight: 800;
    position: initial;

    &:hover,
    &:focus {
        color: $primary;
        color: var(--primary);

        mark {
            color: var(--inverse);
        }
    }
}

p a,
button.unstyled,
#skip_link {
    text-decoration: underline;
    color: $darkgrey;

    &:hover,
    &:focus {
        color: inherit !important;
        text-decoration-color: $primary;
        text-decoration-color: var(--primary);
    }
}

blockquote,
pre {
    padding: $flow-space-paragraph;
    padding: var(--flow-space-paragraph);
    margin-bottom: $flow-space-paragraph;
    margin-bottom: var(--flow-space-paragraph);
    border: $border-width $border-style currentColor;
    border-radius: $border-radius;
}

blockquote {
    border-color: $primary;
    border-color: var(--primary);
    font-style: italic;

    p {
        margin-bottom: 0;
    }
}

::selection,
mark {
    background: $primary;
    background: var(--primary);
}
