<footer>

    {{ noscript }}

    <div class="banner info" id="ie_message">
        Are you in Internet Explorer? That's so cool - I love retro stuff too. You can enjoy about 80% of my site with IE. For that extra goodness, use your alternative browser of choice.
    </div>

    <script>
        if (IE) {

            var pElems = document.getElementsByTagName('p');

            for (var i = 0; i < pElems.length; i++) {

                var p = pElems[i];

                if (p['data-slug-hash'] && p.innerHTML === "") {
                    p.innerHTML = "&#x1F62C; Yikes... this pen isn't available.";
                }

            }

        }
    </script>

    <div class="copyright">
        &copy; 2019-2020 Braden East
    </div>

    {{ socials }}

</footer>