code,
pre {
    color: $body-color;
    color: var(--body-color);
    border-radius: $border-radius;
    background: none;
    font-size: $font-size-small;
    letter-spacing: -0.02em;
    text-align: left;
    font-family: monospace !important;
    white-space: pre;
    word-spacing: normal;
    overflow-x: auto;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    transition: $transition-medium;
    transition: var(--transition-medium);

    &::-webkit-scrollbar {
        display: none;
    }

    span {
        font-family: inherit;
    }

    &.is_overflowing {
        box-shadow: $overflow-shadow;
        box-shadow: var(--overflow-shadow);
    }
}

:not(pre) > code {
    color: $slategrey;
    position: relative;
    font-family: monospace !important;
    border-bottom: $border-width $border-style currentColor;
    border-radius: 0;
    cursor: text;
    padding: 0.1em;
    white-space: normal;
}
