a {
    font-weight: 800;
    display: inline-block;
    position: relative;

    &:hover mark,
    &:focus mark {
        color: var(--inverse);
    }
}

p a,
article ul a,
article ol a,
button.unstyled,
#skip_link {
    display: inline;
    text-decoration: underline;
    color: $darkgrey;

    &:hover,
    &:focus {
        color: inherit !important;
        text-decoration-color: $primary;
        text-decoration-color: var(--primary);
    }
}

blockquote,
pre {
    padding: $flow-space-paragraph;
    padding: var(--flow-space-paragraph);
    margin-bottom: $flow-space-paragraph;
    margin-bottom: var(--flow-space-paragraph);
    border: $border-width $border-style $mediumgrey;
    border-radius: $border-radius;
}

blockquote {
    border-color: $primary;
    border-color: var(--primary);
    font-style: italic;

    p {
        margin-bottom: 0;
    }
}

::selection,
mark {
    background: $primary;
    background: var(--primary);
    color: $body-color;
    color: var(--body-color);
}
