a {
    font-weight: 800;
    display: inline-block;
    position: relative;

    &:hover mark,
    &:focus mark {
        color: var(--inverse);
    }
}

p a,
article ul a,
article ol a,
button.unstyled,
#skip_link {
    display: inline;
    text-decoration: underline;
    color: $darkgrey;

    &:hover,
    &:focus {
        color: inherit !important;
        text-decoration-color: $primary;
        text-decoration-color: var(--primary);
    }
}

blockquote,
pre {
    padding: $flow-space-paragraph;
    padding: var(--flow-space-paragraph);
    margin-bottom: $flow-space-paragraph;
    margin-bottom: var(--flow-space-paragraph);
    border: $border-width $border-style $mediumgrey;
    border-radius: $border-radius;
}

.icon {
    position: absolute;
    font-size: 1.2em;
    width: 2em;
    height: 2em;
    text-align: center;
    font-family: "Solway", sans-serif;
    letter-spacing: -0.05em;
    border-radius: $border-radius;
    background: $inverse;
    background: var(--inverse);
    transform: translate(-0.3em, -0.3em);
    z-index: 5;
}

blockquote {
    background: $inverse;
    background: var(--primary);
    border-color: $inverse;
    border-color: var(--inverse);
    font-style: italic;

    p {
        margin-bottom: 0;
    }
}

::selection,
mark {
    background: $primary;
    background: var(--primary);
    color: $body-color;
    color: var(--body-color);
}
