@keyframes animateIn {
	to {
		transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
		opacity: 1;
	}
}

html {
	main {
		transition: opacity $smoothTransition;
	}

	&[data-schwifty="in"] {
		transition-duration: 0.1s;
	}

	&[data-schwifty] {
		main {
			opacity: 0;
		}
	}
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	[data-tooltip] {
		display: inline-block;
	}
}

[data-tooltip] {
	position: relative;
	color: var(--primary);
	font-family: $altFontFamily;
	$space: 0.63em;

	&:hover,
	&:focus {
		&::before {
			opacity: 1;
			transform: translate(50%, 0);
		}
	}

	&::before,
	&::after {
		letter-spacing: 0;
		text-align: center;
		line-height: 1.2;
	}

	&::after {
		color: var(--g4);
		content: "*";
	}

	&::before {
		content: attr(data-tooltip);
		position: absolute;
		color: var(--g0);
		background: var(--g6);
		font-size: 0.85rem;
		width: 10em;
		right: 0.4em;
		bottom: 100%;
		padding: $space;
		padding-bottom: $space * 2;
		pointer-events: none;
		opacity: 0;
		transform: translate(50%, 1em);
		transition: opacity $smoothTransition, transform $smoothTransition;
		--pt: calc(100% - #{$space});
		clip-path: polygon(
			0 0,
			100% 0,
			100% var(--pt),
			calc(50% + #{$space}) var(--pt),
			50% 100%,
			calc(50% - #{$space}) var(--pt),
			0 var(--pt)
		);
	}
}
