@keyframes animateIn {
	to {
		transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
		opacity: 1;
	}
}

html {
	main {
		transition: $smoothTransition;
	}

	&[data-schwifty="in"] {
		transition-duration: 0.1s;
	}

	&[data-schwifty] {
		main {
			opacity: 0;
		}
	}
}

.split {
	float: left;
	padding-right: 0.2em;
}

.animate-in {
	--animateFrom: 0;
	opacity: 0;
	transform: translate3d(0, calc(1em * var(--animateFrom)), 0) scale(0.96);
	animation: animateIn $smoothTransition paused forwards;

	&.intersecting {
		animation-play-state: running;
	}
}

.animation {
	width: var(--animationSize);
	height: var(--animationSize);
	display: none;
}

[data-tooltip] {
	position: relative;
	color: var(--primary);
	font-family: $altFontFamily;
	$space: 0.63em;

	&:hover,
	&:focus {
		&::before {
			opacity: 1;
			transform: translate(50%, 0);
		}
	}

	&::before,
	&::after {
		letter-spacing: 0;
		text-align: center;
		line-height: 1.2;
	}

	&::after {
		color: var(--g4);
		content: "*";
	}

	&::before {
		color: var(--g0);
		background: var(--g7);
		font-size: 0.85rem;
		position: absolute;
		content: attr(data-tooltip);
		min-width: 8em;
		right: 0.4em;
		bottom: 100%;
		padding: $space / 2 $space;
		padding-bottom: $space + $space * 0.5;
		pointer-events: none;
		opacity: 0;
		transform: translate(50%, 1em);
		transition: $smoothTransition;
		--pt: calc(100% - #{$space});
		clip-path: polygon(
			0 0,
			100% 0,
			100% var(--pt),
			calc(50% + #{$space}) var(--pt),
			50% 100%,
			calc(50% - #{$space}) var(--pt),
			0 var(--pt)
		);
	}
}
