@keyframes showFallback {
	0% {
		content: "Loading";
	}
	10% {
		content: "Loading.";
	}
	20% {
		content: "Loading..";
	}
	30% {
		content: "Loading...";
	}
	40% {
		content: "Loading.";
	}
	50% {
		content: "Loading..";
	}
	60% {
		content: "Loading...";
	}
	100% {
		content: "\1F62C Yikes... this external resource isn't available right now.";
	}
}

.paused,
.paused *,
.paused *::after,
.paused *::before {
	animation-play-state: paused !important;
}

html {
	main {
		transition: $smoothTransition;
	}

	footer[class*="border-"]::before {
		transition-delay: 0.3s !important;
	}

	[class*="border-"] {
		&::before {
			transition: $smoothTransition;
			transform-origin: top left;
		}

		&:nth-child(2)::before {
			transition-delay: 0.1s;
		}

		&:nth-child(3)::before {
			transition-delay: 0.2s;
		}

		&:nth-child(4)::before {
			transition-delay: 0.3s;
		}
	}

	&[data-schwifty="in"] {
		transition-duration: 0.1s;
	}

	&[data-schwifty] {
		main {
			opacity: 0;
		}

		nav a[aria-current]::after {
			transform: scaleY(0);
		}

		.border-left::before,
		.border-right::before {
			transform: scaleY(0);
		}

		.border-top::before,
		.border-bottom::before {
			transform: scaleX(0);
		}
	}
}

.animation {
	$dotsPerLine: 44;
	$spread: 0.037;
	--dotSize: 0.2em;
	--durationR: 19s;
	--directionR: 1;
	--animationX: segmentX;
	--animationY: segmentY;
	--durationX: 5s;
	--durationY: 5s;
	--easingX: linear;
	--easingY: ease-in-out;
	height: 12em;
	width: 12em;
	will-change: transform;
	transform: translate3d(0, 0, 0);

	&:hover {
		--dotSize: 2em;
	}

	*,
	*::before,
	*::after,
	&::before,
	&::after {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
	}

	.line {
		opacity: 0;
		animation: lineAnimation var(--durationR) linear infinite;
	}

	.segment {
		opacity: 0;
		width: var(--dotSize);
		color: var(--primary);
		animation: var(--animationX) var(--durationX) var(--easingX) infinite;
		animation-delay: var(--delay);
		transition: $smoothTransition;

		@for $i from 1 to $dotsPerLine {
			&:nth-of-type(#{$i}) {
				color: rgba($color: $accent, $alpha: round(($i * 100) / $dotsPerLine) / 100);
				--delay: #{$spread * $i}s;
			}
		}

		&::after {
			content: "";
			height: var(--dotSize);
			border-radius: 50%;
			background-color: var(--primary);
			background-image: linear-gradient(currentColor, currentColor);
			animation: var(--animationY) var(--durationY) var(--easingY) infinite;
			animation-delay: var(--delay);
			transition: $smoothTransition;
		}
	}

	@keyframes lineAnimation {
		from {
			opacity: 1;
			transform: scale(0.95) rotate(0deg);
		}
		to {
			opacity: 1;
			transform: scale(0.95) rotate(calc(360deg * var(--directionR)));
		}
	}

	@keyframes segmentY {
		0% {
			transform: translateY(0);
		}
		25% {
			transform: translateY(12em);
		}
		50% {
			transform: translateY(0);
		}
		75% {
			transform: translateY(12em);
		}
		100% {
			transform: translateY(0);
		}
	}

	@keyframes segmentX {
		0% {
			transform: translateX(0);
			opacity: 0;
		}
		25% {
			transform: translateX(3em);
			opacity: 1;
		}
		50% {
			transform: translateX(6em);
		}
		75% {
			transform: translateX(9em);
			opacity: 1;
		}
		100% {
			transform: translateX(12em);
			opacity: 0;
		}
	}
}
