.blurb {
	align-items: center;
	padding: $flow2 0;
	margin-top: $flow2;
	margin-bottom: $flow2;

	&--image {
		display: grid;
		place-items: center;
	}
}

.technologies {
	align-items: start;

	img {
		height: 5em;
		width: auto;
		filter: drop-shadow(0 0.2em 0.4em var(--g7));
	}
}
