.post--grid {
  padding-top: $flow1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  grid-template-rows: minmax(18em, auto);
  overflow: hidden;
  gap: $flow4;

  h2,
  h3,
  h4 {
    margin: $flow1 0 !important;
  }

  p {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  img[src*="/technologies"] {
    height: 4em;
    width: auto;
    opacity: 0.85;
  }
}
