.blurb {
	display: grid;
	align-items: end;
	margin-top: $flow2;
	margin-bottom: $flow2;
	gap: $flow2;

	&--image {
		max-width: 24rem;
		display: grid;
		place-items: center;
		height: auto;

		img {
			height: auto;
		}
	}
}

.technologies {
	display: grid;
	align-items: start;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

	.technology--image {
		filter: drop-shadow(0.2rem 0.2rem var(--g6));
	}

	img {
		height: 5em;
		width: auto;
	}
}
