button,
.button {
	font-size: inherit;
	cursor: pointer;
	transition: $colorTransition;
	color: $g8;
	padding: 0.63em 1em;
	border: $borderWidth $borderStyle transparent;
	border-radius: 0.37em;
	background: var(--primary);
	text-decoration: none;
	font-weight: $fontWeightHeavy;
	box-shadow: var(--blockShadow);

	&:hover,
	&:focus {
		color: $g8;
		background-color: var(--accent);
		border-color: var(--g0);
		box-shadow: none;
	}

	&.toggle {
		display: flex;
		align-items: center;
		width: 3em;
		padding: 0;
		background: none;
		border: none;
		box-shadow: none;

		&:hover,
		&:focus {
			background-color: var(--g7);
		}
	}
}

.highlight {
	--on: 1;
	--iconSize: 0.63;
	color: var(--g3);
	border-radius: 50%;
	height: 3em;
	width: 3em;
	transition: $colorTransition;

	&:hover,
	&:focus {
		background: var(--g7);

		svg {
			color: var(--primary);
			--iconSize: 0.75;
		}
	}

	svg {
		height: 100%;
		transition: $motionTransition;
		will-change: transform;
		backface-visibility: hidden;
		transform: scale(var(--iconSize)) translate3d(1px, 1px, 1px);

		&.on {
			transform: scale(calc(var(--iconSize) * var(--on))) translate3d(1px, 1px, 1px);
		}

		&.off {
			position: absolute;
			transform: scale(calc(var(--iconSize) * (1 - var(--on)))) translate3d(1px, 1px, 1px);
		}
	}
}
