.feed:not(.grid) {
	li:not(:last-child) {
		margin-bottom: $flow3;
	}
}

.feed {
	gap: $flow4;
	padding: $flow4;
	grid-auto-rows: 32rem;
	margin-top: $flow4;

	li {
		display: flex;
		flex-direction: column;
		list-style-type: none;

		.post--image {
			flex: 1;
		}

		a {
			color: inherit;

			&:hover,
			&:focus {
				& ~ * a {
					font-weight: var(--fontWeightBold);
					color: inherit;
					text-decoration-color: var(--primary);
				}
			}
		}
	}

	.post--info {
		&__excerpt {
			margin-bottom: 0;
		}
	}

	li:hover,
	li:focus-within {
		&.post--info,
		.post--info {
			transform: scale(1.04);
			box-shadow: var(--shadowLarge);
		}
	}

	&.design {
		.post--info {
			max-width: 30rem;
			display: inline-grid;
		}
	}

	&.results li {
		list-style-type: initial;
		margin-left: $flow1;
		margin-bottom: $flow1;
	}
}
