.feed {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
	gap: $flow4;
	padding: $flow4;
	grid-auto-rows: 36rem;
	margin-top: $flow4;

	li {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		margin-bottom: $flow1;

		.post {
			&--image {
				flex: 1;
				transform: translateX($flow1);
			}

			&--wrapper {
				width: 85%;
				min-width: 20rem;
				transform: translateX(-$flow1);
				box-shadow: var(--largeShadow);
			}

			&--info {
				&__excerpt {
					margin-bottom: 0;
				}
			}
		}

		a {
			color: inherit;

			&:hover,
			&:focus {
				& ~ * a {
					font-weight: var(--fontWeightBold);
					color: inherit;
					text-decoration-color: var(--primary);
				}
			}
		}
	}

	&.results li {
		list-style-type: initial;
		margin-left: $flow1;
		margin-bottom: $flow1;
	}
}

@media screen and (max-width: $mobile) {
	ul.feed {
		padding: $flow2;
		grid-template-columns: 1fr;
		grid-auto-rows: initial;

		li .post {
			&--image,
			&--wrapper {
				padding: $flow1;
				transform: translateX(0);
			}
		}

		.post--image img {
			height: 20rem;
		}
	}
}
