footer {
	display: flex;
	align-items: center;
	justify-items: flex-end;
	width: 100%;
	padding-left: $flow1;
	padding-right: $flow1;

	* {
		margin-left: auto;
	}

	.icons > :not(:last-child) {
		padding-right: 0.37em;
		margin-right: 0.37em;
		border-right: $borderWidth $borderStyle var(--g7);
	}

	.copyright {
		flex: 1;
		min-width: 9em;
		justify-self: flex-start;
		line-height: 1.2;
	}
}
