footer {
	display: flex;
	align-items: center;
	justify-items: flex-end;
	width: 100%;
	padding-left: $flow1;
	padding-right: $flow1;

	* {
		margin-left: auto;
	}
}

.copyright {
	flex: 1;
	min-width: 9em;
	justify-self: flex-start;
	line-height: 1.2;
}
