input {
	background: var(--g7);
	border: none;
	color: inherit;
	font-size: inherit;
	transition: $colorTransition;

	&::placeholder {
		color: var(--g3);
	}

	&[type="search"],
	&[type="text"],
	&[type="number"] {
		appearance: none;
		border-radius: 0 !important;
		padding: 0.37em 0.63em;
		border-bottom: $borderWidth $borderStyle transparent;

		&:not(:placeholder-shown) {
			background: var(--g8);
			border-color: var(--primary);
		}
	}
}
