.select {
  &-wrapper {
    margin-bottom: $flow2;

    label {
      display: inline-block;
      padding: 0 $flow4 0.37em 0;
      border-bottom: $borderStyle $borderWidth var(--g7);
      color: var(--g4);
      cursor: pointer;

      &::after {
        content: "";
        width: 0.63em;
        height: 0.63em;
        position: absolute;
        top: 0.28em;
        right: 0;
        border-right: $borderWidth $borderStyle;
        border-bottom: $borderWidth $borderStyle;
        border-color: currentColor;
        transform: rotate(45deg);
      }
    }

    .select:focus-within,
    input[type="checkbox"]:checked ~ .select {
      .select__options {
        opacity: 1;
        pointer-events: all;
      }

      .option {
        transform: scaleY(1) translate3d(0, 0, 0);
      }
    }

    input[type="checkbox"] {
      opacity: 0.001;
      position: absolute;
    }
  }

  &__options {
    position: absolute;
    background: var(--g8);
    z-index: 9;
    top: 100%;
    left: 0;
    display: grid;
    max-height: 50vh;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: $colorTransition;

    &:hover .option {
      opacity: 0.63;
    }
  }

  * {
    font-weight: inherit;
    margin: 0;
  }

  .option {
    transform: scaleY(0) translate3d(0, 0, 0);
    transform-origin: top;
    transition: $smoothTransition;
    padding: $flow1;
    border: $borderWidth $borderStyle var(--g7);

    &:hover,
    &:focus-within {
      opacity: 1;
      background: var(--g7);
    }
  }

  a {
    text-decoration: none;
  }
}

[aria-current] {
  color: inherit;
  font-weight: $fontWeightHeavy;
}
