nav a {
	color: var(--g3);
	text-decoration: none;
}

@media screen and (min-width: #{$mobile}) {
	nav {
		display: grid;
		position: sticky;
		top: $flow2;
		text-align: right;

		a {
			padding: $flow1 / 2 0;
			padding-right: $flow3;

			&[class*="border-"]::before {
				top: auto;
				left: auto;
				bottom: calc(50% - #{$borderWidth});
				right: 0;
				height: $borderWidth;
				width: calc(#{$flow3} - 0.37em);
				color: transparent;
				transform-origin: right;
			}

			&[aria-current] {
				color: inherit;
				font-weight: var(--fontWeightHeavy);

				&[class*="border-"]::before {
					color: var(--g7);
				}
			}

			&::before {
				color: transparent;
			}

			&:hover,
			&:focus {
				color: var(--primary);
			}
		}
	}
}

@media screen and (max-width: #{$mobile}) {
	nav {
		display: flex;
		overflow: hidden;
		position: relative;
		top: 0;

		:not([aria-current]) {
			border-color: var(--g7);

			&::after {
				color: transparent;
			}
		}

		[aria-current] {
			color: inherit;
			font-weight: var(--fontWeightHeavy);
		}

		a {
			padding-left: $flow1;
			padding-bottom: $flow1;

			&:hover,
			&:focus {
				outline: none;
			}

			&:not(:first-child) {
				padding-top: 0;
			}

			&::before {
				background: var(--g7) !important;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: calc(50% + #{$flow1} / 2);
				height: 1em;
				width: $borderWidth;
				color: var(--g7);
				background: currentColor;
				transform-origin: bottom;
				transition: $smoothTransition;
			}

			&:nth-child(2)::after {
				transition-delay: 0.1s;
			}

			&:nth-child(3)::after {
				transition-delay: 0.2s;
			}

			&:nth-child(4)::after {
				transition-delay: 0.3s;
			}

			&:nth-child(5)::after {
				transition-delay: 0.4s;
			}

			&[aria-current] ~ a {
				&::after,
				&::before {
					color: transparent;
				}
			}
		}
	}
}
