.post {
	&--header__image,
	&--image {
		overflow: hidden;
		margin-bottom: -$flow3;
		height: 24rem;
	}

	&--header__image {
		min-width: 100%;
	}

	&--body {
		margin-top: $flow2;
		margin-bottom: $flow2;

		.has-img {
			overflow: hidden;

			& + .has-img {
				margin-top: 0;
			}

			& + p {
				margin-top: $flow2;
			}
		}

		ul,
		ol {
			margin-left: $flow1;

			li {
				padding-left: $flow1;
			}
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 0.63em;
		}

		h2 {
			margin-top: $flow2;
		}

		h3,
		h4 {
			margin-top: $flow1;
		}

		.cp_embed_wrapper {
			margin-bottom: $flow1;
			padding-top: 540px;

			iframe,
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}

			&::before {
				animation: $fallback;
				z-index: 99;
			}
		}
	}

	&--info {
		display: inline-grid;
		margin-right: auto;
		padding: $flow1;
		transform: translateX(#{-$flow1});
		background: var(--g8);
		box-shadow: var(--blockShadow);
		transition: $motionTransition;

		&__title {
			text-transform: capitalize;
			margin-bottom: 0.63em;
		}

		&__date,
		&__tags,
		&__length {
			line-height: 1.1;
			font-size: 0.85em;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			display: inline-block;
			margin-right: auto;
			padding: 0.2em;
			color: var(--g3);
			background: var(--g7);
		}

		&__tags {
			font-weight: bold;
		}

		&__excerpt {
			margin-top: 0.63rem;
		}
	}
}
