.post {
	&--header__image,
	&--image {
		overflow: hidden;
		border-radius: $flow1;
	}

	&--wrapper {
		border-radius: $flow1;
		padding: $flow2;
		background: var(--g8);
	}

	&--header__image {
		margin-bottom: -18rem;
		height: 36rem;
		min-width: 100%;
	}

	&--info {
		display: flex;
		flex-direction: column;

		&__meta {
			display: inline-block;
			line-height: 1.1;
			font-size: 0.85em;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			margin-right: auto;
			padding: 0.2em;
			color: var(--g3);
			background-image: linear-gradient(to right, var(--g7) 50%, var(--primary) 0, var(--accent));
			background-repeat: no-repeat;
			background-size: 210%;
			background-position: left;
			transition: $smoothTransition;

			&:first-of-type {
				font-weight: bold;
			}
		}

		&__excerpt {
			margin-top: 0.63rem;
		}
	}

	&--body {
		margin-top: $flow2;
		margin-bottom: $flow2;

		.has-img {
			overflow: hidden;

			& + .has-img {
				margin-top: 0;
			}

			& + p {
				margin-top: $flow2;
			}
		}

		ul,
		ol {
			margin-left: $flow1;

			li {
				padding-left: $flow1;
			}
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 0.63em;
		}

		h2 {
			margin-top: $flow2;
		}

		h3,
		h4 {
			margin-top: $flow1;
		}

		.cp_embed_wrapper {
			margin-bottom: $flow1;
			padding-top: 540px;

			iframe,
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}

			&::before {
				animation: $fallback;
				z-index: 99;
			}
		}
	}
}

article {
	.post {
		&--wrapper {
			margin-left: 15%;
			margin-right: auto;
			padding: $flow3;
			z-index: 1;
		}

		&--info {
			width: calc(100% + #{$flow1 * 2});
		}
	}
}

@media screen and (max-width: $mobile) {
	.post {
		&--image img {
			height: 100%;
		}
	}

	article {
		.post {
			&--header__image {
				transform: translateX(-$flow2);
				width: calc(100% + #{$flow4});
				box-shadow: none;
				margin-bottom: $flow1;
				height: auto;
			}

			&--wrapper {
				padding: $flow1;
				margin-left: 0;
			}

			&--info {
				width: 100%;
			}
		}
	}
}
