html {
	&.dark_mode {
		--g0: #{$g8};
		--g1: #{$g7};
		--g2: #{$g6};
		--g3: #{$g5};
		--g4: #{$g4};
		--g5: #{$g3};
		--g6: #{$g2};
		--g7: #{$g1};
		--g8: #{$g0};
		--primary: #{$secondary};
		--secondary: #{$primary};
		--fontWeightRegular: 300;
		--shadowColor: rgba(0, 0, 0, 0.85);

		body {
			color: var(--g1);
		}

		.technology img {
			filter: invert(1);
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--g0);
		}

		#dark_mode_toggle {
			--on: 0;
		}
	}

	&.reduce_motion {
		* {
			animation-play-state: paused !important;
			animation-delay: -10s !important;
			transition: none !important;
		}

		#reduce_motion_toggle {
			--on: 0;
		}
	}

	&.muted #muted_toggle {
		--on: 0;
	}
}

#message {
	font-size: 0.85rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	transform: translate3d(0, -110%, 0);
	border-bottom: $borderWidth $borderStyle;
	border-image: linear-gradient(to right, var(--primary), var(--accent)) 30;
	border-radius: $borderWidth $borderWidth 0 0;
	box-shadow: var(--shadow);
	background: var(--g8);
	text-align: center;
	padding: $flow1;
	transition: $smoothTransition;

	&::first-letter {
		text-transform: capitalize;
	}

	&.visible {
		transform: translate3d(0, 0, 0);
	}
}
