html {
	&.dark_mode {
		--g0: #{$g8};
		--g1: #{$g7};
		--g2: #{$g6};
		--g3: #{$g5};
		--g4: #{$g4};
		--g5: #{$g3};
		--g6: #{$g2};
		--g7: #{$g1};
		--g8: #{$g0};
		--primary: #{$secondary};
		--secondary: #{$primary};
		--fontWeightRegular: 300;
		--shadowColor: rgba(0, 0, 0, 0.85);

		body {
			color: var(--g1);
		}

		.technology img {
			filter: invert(1);
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--g0);
		}

		#dark_mode_toggle {
			--on: 0;
		}
	}

	&.reduce_motion {
		* {
			animation-play-state: paused !important;
			animation-delay: -10s !important;
			transition: none !important;
		}

		#reduce_motion_toggle {
			--on: 0;
		}
	}

	&.muted #muted_toggle {
		--on: 0;
	}
}

body .modal {
	position: fixed;
	display: grid;
	place-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	padding: 0;
	pointer-events: none;
	background: var(--shadowColor);
	transform: translate3d(0, 0, 0);
	transition: $smoothTransition;
	filter: blur($flow1);
	opacity: 0;

	&.visible {
		opacity: 1;
		filter: blur(0);
	}

	&__message {
		content: attr(data-message);
		text-align: center;
		padding: $flow1;
		background: var(--g8);
		box-shadow: var(--shadow);
		border-radius: $borderWidth;
		overflow: hidden;

		&::first-letter {
			text-transform: capitalize;
		}

		&::before {
			background-image: linear-gradient(to right, var(--primary), var(--accent));
		}
	}
}
