@media print {
	aside,
	nav,
	footer,
	[data-icon] {
		display: none;
	}

	main {
		padding: 0;
	}

	button,
	.button {
		padding: 0;
		box-shadow: none;
	}

	a::after {
		content: ": " attr(href);
		color: var(--g4);
	}

	body {
		display: block;
	}
}
