code,
pre,
textarea {
	background: var(--g7);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	overflow-x: auto;
	line-height: 1.4;
	tab-size: 2;
	hyphens: none;
	font-family: $altFontFamily;
	max-width: calc(100vw - #{$flow4});
	font-variation-settings: "slnt" 0, "CASL" 0, "MONO" 1;

	&::-webkit-scrollbar {
		display: none;
	}

	span {
		font-family: inherit;
	}
}

@media screen and (min-width: $mobile) {
	code,
	pre,
	textarea {
		font-size: 0.94em;
	}
}

:not(pre) > code {
	cursor: text;
	color: var(--g2);
	padding: 0.1em 0.2em;
	white-space: normal;
}

.token {
	color: inherit;
	$e: #438eff;
	$a: #e0b21a;
	$c: #3f9c63;
	$b: #00a4af;
	$d: coral;
	$punctuation: rgba(120, 120, 155, 0.72);

	&.comment,
	&.block-comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: var(--g4);
	}

	&.punctuation {
		color: $punctuation;
	}

	&.tag,
	&.namespace,
	&.deleted,
	&.function-name {
		color: $a;
	}

	&.boolean,
	&.number,
	&.function,
	&.inserted {
		color: $b;
	}

	&.rule,
	&.function {
		font-weight: $fontWeightHeavy;
		font-variation-settings: "CASL" 1, "CRSV" 1, "slnt" -13;
	}

	&.attr-name,
	&.property,
	&.class-name,
	&.constant,
	&.symbol {
		color: $c;
		font-weight: $fontWeightMedium;
	}

	&.selector,
	&.important,
	&.keyword,
	&.builtin {
		color: $d;
	}

	&.string,
	&.char,
	&.attr-value,
	&.atrule,
	&.regex,
	&.variable {
		color: $e;

		.rule {
			color: var(--g2);
		}
	}

	&.operator,
	&.entity,
	&.url {
		color: $a;
	}

	&.important,
	&.bold {
		font-weight: $fontWeightHeavy;
	}

	&.italic {
		font-style: italic;
	}

	&.entity {
		cursor: help;
	}
}

.dark_mode .token {
	&.comment,
	&.block-comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: var(--g5);
	}
}

pre.line-numbers {
	counter-reset: linenumber;
	padding-left: 3em;

	.line-numbers-rows {
		position: absolute;
		pointer-events: none;
		left: 0;
		top: 0;
		padding-top: inherit;
		padding-bottom: inherit;
		width: 3em;
		user-select: none;

		& > span {
			display: block;
			counter-increment: linenumber;
			padding-right: 1.2em;

			&::before {
				content: counter(linenumber);
				color: var(--g6);
				display: block;
				text-align: right;
			}
		}
	}
}
