.embedded_project {
	background-size: cover;
	background-position: center;
	margin-bottom: $flow1;
	width: 100%;
	box-shadow: var(--shadow);

	.iframe_wrapper {
		position: relative;
		width: 100%;
		height: 0;
		padding-top: 540px;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			background: none;
		}
	}

	&--content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	button {
		padding: 0.63em 1em;
		border: $borderWidth $borderStyle transparent;
		color: $g8;
		background: var(--primary);

		&:hover,
		&:focus {
			background-color: var(--accent);
		}
	}

	&::before {
		content: "";
		position: absolute;
		display: grid;
		place-items: center;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		text-align: center;
		padding: $flow1;
		background: radial-gradient(var(--g8), transparent);
		box-shadow: inset 0 0 0 $borderWidth var(--g4);
		transition: $colorTransition;
	}

	&.loaded {
		border-radius: 0;
		resize: both;

		.embedded_project--content {
			opacity: 0;
			pointer-events: none;
		}

		&::before {
			opacity: 1;
			background: var(--g7);
			animation: $fallback;
		}
	}
}

@media screen and (max-width: #{$mobile}) {
	.embedded_project {
		&::before {
			opacity: 0.37;
		}
	}
}
