.table-wrapper {
	overflow-x: auto;
}

table {
	text-align: left;
	margin-bottom: $flow1;
	border-collapse: collapse;

	td:first-of-type,
	thead {
		color: var(--g2);
	}

	thead {
		padding: $flow1 0;
		border-bottom: $borderWidth $borderStyle var(--g6);
	}

	td,
	th {
		padding: 0.37em;
		line-height: 1.2;
	}

	tr:nth-of-type(2n) {
		background: var(--g7);
	}

	td strong::after {
		content: "★";
		color: var(--primary);
		position: absolute;
		bottom: 50%;
		left: 100%;
		font-size: 0.63em;
		transform: rotate(12deg);
	}
}
