@font-face {
	font-family: "Recursive";
	src: url("/_assets/fonts/Recursive.woff2") format("woff2-variations");
	font-weight: 300 1000;
	font-display: swap;
}

:root {
	font-size: calc(12px + 0.85vmin);
	font-family: "Recursive", "Helvetica", "Roboto", -apple-system, BlinkMacSystemFont, sans-serif;
	font-variation-settings: nth($fontVariations, 1);
	line-height: 1.63;
	color: var(--g1);
}

body {
	font-weight: $fontWeightRegular;
	text-rendering: optimizeSpeed;
	-webkit-font-smooth: subpixel-antialiased;
}

p,
blockquote,
pre,
ul,
ol {
	margin-bottom: $flow1;
}

ul,
ol {
	padding-left: $flow1;

	li::marker {
		color: var(--g4);
		font-weight: $fontWeightHeavy;
	}
}

pre,
blockquote {
	padding: $flow1;
	color: var(--g2);
	background: var(--g7);

	p {
		margin: 0;
	}
}

blockquote {
	border-left: $borderWidth $borderStyle var(--primary);
}

br {
	display: block;
	width: 100%;
	margin-top: $flow1;
	padding-bottom: $flow1;
}

hr {
	border: none;
	border-top: $borderWidth $borderStyle var(--g7);
	height: 0;
	margin-top: $flow4;
	padding-bottom: $flow4;
}

em {
	font-style: normal;
	color: var(--primary);
	font-variation-settings: nth($fontVariations, 2);
	transition: $colorTransition;
}

del {
	color: var(--g5);
	display: inline;
	overflow-wrap: break-word;
}

::selection,
mark {
	background: var(--primary);
	color: var(--g8);
}

a {
	color: var(--g3);
	touch-action: manipulation;
	text-decoration-thickness: 0.1em;
	transition: $colorTransition;

	&:hover,
	&:focus {
		color: inherit;
		font-weight: var(--fontWeightHeavy);
	}

	&:hover {
		text-decoration-color: var(--primary);
	}

	&:focus {
		text-decoration-color: var(--accent);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--g0);
	line-height: 1.2;
	letter-spacing: -0.01em;
	margin-bottom: 0.37em;
	font-weight: var(--fontWeightHeavy);
	font-variation-settings: nth($fontVariations, 3);

	a {
		font-weight: var(--fontWeightMedium);
		text-decoration-color: transparent;
	}
}

h1 {
	font-size: calc(1.85em + 1.85vmin);
	letter-spacing: -0.04em;
	line-height: 1;
}

h2,
h3 {
	color: var(--g1);
}

h4,
h5,
h6 {
	color: var(--g2);
}
