:root {
	font-size: calc(12px + 0.63vmin);
	font-family: $fontFamily;
	line-height: 1.5;
	color: var(--g1);
}

body {
	font-weight: $fontWeightRegular;
	text-rendering: optimizeSpeed;
	-webkit-font-smooth: subpixel-antialiased;
	letter-spacing: 0.01em;
}

p,
blockquote,
pre,
ul,
ol {
	margin-bottom: $flow2;

	p:not(.has-media) {
		margin-bottom: 0;
	}
}

main {
	:not(.has-media):not(.cp_embed_wrapper) {
		& + .has-media,
		& + .cp_embed_wrapper {
			margin-top: $flow4;
		}
	}

	.has-media,
	.cp_embed_wrapper {
		& + :not(.has-media),
		& + :not(.cp_embed_wrapper) {
			margin-top: $flow4;
		}
	}
}

li {
	padding-left: $flow1;

	&::marker {
		color: var(--g4);
	}
}

pre,
blockquote {
	padding: $flow1;
	color: var(--g2);
	background: var(--g7);

	p {
		margin: 0;
	}
}

br {
	appearance: none;
	display: block;
	width: 100%;
	margin-top: $flow1;
	padding-bottom: $flow1;
}

hr {
	border: none;
	border-top: $borderWidth $borderStyle var(--g7);
	height: 0;
	margin-top: $flow4;
	padding-bottom: $flow4;
}

strong,
.strong {
	font-weight: $fontWeightHeavy;
}

em {
	font-family: $altFontFamily;
	font-weight: $fontWeightRegular;
	font-style: normal;
	font-variation-settings: "slnt" -13, "CRSV" 1, "CASL" 1;
	transition: color $colorTransition;
}

del {
	color: var(--g5);
	display: inline;
	overflow-wrap: break-word;
}

.light-text {
	color: var(--g4);
}

::selection,
mark {
	background: var(--primary);
	color: var(--g8);
}

a {
	color: var(--g3);
	touch-action: manipulation;
	text-decoration-thickness: 0.1em;
	transition: color $colorTransition, text-decoration-color $colorTransition;

	&[href="undefined"] {
		display: none;
	}

	&:hover,
	&:focus {
		color: var(--g0);
	}

	&:hover {
		text-decoration-color: var(--primary);
	}

	&:focus {
		text-decoration-color: var(--accent);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.37em;
	line-height: 1.2;
	padding-top: 0.1em;
	font-weight: $fontWeightHeavy;
}

main {
	h1 {
		line-height: 0.8;
		font-size: 6rem;
		letter-spacing: -0.06em;
		padding-top: 0;

		em {
			letter-spacing: -0.063em;
			font-weight: $fontWeightMedium;
		}
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--g4);

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: calc(100% + #{$flow1});
			height: $borderWidth;
			background: currentColor;
		}
	}

	h2::before {
		width: 4em;
	}

	h3::before {
		width: 3em;
	}

	h4::before {
		width: 2em;
	}

	h5::before {
		width: 1em;
	}
}

h2:not(:first-child) {
	margin-top: $flow3;
	margin-bottom: $flow2;
}

h3:not(:first-child) {
	margin-top: $flow2;
	margin-bottom: $flow1;
}

@media screen and (max-width: $mobile) {
	:root {
		font-size: 15px;
	}

	main {
		h1 {
			margin-top: $flow4;
			font-size: 3.7rem;
		}
	}
}
