.flex {
	display: flex;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	gap: $flow4;
	margin-bottom: $flow2;
}

.alternate-sides {
	:nth-child(2n) {
		margin-left: auto;
	}
}

.limited-width {
	max-width: 44rem;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

[class*="border-"] {
	&::before {
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		color: var(--g7);
		background: currentColor;
	}
}

.border-left::before,
.border-right::before {
	height: 100%;
	width: $borderWidth;
}

.border-top::before,
.border-bottom::before {
	width: 100%;
	height: $borderWidth;
}

.border-bottom::before,
.border-right::before {
	bottom: 0;
	right: 0;
	top: auto;
	left: auto;
}
