.flex {
	display: flex;
}

.grid {
	display: grid;
	gap: $flow4;
	grid-template-columns: repeat(auto-fill, minmax(var(--columns), 1fr));
}

.compress {
	line-height: 1.2;
}

.limited-width,
main > *:not(.has-media) {
	max-width: 44rem;
}

.stagger-child-transitions {
	@for $i from 2 through 12 {
		& > :nth-child(#{$i}) {
			transition-delay: #{($i - 1) * 0.05}s, 0s;
		}
	}
}

.float-children {
	& > * {
		min-width: 33%;
	}

	& > :first-child {
		margin-right: $flow4;
	}

	& > :last-child {
		text-align: right;
		margin-left: auto;
	}
}

.pad-vertical {
	padding: $flow4 0;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}
