$g0: #121518;
$g1: #1e232b;
$g2: #3a4049;
$g3: #5a6677;
$g4: #828b9c;
$g5: #9faabd;
$g6: #c5cacf;
$g7: #edeef1;
$g8: white;
$primary: #ff3848;
$secondary: #ff3848;
$accent: #cb48ff;
$flow1: 1rem;
$flow2: 2rem;
$flow3: 3rem;
$flow4: 4rem;
$fontWeightRegular: 400;
$fontWeightMedium: 550;
$fontWeightHeavy: 780;
$borderWidth: 0.2rem;
$borderStyle: solid;
$motionTransition: 0.28s cubic-bezier(0.3, 0.3, 0.1, 1.3);
$colorTransition: 0.2s cubic-bezier(0.3, 0.3, 0.1, 1);
$smoothTransition: 0.63s cubic-bezier(0.4, 0.3, 0.1, 1);
$mobile: 54em;
$fallback: showFallback 5s forwards;
$fontVariations: (("CASL" 0, "slnt" 0), ("CASL" 1, "slnt" -13, "CRSV" 1), ("CASL" 1, "slnt" 0, "CRSV" 1));
