$g0: #121518;
$g1: #1e232b;
$g2: #3a4049;
$g3: #5a6677;
$g4: #828b9c;
$g5: #9faabd;
$g6: #c5cacf;
$g7: #eff0f1;
$g8: white;
$primary: #ff3848;
$secondary: #ff3848;
$accent: #ff48e0;
$flow1: 1rem;
$flow2: 2rem;
$flow3: 3rem;
$flow4: 4rem;
$flow6: 6rem;
$fontWeightRegular: 360;
$fontWeightMedium: 480;
$fontWeightHeavy: 820;
$borderWidth: 0.2rem;
$borderStyle: solid;
$motionTransition: 0.28s cubic-bezier(0.3, 0.3, 0.1, 1.3);
$colorTransition: 0.2s cubic-bezier(0.3, 0.3, 0.1, 1);
$smoothTransition: 0.63s cubic-bezier(0.4, 0.3, 0.1, 1);
$mobile: 54em;
$fallback: showFallback 5s forwards;
$fontVariations: (("CASL" 0, "slnt" 0), ("CASL" 1, "slnt" -13), ("CASL" 1, "slnt" 0));

:root {
	--g0: #{$g0};
	--g1: #{$g1};
	--g2: #{$g2};
	--g3: #{$g3};
	--g4: #{$g4};
	--g5: #{$g5};
	--g6: #{$g6};
	--g7: #{$g7};
	--g8: #{$g8};
	--primary: #{$primary};
	--secondary: #{$secondary};
	--accent: #{$accent};
	--fontWeightRegular: #{$fontWeightRegular};
	--fontWeightMedium: #{$fontWeightMedium};
	--fontWeightHeavy: #{$fontWeightHeavy};
	--shadowColor: rgba(0, 10, 50, 0.1);
	--shadow: 0 0.6rem 0.8rem -0.2rem var(--shadowColor), 0 0.4rem 0.5rem -0.1rem var(--shadowColor);
	--shadowLarge: 0 0.6rem 1.2rem -0.2rem var(--shadowColor), 0 0.4rem 0.7rem -0.1rem var(--shadowColor);
	--darkMode: 0;
}

html {
	&.dark_mode {
		--g0: #{$g8};
		--g1: #{$g7};
		--g2: #{$g6};
		--g3: #{$g5};
		--g4: #{$g4};
		--g5: #{$g3};
		--g6: #{$g2};
		--g7: #{$g1};
		--g8: #{$g0};
		--primary: #{$secondary};
		--secondary: #{$primary};
		--shadowColor: rgba(200, 210, 255, 0.1);
		--shadowColor: rgba(0, 0, 0, 0.4);
		--fontWeightRegular: 300;

		body {
			color: var(--g1);
		}

		.technology img {
			filter: invert(1);
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--g0);
		}

		#dark_mode_toggle {
			--on: 0;
		}
	}

	&.muted #muted_toggle {
		--on: 0;
	}
}
