@import "./variables";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	line-height: inherit;
	color: inherit;
	position: relative;
	scrollbar-width: thin;
	scrollbar-color: var(--g6) transparent;
}

*:focus {
	outline: $borderWidth $borderStyle var(--g6);
	outline-offset: $borderWidth;
}

html {
	scrollbar-width: initial;
	background: var(--g8);
}

::-webkit-scrollbar {
	background: transparent;

	&-thumb {
		background: var(--g6);
	}
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 15% 1fr;
	grid-template-rows: 1fr auto;
	padding: 4vh 2vw 1vh 2vw;
	background: var(--g8);
	transition: $colorTransition;
	overflow-x: hidden;

	& > * {
		padding-top: inherit;
		padding-bottom: inherit;
	}

	footer {
		grid-column: 1 / -1;
	}

	main {
		padding-top: $flow4;
		padding-bottom: $flow2;
		max-width: 44rem;

		& > * {
			margin-left: $flow2;
		}

		& > ul {
			margin-left: 0;
			padding-left: $flow2;
		}
	}
}

img,
video,
iframe,
svg {
	width: 100%;
	max-height: 100%;
	user-select: none;
}

.has-img::after {
	content: attr(title);
	color: var(--g4);
}

img,
video,
svg {
	object-position: center;
	object-fit: cover;
	height: auto;
}

img:not([src*="png"]):not([src*="svg"]),
iframe,
video {
	background: var(--g5);
}

@import "./typography";
@import "./util";
@import "./nav";
@import "./button";
@import "./animation";
@import "./input";
@import "./post";
@import "./blurb";
@import "./feed";
@import "./table";
@import "./project";
@import "./footer";
@import "./prism";
@import "./retro";

@media screen and (max-width: $mobile) {
	body {
		padding-top: $flow1;
		grid-template-columns: 1fr;
		grid-template-rows: initial;
		align-content: start;

		aside {
			padding: 0;
		}

		main,
		aside {
			padding-top: $flow2;
		}

		main > * {
			margin-right: $flow1 / 2;
			margin-left: $flow1;
		}
	}

	img {
		max-width: $mobile / 2;
		height: 360px;
	}

	.feed h2 a {
		color: inherit;
		font-weight: $fontWeightHeavy;
		text-decoration-color: var(--primary);
	}
}
