<link rel="preload" as="script" href="https://static.codepen.io/assets/embed/ei.js">
<link rel="preload" as="script" href="/_assets/js/prism.min.js">
<link defer="true" rel="preload" as="style" href="/_assets/css/prism.min.css">

<script defer src="/_assets/js/prism.min.js"></script>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

<article>

    <h1 class="title">[[ name ]]</h1>

    <div class="meta">

        <div class="created" aria-label="Date created:">
            <strong>Created:</strong> [[ date.created ]]
        </div>

        <div class="modified" aria-label="Date modified:">
            <strong>Modified:</strong> [[ date.modified ]]
        </div>

        <p class="categories" aria-label="Categories:">[[ categories.links ]]</p>

    </div>

    <div class="featured_media" aria-label="Featured media:">

        [[ media ]]

    </div>

    {{ CONTENT }}

    {{ blog_cta }}

</article>

{{ scope_nav }}