<link rel="preload" as="script" href="https://static.codepen.io/assets/embed/ei.js">
<link rel="preload" as="script" href="/_assets/js/prism.js">
<link class="deferredCSS" rel="preload" as="style" href="/_assets/css/prism.min.css">

<script defer src="/_assets/js/prism.js"></script>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

<article>

    <h1 class="title">[[ name ]]</h1>

    <div class="meta">

        <div class="created">
            <strong>Created:</strong> [[ created ]]
        </div>

        <div class="modified">
            <strong>Modified:</strong> [[ modified ]]
        </div>

        <div class="categories">[[ categories ]]</div>

    </div>

    <div class="featured-media">

        [[ media ]]

    </div>

    {{ CONTENT }}

    {{ blog_cta }}

</article>

{{ scope_nav }}