@import "../../../_scss/variables";

.hero {
	--charDelay: 0s;
	margin-bottom: $flow4;

	&.paused {
		*,
		*::before,
		*::after {
			animation-play-state: paused !important;
		}
	}
}

.character,
.designer,
.developer {
	z-index: 1;
	display: inline-block;
}

.designer {
	--deleted: 0;
	--charDelay: 0.5s;
	z-index: 0;
	animation: delete 0.5s ease 2s forwards;

	.split::after {
		content: "";
		position: absolute;
		top: 0.5em;
		left: 0;
		width: 100%;
		height: $borderWidth * 2;
		background: currentColor;
		transform-origin: right;
		transform: scaleX(0);
		animation: transformReset 0.5s ease 2s forwards;
	}
}

.developer {
	--charDelay: 3s;
	animation-delay: var(--charDelay);
}

.character {
	transform: rotateY(90deg) translate3d(0, 1em, 0);
	animation-duration: 0.63s;
	animation-timing-function: cubic-bezier(0.3, 0.7, 0.1, 1);
	animation-fill-mode: forwards;
	animation-name: transformReset;
	animation-delay: calc(var(--charDelay) + 0.03s * var(--index));
}

@keyframes transformReset {
	to {
		transform: scale(1, 1) rotateY(0) rotateX(0) rotateZ(0) translate3d(0, 0, 0);
	}
}

@keyframes delete {
	to {
		opacity: 0.07;
	}
}
