@import "../../../_scss/variables";

.hero {
	--charDelay: 0s;
	margin-bottom: $flow4;

	&.paused {
		*,
		*::before,
		*::after {
			animation-play-state: paused !important;
		}
	}
}

.character,
.designer,
.developer {
	display: inline-block;
}

.designer {
	--deleted: 0;
	--charDelay: 0.5s;
	animation: delete 0.5s ease 2s forwards;

	.split {
		animation: inherit;
	}

	.split::after {
		content: "";
		position: absolute;
		top: 0.55em;
		left: 0;
		width: 100%;
		height: $borderWidth;
		background: var(--g5);
		transform-origin: right;
		transform: scaleX(0);
		animation: inherit;
	}
}

.developer {
	--charDelay: 3s;
	animation-delay: var(--charDelay);
}

.character {
	transform: rotateY(90deg) translate3d(0, 1em, 0);
	animation-duration: 0.63s;
	animation-timing-function: cubic-bezier(0.3, 0.7, 0.1, 1);
	animation-fill-mode: forwards;
	animation-name: fadeIn;
	animation-delay: calc(var(--charDelay) + 0.03s * var(--index));
}

@keyframes fadeIn {
	to {
		transform: rotateY(0) translate3d(0, 0, 0);
	}
}

@keyframes delete {
	to {
		color: var(--g5);
		transform: scaleX(1);
	}
}
