---
layout: layouts/base.vto
templateEngine: vto,md
title: Random
---

<ul style="display:none">
  {{ for post of search.pages("type=blogPost") }}
    <li class="urlset">{{ post.url }}</li>
  {{ /for }}
</ul>

# Whoops! Something went wrong.

Let's take a moment to appreciate the irony of a randomizer acting unpredictably.

<script>
  var items = document.getElementsByClassName("urlset");
  var index = Math.floor(Math.random() * items.length);
  location = items[index].innerText;
</script>