---
layout: layouts/base.vto
---
<h1>Tags</h1>

<section>
  {{ for tagPage of search.pages("type=tag", "tag") }}
    <a href="{{ tagPage.url }}" class="tag large">{{ tagPage.tag }}</a> 
  {{ /for }}
</section>