footer {
    grid-area: footer;

    .copyright {
        grid-column: 1;
        line-height: 1;
    }

    .space.horizontal {
        padding-right: 1em;
        margin-right: 1em;
        border-right: $border-width $border-style $mediumgrey;

        &:last-child {
            margin-right: 0;
            padding-right: 0;
            border-right: none;
        }
    }

    .right {
        grid-column: -1;
        display: flex;
        align-items: center;
        margin-left: auto;
        line-height: 1;

        svg {
            height: 100%;
            z-index: 9;
        }

        a,
        button {
            font-size: 1rem;
            border-radius: $border-radius-alt;
            padding: 0.5em;
            width: 2.5em;
            height: 2.5em;
        }
    }
}

button.toggle {
    display: inline;
    margin: 0;

    svg {
        --active: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 67%;
        color: $primary;
        color: var(--primary);
        transform: translate(-50%, -50%) rotate(calc(var(--active) * 180deg + 180deg)) scale(calc(var(--active) * 1));
        transition: $transition-medium;
        transition: var(--transition-medium);

        &:last-of-type {
            --active: 0;
        }
    }
}

@supports (display: grid) {
    footer {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: end;
        gap: $flow-space;
        gap: var(--flow-space);
    }
}
