*:hover + .tooltip,
*:focus + .tooltip {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.banner,
.tooltip {
    z-index: 9;
    font-family: $ffa;
    line-height: $line-height-small;
    letter-spacing: 0.03em;
    color: $inverse;
    color: var(--inverse);
    text-align: center;
    padding: 1.2em 1.8em;
    border-radius: $border-radius;
    background: $primary;
    background: var(--primary);

    &.info {
        color: $charcoalgrey;
        background: $primary;
    }
}

.no_tooltip .tooltip {
    display: none;
}

.tooltip {
    position: absolute;
    display: inline-block;
    pointer-events: none;
    bottom: -1rem;
    left: 50%;
    max-width: 28rem;
    opacity: 0;
    transform: translateX(-50%) scale(0);
    transition: $transition-short;
    transition: var(--transition-short);

    &::first-letter {
        text-transform: uppercase;
    }
}
