#pre_footer {
    grid-area: aside;
    grid-row-start: 2;
    max-width: 18rem;
    margin-top: $flow-space;
    margin-top: var(--flow-space);
}

#contact p {
    margin-bottom: $flow-space;
    margin-bottom: var(--flow-space);
}

#dark_mode_toggle {
    font-size: 2em;
    height: 1em;
    display: flex;
    background: none;
    border: none;
    padding: 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        height: 1em;
        transform: none;
        background: $primary;
        background: var(--primary);
        transform-origin: left;
        border-radius: 50%;
        transform: translateX(0) scaleX(1);
        transition: $transition-short;
        transition: var(--transition-short);
    }

    &:hover::after,
    &:focus::after {
        transform: scaleX(1.1);
    }

    svg {
        width: 1em;
        color: currentColor;
        transform: scale(0.75);
        z-index: 2;
    }
}
