#pre_footer {
    grid-area: aside;
    grid-row-start: 2;
    max-width: 18rem;
    margin-top: $flow-space;
    margin-top: var(--flow-space);
}

#contact p {
    margin-bottom: $flow-space;
    margin-bottom: var(--flow-space);
}
