@keyframes load {
    to {
        opacity: 1;
        transform: translate(0, 0) scale(1) rotate(0deg);
    }
}

body.loaded [data-stagger] .load {
    animation: load var(--TR-M) forwards running;
}

[data-stagger] .load {
    will-change: transform;

    &section {
        opacity: 0;
        transform: translateY(1em);
    }

    &.item {
        opacity: 0;
        transform: scale(0.8);
    }

    &.image {
        transform: scale(0);
    }
}

// [data-scroll] {
//     transition: var(--TR-M);
// }

// [data-scroll="false"] {
//     transform: scale(0.9);
// }

// [data-scroll="true"] {
//     transform: scale(1);
// }
