@keyframes load {
    to {
        opacity: 1;
        transform: translate(0, 0) scale(1) rotate(0deg);
    }
}

body.loaded [data-stagger] * {
    animation: load var(--TR-M) forwards running;
}

[data-stagger] {
    * {
        will-change: transform;
    }

    section {
        opacity: 0;
        transform: translateY(1em);
    }

    .item .image {
        transform: scale(2);
    }
}

// [data-scroll] {
//     transition: var(--TR-M);
// }

// [data-scroll="false"] {
//     transform: scale(0.9);
// }

// [data-scroll="true"] {
//     transform: scale(1);
// }
