.button,
button {
    display: inline-block;
    position: relative;
    box-shadow: none;
    line-height: 1;
    text-transform: lowercase;
    color: var(--CL-WHITE);
    font-weight: 700;
    padding: 0.7em 0.8em;
    margin: 0.5em 0;
    border-radius: var(--RADIUS);
    border: var(--BDR) solid var(--CL-1);
    background: var(--CL-1);
    overflow: hidden;
    transition: var(--TR-S);

    &::after,
    .button-animation {
        --scale: 0;
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 9em;
        height: 9em;
        border-radius: 50%;
        z-index: 0;
        transform: translate(-50%, -50%) scale(var(--scale));
        background: var(--CL-WHITE);
        pointer-events: none;
        transition: var(--TR-M);
    }
}

button,
.button,
[role="button"],
input[type="submit"] {
    cursor: pointer;
    transition: var(--TR-M), transform 0s;

    &:hover::after,
    &:focus::after {
        --scale: 1;
        opacity: 0;
        transition: var(--TR-M);
    }

    &:focus::after {
        opacity: 0.2;
    }
}

.toggle {
    color: var(--CL-2);
    font-size: 1.5em;
    width: 2em;
    height: 1em;
    padding: 0;
    border-radius: 0.5em;
    border: none;
    box-shadow: 0 0 0 0.1em currentColor;
    background: currentColor;
    cursor: pointer;

    &::after {
        color: var(--CL-WHITE);
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        opacity: 1;
        transform: none;
        background: currentColor;
        border-radius: 50%;
        box-shadow: 0.1em 0 0.2em -0.1em var(--SHADE-M);
    }

    &:hover::after,
    &:focus::after {
        opacity: 1;
        transform: translateX(10%);
    }

    svg {
        width: 37%;
        opacity: 0.24;
    }
}

html.dm #darkModeToggle {
    color: var(--CL-1);

    &::after {
        transform: translateX(100%);
    }

    &:hover::after,
    &:focus::after {
        transform: translateX(90%);
    }
}
