.grid {
    --item-width: 480px;
    --item-height: 480px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr));
    grid-auto-rows: var(--item-height);
    grid-gap: var(--PAD-S);
    height: auto;

    .item {
        position: relative;
    }

    .item>a {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: var(--BDR);
        transition: var(--TR-L);

        [data-image],
        [data-image] img {
            position: relative;
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            transition: var(--TR-M);
            will-change: transform;
        }

        [data-meta] {
            --opacity: 0;
            --translate: .2em;
            position: absolute;
            display: grid;
            align-items: center;
            align-content: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: var(--PAD-M);
            opacity: var(--opacity);
            transition: var(--TR-M);
        }

        [data-labels],
        [data-byline],
        [data-title] {
            transition: var(--TR-L);
            opacity: var(--opacity);
            transform: translateY(var(--translate));
            transition-delay: .3s;
            max-width: 30rem;
            color: var(--CL-G5);
        }

        [data-labels] {
            opacity: calc(var(--opacity) * .64);
            transform: translateY(calc(var(--translate) * -1));
        }

        &:hover,
        &:focus,
        &:focus-within {
        box-shadow: var(--SHADOW);

            img {
                transform: scale(.97);
                opacity: 0;
            }

            [data-meta] {
                --opacity: 1;
                --translate: 0;
                transition: var(--TR-L);
            }
        }
    }
}

@media screen and (max-width: $mq) {
    .grid {
        display: block;

        .item>a {
            position: relative;
            align-items: flex-start;
            align-content: flex-start;
            display: flex;
            flex-flow: column nowrap;
            height: auto;
            overflow: visible;
            margin-bottom: calc(var(--PAD-L) * 2);

            &:hover,
            &:focus,
            &:focus-within {
                border: none;
                background: transparent;
            }

            [data-image],
            [data-image]>img {
                opacity: 1 !important;
                max-height: none;
                height: auto;
                background: none;
            }

            [data-meta] {
                --opacity: 1;
                --translate: 0;
                position: relative;
                padding: 0;
                height: auto;
            }
        }
    }
}