nav {
    display: grid;
    padding-right: var(--PAD-M);

    a {
        padding-left: 1em;
    }

    .cta {
        margin-bottom: var(--PAD-L);
    }
}

.active {
    box-shadow: inset var(--BDR) 0 0 0 var(--CL-1);
    font-weight: 700;
}

.nav-end {
    position: relative;
    align-self: end;
}

.back-to-top {
    margin-top: var(--PAD-S);
    line-height: 1;
    color: var(--CL-3);

    [role="button"] {
        transition: var(--TR-S);

        &:hover,
        &:focus {
            filter: none;
            color: var(--CL-4);
        }
    }
}

@media screen and (max-width: $mq) {
    nav {
        margin-bottom: var(--PAD-L);
        font-size: 1.4em;
        line-height: 2;

        .nav-end {
            display: none;
        }

        .cta {
            margin: var(--PAD-L) 0;
        }
    }

    section > .nav-end {
        display: block;
        padding-top: 6em;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: var(--PAD-XL);
            left: 0;
            width: 100%;
            height: var(--BDR);
            background: var(--CL-2);
        }
    }

    .post-nav {
        flex-flow: row wrap;
        margin-top: 6em;

        .next,
        .previous {
            width: 100%;
        }

        .next {
            order: -1;
            padding-bottom: var(--PAD-XL);
        }
    }

    .back-to-top {
        text-align: right;
    }
}
