.post-nav {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: var(--PAD-L);

    .previous {
        margin-right: auto;
    }

    .next {
        text-align: right;
        margin-left: auto;
    }

    .next,
    .previous {
        width: calc(50% - var(--PAD-S));

        &:hover .link-title,
        &:focus .link-title {
            opacity: 1;
        }
    }

    .link-title {
        font-weight: 700;
        opacity: 0.63;
        transition: var(--TR-S);
    }
}

.body {
    max-width: 100%;
    margin: var(--PAD-M) 0;

    img {
        margin: var(--PAD-S) 0;
    }

    p,
    pre {
        margin: var(--PAD-M) 0;
    }
}

.meta {
    color: var(--CL-3);
}

.tags {
    opacity: 0.63;

    a:hover {
        color: var(--CL-3);
    }
}
