.post-nav {
    padding-top: var(--PAD-M);
    margin-top: 0;
    min-height: 30vh;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}

.post {
    padding: 0 calc(var(--PAD-L) + var(--PAD-M));
}

#previous-post,
#next-post {
    width: 50%;
    min-height: 12rem;
    display: flex;
    align-items: center;

    .link-title {
        position: relative;
        text-align: left;
        color: var(--CL-A1);
        font-weight: 700;
        font-size: var(--FS-M);
        transform: translateX(-1rem);
        margin-left: 1rem;
        transition: var(--TR-M) 0.1s;

        .label {
            text-align: inherit;
            display: block;
            font-weight: 700;
            color: var(--CL-G2);
        }
    }

    svg {
        position: absolute;
        width: 2.1rem;
        height: 2.1rem;
        top: 50%;
        left: -2.8rem;
        opacity: 0;
        transform: translateX(calc(var(--PAD-M) * -1)) translateY(-50%) scale(0.8);
        transition: var(--TR-M);

        polyline {
            stroke: var(--CL-A1);
        }
    }

    &:hover {
        color: var(--CL-A3);

        .link-title {
            color: var(--CL-A3);
            transform: translateX(0) scale(1);
        }

        .link-title svg {
            opacity: 1;
            transform: translateX(0) translateY(-50%) scale(1);
        }
    }
}

#next-post {
    justify-content: flex-end;
    justify-self: flex-end;

    .link-title {
        text-align: right;
        transform: translateX(1rem);
        margin: 0;
        margin-right: 1rem;
    }

    svg {
        left: auto;
        right: -2.8rem;
        transform: translateX(var(--PAD-M)) translateY(-50%) scale(0.8);
    }
}

.post {
    margin-bottom: var(--PAD-L);

    .main {
        margin: var(--PAD-L) 0;
        display: flex;
    }

    .meta {
        flex-shrink: 1;
        width: 25vw;
        margin-right: calc(var(--PAD-L) + 5vw);
        margin-bottom: var(--PAD-M);
    }

    .tags {
        margin: 0.5rem 0;
    }
}

.post.partial {
    margin-left: calc(var(--PAD-M) * -1);
    margin-right: auto;
    margin-bottom: var(--PAD-L);
    transition: var(--TR-S);
    padding: 0 var(--PAD-M);

    &:hover,
    &:focus-within {
        box-shadow: inset 5px 0 0 0 var(--CL-A2);
    }

    .read-more {
        font-size: 1.2rem;
        line-height: 2;
    }

    li {
        list-style-type: disc;
        margin-left: var(--PAD-S);
        font-size: 1.2rem;
        color: var(--CL-G5);
    }

    .body::first-letter {
        all: unset;
        color: inherit;
    }

    .tags {
        margin: 0 0 0.5rem 0;
    }

    .link,
    .link .title {
        color: var(--CL-G7);
        transition: 0.1s ease;

        &:hover,
        &:focus,
        &:hover *,
        &:focus * {
            color: var(--CL-A1);
        }
    }
}

.body {
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.6;
    color: var(--CL-G5);
    max-width: var(--p-width);

    &::first-letter {
        font-size: 135%;
        font-weight: 900;
        font-family: var(--FF-1);
        float: left;
        line-height: 0.6;
        color: var(--CL-0);
        padding: 0.7em 0.65em 0.65em 0.7em;
        margin: 0.18em 0.3em 0.1em 0;
        background: var(--CL-A2);
        clip-path: url(/_images/svg/wavy-mask.svg);
    }

    pre {
        padding: var(--PAD-S);
        margin: var(--PAD-M) 0;
        border: var(--BDR) solid var(--CL-G1);
        white-space: pre-wrap;
        word-wrap: break-word;
        line-height: 1.4;
    }

    h2 {
        margin: var(--PAD-S) 0;
        color: var(--CL-G7);
    }

    h4 {
        font-size: var(--FS-M);
        margin: var(--PAD-L) 0 0 0;
    }

    br {
        display: block;
        content: "";
        height: 1em;
    }

    em,
    ul,
    ol,
    li {
        color: inherit;
    }

    p,
    ul,
    img {
        margin: var(--PAD-S) 0;
    }

    li {
        margin-left: var(--PAD-S);
        list-style-type: disc;
    }

    img {
        object-fit: contain;
        height: auto;
    }

    .post-cta {
        display: block;
        padding-left: var(--PAD-S);
        box-shadow: inset 5px 0 0 0 var(--CL-A3);
        color: inherit;
    }
}

@media screen and (max-width: $mq) {
    .post-nav {
        flex-flow: row wrap;
    }

    #next-post,
    #previous-post {
        width: 100%;
        margin-top: var(--PAD-M);
        margin-bottom: var(--PAD-M);

        &:hover .link-title svg,
        &:focus .link-title svg {
            opacity: 0;
        }

        .link-title {
            margin: 0;
            transform: translate(0, 0);
            color: var(--CL-A3);
        }
    }

    #next-post {
        order: -1;
    }

    .post {
        .main {
            flex-flow: row wrap;
        }

        .meta {
            max-width: 100%;
            width: 100%;
        }

        code[class*="language-"],
        pre[class*="language-"] {
            font-size: 0.8em;
            word-break: break-all;
        }
    }

    .post.partial,
    .post.partial:hover,
    .post.partial:focus {
        box-shadow: none;
    }
}
