@font-face {
    font-family: Metropolis;
    src: local("Metropolis"), url("/_fonts/metropolis-regular.woff2") format("woff2"),
        url("/_fonts/metropolis-regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: Metropolis;
    src: local("Metropolis"), url("/_fonts/metropolis-semibold.woff2") format("woff2"),
        url("/_fonts/metropolis-semibold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
    unicode-range: U+000-5FF;
}

@font-face {
    font-family: Metropolis;
    src: local("Metropolis"), url("/_fonts/metropolis-regular-italic.woff2") format("woff2"),
        url("/_fonts/metropolis-regular-italic.woff") format("woff");
    font-style: italic;
    font-display: swap;
    unicode-range: U+000-5FF;
}

h1 {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0.2em;
    letter-spacing: -0.04em;
}

h3 {
    margin-bottom: var(--PAD-S);
    padding-top: var(--PAD-S);
}

h2,
h3,
h4 {
    line-height: 1.4;
}

p {
    font-size: 1rem;
    position: relative;
    margin-bottom: var(--PAD-S);

    &:last-of-type {
        margin-bottom: 0;
    }

    &~h4 {
        margin-top: var(--PAD-L);
    }

    &~ul,
    &~ol {
        margin: var(--PAD-S) 0;
        padding-left: 1em;

        li {
            list-style-type: disc;
            list-style-position: outside;
        }
    }

    a {
        text-decoration: underline;
        text-decoration-color: var(--CL-2);
        color: var(--CL-1);
        font-weight: 700;
        transition: var(--TR-S);

        &:hover,
        &:focus {
            filter: var(--FL-DARKEN);
        }
    }
}

pre,
code {
    font-family: monospace !important;
}

pre {
    border: var(--BDR) solid var(--CL-2);
    border-radius: var(--RADIUS);
    padding: var(--PAD-M);
}

blockquote {
    padding-left: 2em;
    border-left: var(--BDR) solid var(--CL-1);
}

::selection {
    color: white;
    background: var(--CL-1);
}