h1 {
    font-size: 2em;
    line-height: 1.2;
}

p {
    margin-bottom: var(--PAD-S);

    a {
        text-decoration: underline;
        color: var(--CL-1);
        font-weight: 700;
        transition: var(--TR-S);

        &:hover,
        &:focus {
            filter: var(--FL-DARKEN);
        }
    }

    &~ul,
    &~ol {
        margin: var(--PAD-S) 0;
        padding-left: 1em;

        li {
            list-style-type: disc;
            list-style-position: outside;
        }
    }
}

pre {
    border: var(--BDR) solid var(--CL-2);
    padding: var(--PAD-M);
}

pre,
code {
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: break-word;
}