h1 {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0.2em;
    letter-spacing: -0.04em;
}

h3 {
    margin-bottom: var(--PAD-S);
    padding-top: var(--PAD-S);
}

p,
p ~ ul,
p ~ ol {
    position: relative;
    margin-bottom: var(--PAD-S);

    a {
        text-decoration: underline;
        color: var(--CL-1);
        font-weight: 700;
        transition: var(--TR-S);

        &:hover,
        &:focus {
            filter: var(--FL-DARKEN);
        }
    }
}

p ~ ul,
p ~ ol {
    margin: var(--PAD-S) 0;
    padding-left: 1em;

    li {
        list-style-type: disc;
        list-style-position: outside;
    }
}

p:last-of-type {
    margin-bottom: 0;
}

pre,
code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
}

pre {
    border: var(--BDR) solid var(--CL-2);
    border-radius: var(--RADIUS);
    padding: var(--PAD-M);
}

p::selection {
    color: white;
    background: var(--CL-1);

    ::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(white, var(--CL-1));
        pointer-events: none;
    }
}
