:root {
    --CL-1: #0a0a0a;
    --CL-0: #ffffff;
    --CL-SHADE: rgba(0, 0, 0, 0.239);
    --CL-SHADE-DARKER: rgba(0, 0, 0, 0.431);
    --CL-SHADE-DARKEST: rgba(0, 0, 0, 0.671);
    --CL-TINT: rgba(255, 255, 255, 0.5);
    --CL-A1: #5db2da;
    --CL-A2: #2a91c0;
    --CL-A3: #2a6f8f;
    --CL-G1: #efefef;
    --CL-G2: #b6b6b6;
    --CL-G3: #979797;
    --CL-G4: #757575;
    --CL-G5: #5f5f5f;
    --CL-G6: #444444;
    --CL-G7: #292929;
    --TR-S: 0.19s cubic-bezier(0.1, 0.2, 0.3, 1);
    --TR-M: 0.38s cubic-bezier(0.1, 0.2, 0.3, 1);
    --TR-L: 0.7s cubic-bezier(0.2, 0.3, 0.4, 1);
    --PAD-S: 2rem;
    --PAD-M: 3rem;
    --PAD-L: 5rem;
    --BDR: 3px;
    --SHADOW: 2px 2px 3px -1px var(--CL-SHADE);
}

// SCSS variables
$mq: 60em;

*:focus,
*:focus-within {
    outline-color: var(--CL-A1) !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: var(--CL-1);
    text-align: left;
}

// general layout stuff

body,
html {
    background: var(--CL-0);
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        background: var(--CL-G1);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--CL-G3);
    }
}

.page:not(:target) {
    display: none;
}

body {
    position: relative;
    display: grid;
    min-height: 100vh;
    overflow-x: hidden;
}

body.dm {
    background: currentColor;

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    ul,
    ol,
    p img,
    ul img,
    ol img {
        filter: invert(1);
    }
    ul h1,
    ul h2,
    ul h3,
    ul h4,
    ul h5,
    ul p,
    ol h1,
    ol h2,
    ol h3,
    ol h4,
    ol h5,
    ol p {
        filter: none;
    }

    .wave-overlay::after {
        background-image: url(/_images/svg/wave-dark.svg);
    }

    .hero-text,
    .hero-aside {
        background: var(--CL-1);
    }
}

.section {
    --spacing: 2rem;
    --hero-height: calc(64vh - var(--spacing));
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    min-height: var(--hero-height);
    margin-bottom: calc(var(--spacing) * 0.5);
    padding-top: calc(var(--spacing) * 0.5);
    transition: var(--TR-M);
    padding: var(--PAD-M);

    * {
        z-index: 1;
    }

    &__body {
        width: 100%;
        max-width: 1080px;
    }

    &.fullwidth {
        padding: 0;
    }
}

.hero {
    display: grid;
    grid-template-columns: 1fr minmax(20rem, 1fr);
    min-height: 56rem;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    align-content: flex-end;
}

.hero-text,
.hero-aside {
    padding: var(--PAD-L);
    background: var(--CL-0);
}

.hero-text {
    grid-column-start: 2;
    color: var(--CL-A1);

    h1,
    div {
        color: inherit;
    }

    h1 {
        --extrude-color: var(--CL-A3);
        text-shadow: 1px 1px var(--extrude-color), 2px 2px var(--extrude-color), 3px 3px var(--extrude-color),
            4px 4px var(--extrude-color), 5px 5px var(--extrude-color);
    }
}

.hero-aside {
    grid-column-start: 2;
    grid-row-start: 2;
    padding-top: 0;

    div {
        max-width: 28rem;
    }
}

// imports
@import "typography", "nav", "buttons", "posts", "grids", "animations", "object-oriented", "forms";

footer {
    display: flex;
    position: relative;
    align-self: end;
    align-items: flex-end;
    text-align: right;
    padding: var(--PAD-L) var(--PAD-M) 0.5rem var(--PAD-M);
    color: var(--CL-G2);

    * {
        color: inherit;
        text-align: inherit;
    }

    .cta {
        justify-self: flex-start;
        text-align: left;
        margin-right: auto;
        margin-left: var(--PAD-M);
        color: var(--CL-G5);
        min-height: 22rem;

        p {
            max-width: 24em;
        }
    }

    .socials {
        display: block;
        margin-top: var(--PAD-S);
        line-height: 1.5;

        a {
            display: inline-block;
            margin: 0.2rem 0.2rem 0 0.2rem;

            [data-icon] {
                width: 1.1rem;
                margin: 0;
                font-weight: 400;
                transition: var(--TR-S);
            }

            &:hover [data-icon],
            &:focus [data-icon] {
                color: var(--CL-A2);
            }
        }
    }
}

// mobile styles

@media screen and (max-width: $mq) {
    :root {
        --PAD-S: 1rem;
        --PAD-M: 1.5rem;
        --PAD-L: 2.1rem;
        --SHADOW: 2px 2px 4px 0 var(--CL-SHADE);
    }

    .down-arrow {
        display: none;
    }

    .section {
        --hero-height: 50vh;
        --spacing: 10rem;
        width: 100%;
        min-height: 0;

        &__body {
            padding: 0;
            min-width: 0;
        }

        &.fullwidth {
            padding: 0;
        }

        &:first-of-type {
            margin-top: 4rem;
            margin-bottom: var(--PAD-M);
            min-height: 20rem;
        }
    }

    .image {
        margin: var(--PAD-S) 0;
    }

    [data-icon] {
        width: 6rem;
        margin-bottom: var(--PAD-M);
    }

    .hero {
        grid-template-columns: 1fr;
        min-height: 50vh;
        background-size: contain;

        .hero-text {
            margin: 50vw 0 var(--PAD-L) 0;
        }

        .hero-aside {
            height: auto;
        }
    }

    footer {
        flex-flow: row wrap;
        text-align: center;

        .nav-wrapper {
            margin: 0 auto;
        }

        .cta {
            width: 100%;
            margin: 0 0 6em 0;
        }
    }
}
