@font-face {
    font-family: Metropolis;
    src: url("/_fonts/metropolis-regular.woff2") format("woff2"), url("/_fonts/metropolis-regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Metropolis;
    src: url("/_fonts/metropolis-semibold.woff2") format("woff2"),
        url("/_fonts/metropolis-semibold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}

$mq: 1080px;

:root {
    font-size: 20px;
    --CL-1: rgb(236, 74, 53);
    --CL-2: lightgrey;
    --CL-3: #555;
    --CL-4: #32353a;
    --SHADE-S: rgba(0, 0, 0, 0.2);
    --SHADE-M: rgba(0, 0, 0, 0.4);
    --SHADE-L: rgba(0, 0, 0, 0.8);
    --PAD-S: 1em;
    --PAD-M: 3em;
    --PAD-L: 5em;
    --TR-S: 0.2s cubic-bezier(0.2, 0, 0.4, 1);
    --TR-M: 0.4s cubic-bezier(0.2, 0, 0.4, 1.3);
    --SHADOW: 1em 1em 2em 0 var(--SHADE-S);
    --BDR: 2px;
    --RADIUS: 5px;
    --FL-DARKEN: brightness(0.8) contrast(1.2);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-family: "Metropolis", "Arial", sans-serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

*:focus {
    outline-color: var(--CL-1);
}

body {
    color: var(--CL-4);
    line-height: 1.8;
    display: grid;
    grid-template-columns: calc(10vmax + 10rem) 1fr;
    grid-gap: var(--PAD-M);
    padding: 20vh var(--PAD-M) var(--PAD-S) var(--PAD-M);
}

body,
html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}

#main {
    min-height: 100vh;
    padding-left: var(--PAD-M);
}

section {
    margin-bottom: var(--PAD-M);

    &:last-of-type {
        margin-bottom: 0;
    }

    & > .nav-end {
        display: none;
    }
}

img,
svg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--RADIUS);
}

#main,
section {
    max-width: 44em;
}

footer {
    grid-column-end: span 2;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    min-height: 20vh;
    color: var(--CL-3);
    line-height: 1;

    .socials {
        display: flex;
        margin-left: auto;
        justify-self: end;
        text-align: right;

        a {
            margin-left: 0.5em;
            width: 1.5em;
            height: 1.5em;
            opacity: 0.63;
            transition: var(--TR-S);

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
}

@import "animations", "forms", "buttons", "nav", "gallery", "typography", "post", "darkMode";

@media screen and (max-width: $mq) {
    :root {
        font-size: calc(2vw + 10px);
        --PAD-S: 0.8em;
        --PAD-M: 1.5em;
        --PAD-L: 2.4em;
        --PAD-XL: 3.6em;
        --SHADE-L: rgba(0, 0, 0, 0.6);
    }

    body {
        grid-template-columns: 1fr;
        line-height: 1.6;
    }

    #main {
        padding: 0;
    }

    .post-nav .next,
    .post-nav .previous {
        width: 100%;
    }

    p {
        font-size: 1em !important;
    }

    code {
        font-size: 0.7em !important;
    }

    footer {
        max-width: 44em;
        grid-column-end: span 1;
        min-height: var(--PAD-M);
    }
}
