code[class*="language-"],
pre[class*="language-"] {
    color: #3d6270;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: .9em;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: break-word !important;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    span {
        font-family: inherit;
    }
}

code:not([class*="language-"]) {
    background: #eee;
    padding: 2px 5px;
    border-radius: 3px;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #2d2d2d;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token {

    &.comment,
    &.block-comment,
    &.prolog,
    &.doctype,
    &.cdata {
        color: #aaa;
    }

    &.punctuation {
        color: #777;
    }

    &.tag,
    &.attr-name,
    &.namespace,
    &.deleted {
        color: #3574b3;
    }

    &.function-name {
        color: #6196cc;
    }

    &.boolean,
    &.number,
    &.function {
        color: #e77736;
    }

    &.property,
    &.class-name,
    &.constant,
    &.symbol {
        color: #e4ae3b;
    }

    &.selector,
    &.important,
    &.atrule,
    &.keyword,
    &.builtin {
        color: #b872b9;
    }

    &.string,
    &.char,
    &.attr-value,
    &.regex,
    &.variable {
        color: #499566;
    }

    &.operator,
    &.entity,
    &.url {
        color: #3e9b99;
    }

    &.important,
    &.bold {
        font-weight: bold;
    }

    &.italic {
        font-style: italic;
    }

    &.entity {
        cursor: help;
    }

    &.inserted {
        color: green;
    }
}