@keyframes thin-in {
  from {
    opacity: 0;
    margin-left: .035em;
  }

  to {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes clip-in {
  to {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes scale-up {
  to {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out-hard {
  0% {
    opacity: 1;
    display: block;
  }

  99% {
    opacity: 0;
    display: block;
  }

  100% {
    display: none;
  }
}

@keyframes fade-in-from-top {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-from-bottom {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-from-left {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-from-right {
  from {
    opacity: 0;
    transform: translateX(1rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.splitting .word {
  display: inline-flex;
}

[data-animate] {
  --delay-amt: .2s;
  --play-state: running;
  --delay: 0s;
  opacity: 0;
  animation: fade-in var(--transitionMedium) forwards;
  animation-delay: var(--delay);
  animation-play-state: var(--play-state);

  &+[data-animate] {
    --delay: var(--delay-amt);

    &+[data-animate] {
      --delay: calc(var(--delay-amt) * 2);

      &+[data-animate] {
        --delay: calc(var(--delay-amt) * 3);

        &+[data-animate] {
          --delay: calc(var(--delay-amt) * 4);
        }
      }
    }
  }

  &.splitting .char {
    animation: fade-in var(--transitionShort) forwards;
    animation-play-state: var(--play-state);
  }

  &.splitting .char {
    animation-delay: calc(.04s * var(--char-index) + var(--delay) + var(--delay-amt));
  }
}

[data-animate="from-top"] {
  animation-name: fade-in-from-top;
}

[data-animate="from-bottom"] {
  animation-name: fade-in-from-bottom;
}

[data-animate="from-left"] {
  animation-name: fade-in-from-left;
}

[data-animate="from-right"] {
  animation-name: fade-in-from-right;
}

[data-animate="thin-in"].splitting .char {
  animation-name: thin-in;
  opacity: 0;
}

[data-animate*="clip-"] {
  animation: clip-in var(--transitionLong) forwards;
  animation-play-state: var(--play-state);
}

[data-animate="clip-left"] {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

[data-animate="clip-right"] {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}


[data-animate="background"] {
  background: none !important;
  color: var(--color, var(--blue));

  &::before {
    content: "";
    display: flex;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--background, var(--red));
    transform: scaleY(-.003);
    transform-origin: top;
    animation: scale-up var(--transitionLong) forwards;
    animation-play-state: var(--play-state);
  }
}

[data-offscreen] {
  --play-state: paused;
}