header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

nav,
footer {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 1rem 2rem;
}

.logo {
  display: inline-flex;
  gap: .2em;
  align-items: center;
  width: auto;
  height: 2em;
  fill: white;

  &::after {
    display: none;
  }

  &__icon {
    display: inline-block;
    width: auto;
    transition: var(--transitionShort);
  }

  &__wordmark {
    height: 1em;
  }

  &:hover,
  &:focus {
    .logo__icon {
      transform: rotate(45deg);
    }
  }
}

body {
  overflow-x: hidden;
}

section {
  min-height: var(--sectionHeight);
  padding: 0 var(--sectionPaddingX);

  &.space-y {
    margin-top: var(--sectionMarginY);
    margin-bottom: var(--sectionMarginY);
  }

  &.hero {
    max-width: none;
    padding-top: var(--sectionPaddingY);
    padding-bottom: var(--sectionPaddingY);
  }

  &.align-center {
    display: grid;
    align-items: center;
    align-content: center;
  }
}

footer {
  background: var(--blue);
  color: var(--lightgrey);

  .copyright {
    margin-right: auto;
  }

  .socials {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
  }
}

@media screen and (max-width: $mobile) {
  :root {
    --sectionPaddingX: 5vw;
  }

  nav,
  footer {
    padding: .5rem var(--sectionPaddingX);
  }

  .logo {
    &__wordmark {
      display: none;
    }
  }

  section.hero::after {
    bottom: calc(var(--sectionPaddingY) + 3rem);
  }
}