.post h2,
.post h3 {
  & + .grid {
    padding-top: $flow2;
  }
}

.post .grid {
  margin-top: $flow3;
  margin-bottom: $flow3;

  h2,
  h3,
  h4 {
    margin: $flow1 0 !important;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  img[src*="/technologies"] {
    height: 4em;
    width: auto;
    opacity: 0.85;
  }
}
