*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  border: none;
  outline: none;
  background-color: none;
  box-shadow: none;
  scrollbar-width: thin;
}

*:focus {
  outline: var(--border-width) solid var(--g6);
  outline-offset: var(--border-width);
}

::-webkit-scrollbar {
  width: 10px;
}

html {
  background: var(--g8);
  color: var(--g0);
  transition: background $transition;
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
}

body,
head {
  margin-top: 0;
  overflow-x: hidden;
}

img,
svg,
video {
  width: 100%;
  object-fit: cover;
}