details {
  transition: var(--transitionMedium);

  summary {
    color: var(--primary);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: .5rem;
    border-bottom: var(--borderWidth) solid currentColor;
    font-size: var(--fontSizeH3);
    margin-bottom: .5rem;
    list-style: none;
    transition: var(--transitionMedium);

    * {
      color: inherit;
    }

    &:hover {
      outline: none;
      color: var(--primary);
    }

    &:focus {
      outline: none;
    }

    &::marker,
    &::-webkit-details-marker {
      display: none;
      content: none;
    }
  }
}

.toggle {

  &__header {

    &--title {
      margin: 0;
    }

    &--button {
      margin-left: auto;
      font-weight: 300;
      transition: var(--transitionShort);
    }
  }

  &[open] {
    padding-bottom: 2rem;

    summary {
      color: var(--primary);
    }

    .toggle__header--button {
      transform: rotate(45deg);
    }

    .toggle__content--body {
      padding-top: 1rem;
    }
  }
}