.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.lightgrey {
  color: var(--lightgrey);
}

.bw {
  filter: grayscale(1);
}

.background-red {
  --background: var(--red);
  background: var(--red);
}

.background-blue {
  --background: var(--blue);
  background: var(--blue);
}

.italic {
  font-style: italic;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-flow: row wrap;
}

.gap-1 {
  column-gap: 1rem;
  gap: 1rem;
}

.gap-2 {
  column-gap: 1rem;
  gap: 2rem;
}

.span-2 {
  grid-column: span 2;
}

.text-columns-2 {
  column-count: 2;
}

.text-columns-3 {
  column-count: 3;
}

.columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &>* {
    max-width: 70rem;
  }
}

.columns-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &>* {
    max-width: 70rem;
  }
}

.columns-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.breakout-left {
  height: 100%;
  margin-left: calc(var(--sectionPaddingX) * -1);
}

.breakout-right {
  height: 100%;
  margin-right: calc(var(--sectionPaddingX) * -1);
}

.limited-width {
  width: 100%;
  max-width: 32rem;
}

.space-y-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.space-y-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.space-y-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.align-items {
  align-items: center;
}

.center {
  justify-self: center;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.rounded {
  border-radius: 3rem;
}

.overlap {
  margin-top: -5rem;
}

@media screen and (max-width:$mobile) {

  .columns-2 {
    grid-template-columns: 1fr;
  }

  .columns-3,
  .columns-4 {
    grid-template-columns: 1fr 1fr;
  }

  .text-columns-2,
  .text-columns-3 {
    column-count: 1;
  }

  .breakout-left,
  .breakout-right {
    width: 100vw;
    margin-right: 0;
    margin-left: calc(var(--sectionPaddingX) * -1);
    grid-column: span 2;
  }
}

@media screen and (max-width:math.div($mobile, 2)) {
  .columns-3 {
    grid-template-columns: 1fr;
  }
}