[data-glitch] {
  --intensity: 2;
  position: relative;

  &::before,
  &::after {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: attr(data-glitch);
    --y: -20%;
    clip-path: polygon(0 var(--y), 100% var(--y), 100% calc(var(--y) + var(--width)), 0 calc(var(--y) + var(--width)));
    animation: clipShift linear infinite alternate, glitch linear infinite alternate;
  }

  &::before {
    --width: .1em;
    left: calc(var(--intensity) * -1px);
    animation-duration: 7.1s;
    color: var(--secondary);
  }

  &::after {
    --width: .4em;
    left: auto;
    right: calc(var(--intensity) * -1px);
    animation-duration: 3.7s;
    color: var(--primary);
  }

  @keyframes clipShift {
    100% {
      clip-path: polygon(0 100%, 100% 100%, 100% calc(100% + var(--width)), 0 calc(100% + var(--width)));
    }
  }

  @keyframes glitch {
    19% {
      transform: none;
    }

    20% {
      transform: skewX(5deg);
    }

    21% {
      --width: .7em;
      transform: none;
    }

    43% {
      transform: none;
    }

    44% {
      transform: scaleX(99%);
    }

    45% {
      transform: none;
    }

    82% {
      transform: none;
    }

    83% {
      transform: skewX(-5deg);
    }

    84% {
      transform: none;
    }

    89% {
      transform: none;
    }

    90% {
      transform: skewX(5deg);
    }

    91% {
      transform: none;
    }
  }
}