@use "vars";

.everfault {
  font-size: .75em;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  margin: 0;

  &__gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(var(--primary), var(--secondary), var(--g8));
    mix-blend-mode: darken;
    pointer-events: none;
    z-index: 3;
  }

  &__letters {
    --x: 50vw;
    --y: -10vh;
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: 500;
    word-wrap: break-word;
    opacity: 1;
    scale: 1.01;
    mask-image: radial-gradient(circle calc(20vmax + 12rem) at var(--x) var(--y),
        rgb(255 255 255) 20%,
        rgb(255 255 255 / 25%),
        transparent);
    -webkit-mask-image: radial-gradient(circle calc(20vmax + 12rem) at var(--x) var(--y),
        rgb(255 255 255) 20%,
        rgb(255 255 255 / 25%),
        transparent);
  }
}

@media screen and (max-width:vars.$mobile) {
  .everfault {
    &__gradient {
      background-size: 300%;
      background-position: 50% 50%;
    }
  }
}