@use "vars";

body {
  font-family: vars.$font-family-text, sans-serif;
  line-height: 1.4;
  letter-spacing: 1px;
  font-size: var(--font-size-body);
}

.eyebrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 900;

  &>* {
    margin: 0;
  }
}

h1 {
  margin-left: -0.05em;
  font-size: 15.6vw;
  line-height: .8;
  letter-spacing: -.035em;
  font-family: vars.$font-family-display;
  user-select: none;
}

hr {
  border-top: 1px solid var(--g6);
}

::selection {
  background: var(--g0);
  color: var(--g8);
}

@media screen and (max-width:vars.$mobile) {
  h1 {
    font-size: 23vw;
  }
}