@use "sass:color";

/* Colors */
$g8: #000000;
$g7: #1f1f1f;
$g6: #3d3d3d;
$g5: #646464;
$g4: #9c9c97;
$g3: #dbd7d2;
$g2: #e4e4e4;
$g1: #f1f1f1;
$g0: #f7f4f0;
$primary: #bbafa2;
$secondary: #518393;

/* Effects */
$transition: 0.3s ease;
$transition-long: 1s cubic-bezier(.6, 0, .1, 1);
$transition-extra-long: 10s cubic-bezier(.1, 0.5, 0.4, 1);
$shadow: 0 0 0.63em -0.12em color.adjust($primary, $lightness: 20%);
$border-width: 1px;
$border: $border-width solid var(--g7);
$border-radius: 2rem;

/* Dimensions */
$mobile: 45rem;
$paragraph-width: 34rem;

/* Fonts */
$font-family-text: "Clash Grotesk", sans-serif;
$font-family-display: "Instrument Serif", serif;

$font-size-extra-large-desktop: calc(30px + 2vw);
$font-size-large-desktop: calc(18px + 1.3vw);
$font-size-medium-desktop: calc(17px + 1vw);
$font-size-body-desktop: calc(20px + .2vw);
$font-size-small-desktop: calc(11px + .2vw);
$font-size-extra-large-mobile: calc(19px + 2vw);
$font-size-large-mobile: calc(25px + 1.4vw);
$font-size-body-mobile: 17px;
$font-size-small-mobile: 12px;